mixin radio(data)
  -
    var className = data.className !== undefined ? data.className : 'ui-checkbox';
    var attr = {
      type: 'radio'
    };
    if (data.id !== undefined) attr.id = data.id;
    if (data.name !== undefined) attr.name = data.name;
    else if (data.id !== undefined) attr.name = attr.id;
    if (data.value !== undefined) attr.value = data.value;
    if (data.required !== undefined) attr.required = data.required;
    if (data.disabled !== undefined) attr.disabled = data.disabled;
  .radio
    label
      input(class=className)&attributes(attr)
      - var text = data.text !== undefined ? data.text : '';
      span #{text}