.contacts-foot
  .contacts-foot__item
    a.contacts-foot__link(href='tel:+375172241100')
      i.contacts-foot__icon.svg-contacts-foot--phone
      .contacts-foot__text +375 (17) 224-11-00
  .contacts-foot__item
    a.contacts-foot__link(href='#')
      i.contacts-foot__icon.svg-contacts-foot--location
      .contacts-foot__text г. Минск, пр&#8209;т&nbsp;Независимости, 36