.contacts-foot(itemscope="" itemtype="http://schema.org/Organization")
  .title Контакты
  .inner
    .address-wrap
      address.address(itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="address")
        | 220068, Республика Беларусь,
        br
        | Минск, ул. Каховская, 70а, 4 этаж
      span(itemprop="name").hide ЧУП «Студия Борового»
      .link-map
        a(href="#") Как проехать
    .tel-wrap
      .tel(itemprop="telephone")
        a(href='tel:+375172336636') +375 17 233-66-36
        |  Офис
      .tel(itemprop="telephone")
        a(href='tel:+375447932322') +375 44 793-23-22
        |  Velcom
      .tel(itemprop="telephone")
        a(href='tel:+375295662322 ') +375 29 566-23-22
        |  МТС