.contacts-foot {

  @media (max-width: $screen-sm-max) {
    margin-bottom: 2px;
  }

  &__item {
    display: inline-block;
    margin-bottom: 20px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 17px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    line-height: 1.4;
    text-decoration: none;
    color: $brand-white;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__icon {
    font-size: 0;
    line-height: 1;
    margin-top: 2px;
    margin-right: 10px;
  }
}