.about-page-2
  include ../../../components/demo/external-video/index
  include ../../../components/demo/b-info/index
  p Компания «Стройтекс ТК» развивается каждый день, привнося в нишу отделочных материалов что то новое и уникальное, не оставляя конкурентам шанс.
  include ../../../components/demo/advantages/index
  include ../../../components/demo/projects/index
  p Мы считаем, что гармония повседневной жизни начинается с уюта и эстетического наслаждения, получаемого от окружающего Вас пространства и мира. Отделочные материалы в интерьере добавляют уюта и индивидуальности. Для создания таких условий компания «Стройтекс ТК» делает интерьеры своих клиентов предметом удовольствия, не жалея сил, времени и фантазии. А фантазировать и стремиться к совершенству можно бесконечно!
  p С компанией «Стройтекс ТК» Ваш интерьер станет неповторимым произведением искусства, принадлежащим только Вам!