.contacts-head-2
  .b-wrap
    .drop
      .drop-link
        .link
          .text(data-city='0') Минск
      .submenu.dropdown-menu
        .item
          .link
            .text(data-city='1') Москва
        .item
          .link
            .text(data-city='2') Константинополь
    .tel-wrap
      .tel(data-city='0')
        a(href='tel:+375291150511') +375 (29) 115 05 11
      .tel(data-city='1')
        a(href='tel:+375951180522') +375 (95) 118 05 22
      .tel(data-city='2')
        a(href='tel:+375951184444') +375 (95) 118 44 44
    .btn-quest
      a(href='#questModal', data-toggle='modal')
        span.dot Заказать звонок