//================================================================================//
//================================== grid ========================================//
//================================================================================//

$enable-grid-classes:               true;
$grid-columns:                      12;
$grid-gutter-width:                 20px;

// media breakpoints
$screen-xl-min:                     1220px;
$container-xl:                      1180px + $grid-gutter-width;

$screen-lg-min:                     992px;
$container-lg:                      960px;
$screen-lg-max:                     ($screen-xl-min - .02);

$screen-md-min:                     768px;
$container-md:                      720px;
$screen-md-max:                     ($screen-lg-min - .02);

$screen-sm-min:                     576px;
$container-sm:                      540px;
$screen-sm-max:                     ($screen-md-min - .02);

$screen-xs-min:                     0;
$screen-xs-max:                     ($screen-sm-min - .02);

// Точка появления десктоп версии
$grid-breakpoint-min:               $screen-lg-min;
// Точка до которой работает мобильная версия
$grid-breakpoint-max:               $screen-md-max;

$site-min-width:                    300px;
$content-max-width:                 1200px;
$site-max-width:                    1920px;


//================================================================================//
//================================= colors =======================================//
//================================================================================//

// brands
$brand-1:                           #033550;
$brand-1-active:                    rgba($brand-1, .7);
$brand-2:                           #FFB900;
$brand-2-active:                    rgba($brand-2, .7);
$brand-3:                           #57a801;
$brand-3-active:                    rgba($brand-3, .7);

$brand-success:                     #28a745;
$brand-info:                        #17a2b8;
$brand-warning:                     #ffc107;
$brand-danger:                      #dc3545;

$brand-white:                       #ffffff;
$brand-gray-1:                      #f8f9fa;
$brand-gray-2:                      #e9ecef;
$brand-gray-3:                      #dee2e6;
$brand-gray-4:                      #ced4da;
$brand-gray-5:                      #adb5bd;
$brand-gray-6:                      #6c757d;
$brand-gray-7:                      #495057;
$brand-gray-8:                      #343a40;
$brand-gray-9:                      #212529;
$brand-gray-10:                     #022132;
$brand-black:                       #000000;

$brand-light:                       $brand-gray-1;
$brand-dark:                        $brand-gray-8;

$body-bg-color:                     $brand-white;
$body-bg-outer-color:               $brand-gray-4;

$headings-color:                    #022132;
$text-color:                        #022132;
$text-footer-color:                 $brand-white;
$disabled-color:                    $brand-gray-2;

$link-color:                        $brand-1;
$link-color-hover:                  $brand-2;
$link-color-active:                 $brand-1-active;
$link-color-active-hover:           $brand-2-active;

$border-color-base:                 #022132;

$state-success-text:                lighten($brand-success, 10%);
$state-success-bg:                  lighten($brand-success, 29%);
$state-danger-text:                 $brand-danger;
$state-danger-bg:                   lighten($brand-danger, 29%);

$caption-color:                     #688696;;

$input-bg:                          $brand-white;
$input-color:                       $text-color;
$input-border-color:                #022132;
$input-focus-border-color:          $brand-2;
$input-error-border-color:          $brand-danger;
$input-placeholder-color:           #688696;;


//================================================================================//
//================================ Typography ====================================//
//================================================================================//
$font-family-base:                  $font-r;

$font-size-root:                    10px;
$font-size-base:                    1.6rem; // Assumes the browser default, typically `16px`
$font-size-lg:                      2.0rem;
$font-size-sm:                      1.4rem;
$font-size-xs:                      1.2rem;

$line-height-base:                  1.35;

// Headings
$headings-margin-bottom:            0.5rem;
$headings-font-family:              $font-lsb;
$headings-line-height:              1.1;

$font-size-h1:                      5.8rem;
$font-size-h1-small:                4.0rem;
$font-size-h2:                      4.0rem;
$font-size-h3:                      2.6rem;
$font-size-h4:                      2.2rem;
$font-size-h5:                      1.8rem;
$font-size-h6:                      1.6rem;

$line-height-h1:                    1.21;
$line-height-h1-small:              1.4;
$line-height-h2:                    1.4;
$line-height-h3:                    1.4;
$line-height-h4:                    1.4;
$line-height-h5:                    1.4;
$line-height-h6:                    1.4;

$head-margin-h1:                    0 0 3rem;
$head-margin-h1-small:              0 0 1.5rem;
$head-margin-h2:                    2.5rem 0 1.3rem;
$head-margin-h3:                    2.1rem 0 0.65rem;
$head-margin-h4:                    1.4rem 0 0.65rem;
$head-margin-h5:                    1.6rem 0 0.65rem;
$head-margin-h6:                    1.5rem 0 0.65rem;

// Paragraph
$paragraph-margin-bottom:           .7em;

// Links
$link-decoration:                   none;
$link-decoration-hover:             none;
$transition-default:                all .25s ease;
$transition-link:                   $transition-default;


//================================================================================//
//================================ Border-radius =================================//
//================================================================================//
$border-radius-base:                0;


//================================================================================//
//==================================== Forms =====================================//
//================================================================================//
// Inputs
$input-font-size:                   18px;
$input-line-height:                 1.4;


//================================================================================//
//================================ z-index =======================================//
//================================================================================//
$zindex-dropdown:                   1000;
$zindex-modal-backdrop:             1040;
$zindex-modal:                      1050;
$zindex-popover:                    1060;
$zindex-tooltip:                    1070;


//================================================================================//
//================================ caption =======================================//
//================================================================================//
$caption-font-size:                 1.2rem;
$caption-font-family:               $font-i;


//================================================================================//
//================================ Shadow ========================================//
//================================================================================//
$box-shadow-base: 0px 4px 15px rgba(0, 0, 0, 0.2);


//================================================================================//
//=========================== style optimization =================================//
//================================================================================//
// https://getbootstrap.com/docs/4.3/layout/grid/#order-classes
$enable-grid-order:                 true;// включаем классы для сортировки гридов

// https://getbootstrap.com/docs/4.3/utilities/display/
$enable-utils-display:              true;// включаем классы для управления отображением на разных разрешениях

// https://getbootstrap.com/docs/4.3/utilities/flex/
$enable-utils-flex:                 true;// включаем классы для управления flexbox

// https://getbootstrap.com/docs/4.3/utilities/float/
$enable-utils-float:                true;// включаем классы для управления float

// https://getbootstrap.com/docs/4.3/utilities/sizing/
$enable-utils-sizing:               true;// включаем классы для управления sizing

// https://getbootstrap.com/docs/4.3/utilities/spacing/
$enable-utils-spacing-simple-vertical:    true;// включаем классы для управления spacing без media запросов (только вертикальные)
$enable-utils-spacing-simple:             true;// включаем классы для управления spacing без media запросов
$enable-utils-spacing-important:          false;// включаем классы для управления spacing без media запросов с important
$enable-utils-spacing-media:              true;// включаем классы для управления spacing на media запросах