.form-calculator-2 {
  margin-bottom: 100px;

  &__inner {
    position: relative;
  }

  .btn-wrap {
    display: flex;
    margin-top: 20px;
  }

  .btn {
    flex: 1 0 auto;
    margin-left: auto;
    margin-right: auto;
    color: $brand-black;
  }
}