include ../../../block/card-links/index

.reliability
  .reliability__title-row.row
    .reliability__title-col.reliability__title-col--title.col-lg-6.col-12
      .h2.mt-0.reliability__title Корэксгарант — надежная доставка отправлений
    .reliability__title-col.reliability__title-col--text.col-xl-4.col-lg-5.col-12
      .reliability__title-text Гарантируем качественное и беспроблемное поддержание деловых отношений
  +card-links({
      colClassName: 'col-lg-4 col-md-6 col-12',
      cards: [
          {
              img: 'img/tmp/card-links-01.svg',
              imgHover: 'img/tmp/card-links-01-active.svg',
              title: 'Сохранность',
              text: 'Доставим посылку до любой точки в полной сохранности'
          },
          {
              img: 'img/tmp/card-links-02.svg',
              imgHover: 'img/tmp/card-links-02-active.svg',
              title: 'Оперативность',
              text: 'Обеспечиваем доставку отправлений в кротчайшие сроки'
          },
          {
              img: 'img/tmp/card-links-03.svg',
              imgHover: 'img/tmp/card-links-03-active.svg',
              title: 'Отслеживание',
              text: 'Предоставляем возможность отслеживания статуса отправления'
          }
      ]
  })