.error404
  .title
    | ошибка 404
  h1
    | Извините, страница не найдена
  p.text
    | Возможно вы ошиблись при вводе адреса, либо использовали неверную ссылку.
    a(href='/')
      span Вернуться на главную