.error404 {
  padding: 20px 0 0;

  @media (max-width: $screen-sm-max) {
    padding-top: 30px;
  }

  .title {
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5px;
  }

  .text {
    margin: 0 0 20px;

    a {
      display: block;
      text-decoration: none;
      margin-top: 4px;

      &:before {
        content: '←';
        margin-right: 5px;
      }

      span {
        text-decoration: underline;
      }
    }
  }
}