//-
  modules/search.html
  Standart_project v0.6.0
  Borovoy Studio - https://db.by/
  .search - модуль Поиск (modules/search.less)
include ../../../components/base/btns/btn/index
.search
  form(action='/search/', method='get')
    input(type='hidden', name='tags', value='')
    input(type='hidden', name='how', value='r')
    fieldset.field
      .wrap
        input#searchinp-long.input.form-control(type='search', value='', placeholder='Поиск по сайту', name='q', maxlength='50', required='')
      .submit
        label
          +btn-primary({type: 'input', text: 'Найти'})(name='btn-search')