blockquote.style-3
  .h2.title Для справки.
  |  Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации, программатор SIMATIC Field PG), шкаф, пульт Rittal, смазка Willy Vogel, гидравлика Bosh, комплект подшипников, ШВП Kuhn, кабелеукладчики и кабели KABELSCHLEPP и Lappkabel, комплект прецизионных оправ ок,

