include ../../../../components/sliders/template/sl-search-us/index
include ../../../../components/sliders/nav/sl-nav/index
include ../../../../components/sliders/pager/sl-pager/index

+sl-search-us({
    title: 'Как нас найти',
    pager: 'sl-pager',
    slides: [
        {
            img: 'img/tmp/sl-search-us.jpg'
        },
        {
            img: 'img/tmp/sl-search-us.jpg'
        },
        {
            img: 'img/tmp/sl-search-us.jpg'
        },
        {
            img: 'img/tmp/sl-search-us.jpg'
        },
        {
            img: 'img/tmp/sl-search-us.jpg'
        },
        {
            img: 'img/tmp/sl-search-us.jpg'
        }
    ]
})