.contacts
  .h2.title
    | Коммерческий отдел по Республике Беларусь и странам СНГ
  table.cont-table.table-div.table-reset
    tbody
      tr
        td
          b Коммерческий отдел по Республике Беларусь и странам СНГ
        td
          | +375 17 327-60-81
        td
          a(href='mailto:info@kupalauski.by') info@kupalauski.by
      tr
        td
          b  Бюро по РБ
        td
          | +375 17 327-60-81
        td
      tr
        td
          b Лапавок Рыгор Аляксандравіч
          .caption-text
            | Намеснік генеральнага дырэктара
        td
          | +375 17 327-60-81
        td
          a(href='mailto:info@kupalauski.by') info@kupalauski.by
      tr
        td
          b Турко Іосіф Эдмундавіч
          .caption-text
            | Намеснік генеральнага дырэктара
        td
          | +375 17 327-60-81
        td
      tr
        td
          b Шаўчэнка Валянціна Іосіфаўна
        td
          | +375 17 327-01-24
        td
  .h2.title
    | Аддзел знешніх сувязяў
  table.cont-table.table-div.table-reset
    tbody
      tr
        td
          b Коммерческий отдел по Республике Беларусь и странам СНГ
        td
          | +375 17 327-60-81
        td
          a(href='mailto:info@kupalauski.by') info@kupalauski.by
      tr
        td
          b  Бюро по РБ
        td
          | +375 17 327-60-81
        td
      tr
        td
          b Лапавок Рыгор Аляксандравіч
          .caption-text
            | Намеснік генеральнага дырэктара
        td
          | +375 17 327-60-81
        td
          a(href='mailto:info@kupalauski.by') info@kupalauski.by
      tr
        td
          b Турко Іосіф Эдмундавіч
          .caption-text
            | Намеснік генеральнага дырэктара
        td
          | +375 17 327-60-81
        td
      tr
        td
          b Турко Іосіф Эдмундавіч
          .caption-text
            | Намеснік генеральнага дырэктара
        td
          | +375 17 327-60-81
        td