/* contacts.scss */

// var ****************************************************************************************************************
//@_contacts:                                     29px;

// mixins *************************************************************************************************************

// styles *************************************************************************************************************
.contacts {

  .title {
	margin-top: 0;
  }

  .tel {
	margin: 0 0 30px;

	li {
	  display: block;
		margin: 0 0 6px;
	}
  }

  .mail {
	margin: 0 0 30px;

  	tr {
		border-top: 1px solid $border-color-base;
	}

	td {

	  &:first-child {
		padding-right: 30px;
	  }
	}
  }

  .popup-btn {
    margin: 0 0 26px;

	i {
	  margin-right: 8px;
	  position: relative;
	  top: 1px;
	}
  }

  .time {
	margin: 0 0 43px;

	li {
	  display: block;
	}
  }
}

.table-div {

  @media (max-width: $screen-xs-max) {

	&,
	tbody,
	tr,
	td {
	  display: block;
	}
  }
}

.cont-table {
  width: 100%;
  margin-bottom: 30px;

  tr {
    border-top: 1px solid $border-color-base;

    .g-wrap & {
      line-height: (20/14);
      padding: 7px 0 17px;
    }

	@media (min-width: $screen-sm-min) {

      .g-wrap & {
        padding: 0;
      }
	}

    + tr {
      border-top: 1px solid $border-color-base;
    }
  }

  td {

    .g-wrap & {
      padding: 7px 5px 10px;
      vertical-align: top;
    }

	@media (min-width: $screen-sm-min) {

      .g-wrap & {
        padding: 15px 25px 25px;
      }
	}

	&:first-child {

	  @media (min-width: $screen-sm-min) {
		width: 33.3%;
		padding-left: 20px;
	  }
	}
  }
}