.pm(class=DB.pmPushSite ? 'js-push-site' : '')
  .pm-backdrop
  .pm-wrap
    include ../../../components/header/hamburger/hamburger-closer/index
    .pm-inner
      include ../../../components/header/menu/menu-mob/index