// Блок генерируется через AJAX и JS на стороне Битрикса
ul.search-results.menu_level_1.break-word.list-reset(style='display: block')
  li.item_1
    a(href='#')
      | Велосипеды
    ul.menu_level_2.list-reset
      li.item_2
        a(href='#')
          b Ве
          | лобагажники и
          b Ве
          | локрепления
      li.item_2
        a(href='#')
          b Ве
          | лобагажники и
          b Ве
          | локрепления
  li.item_1
    a(href='#')
      | Велосипеды
    ul.menu_level_2.list-reset
      li.item_2
        a(href='#')
          | Переключатель передний Sram X.7
          b ве
          | рхний хомут
          b ве
          | рхняя тяга
      li.item_2
        a(href='#')
          | Переключатель передний Sram X.9
          b ве
          | рхний хомут
          b ве
          | рхняя тяга
      li.item_2
        a(href='#')
          b Ве
          | лоаптечка Force
      li.item_2
        a(href='#')
          b Ве
          | лоаптечка Force самоклеящаяся
      li.item_2
        a(href='#')
          b Ве
          | лоаптечка Red Sun, 48 заплаток+клей
      li.item_2
        a(href='#')
          b Ве
          | лозамок Force ECO
      li.item_2
        a(href='#')
          b Ве
          | лозамок Force LUX
      li.item_2
        a(href='#')
          b Ве
          | лозамок Force RON
      li.item_2
        a(href='#')
          b Ве
          | лозамок Force U-образный
// /END Блок генерируется через AJAX и JS на стороне Битрикса