blockquote.style-1
  img(src=DB.DIR + 'img/tmp/blockquote1.png', alt='blockquote', title='blockquote' class='pic')
  | Цитата с иконкой. Иконка может меняться дизайнером. Два динамика размещены на фронтальной панели, что исключает искажение звука, когда

