include ../../../block/card-links/index
include ../../../../components/sliders/template/sl-card-links/index
include ../../../../components/sliders/nav/sl-nav/index
include ../../../../components/sliders/pager/sl-pager/index

.d-none.d-lg-block
  +card-links({
      colClassName: 'col-lg-4 col-md-6 col-12',
      cards: [
          {
              img: 'img/tmp/card-links-04.svg',
              imgHover: 'img/tmp/card-links-04-active.svg',
              title: 'Работаем с 2000 года',
              text: 'Имеем опыт успешной доставки отправлений более 20 лет'
          },
          {
              img: 'img/tmp/card-links-05.svg',
              imgHover: 'img/tmp/card-links-05-active.svg',
              title: 'Отправляем 10 000 посылок в месяц',
              text: 'Нам доверяют тысячи клиентов'
          },
          {
              img: 'img/tmp/card-links-06.svg',
              imgHover: 'img/tmp/card-links-06-active.svg',
              title: 'Доставляем в 50 стран',
              text: 'Мы отправим вашу посылку в любую точку мира'
          }
      ]
  })
.d-block.d-lg-none
  +sl-card-links({
      nav: 'sl-nav',
      pager: 'sl-pager',
      slides: [
          {
              img: 'img/tmp/card-links-04.svg',
              imgHover: 'img/tmp/card-links-04-active.svg',
              title: 'Работаем с 2000 года',
              text: 'Имеем опыт успешной доставки отправлений более 20 лет'
          },
          {
              img: 'img/tmp/card-links-05.svg',
              imgHover: 'img/tmp/card-links-05-active.svg',
              title: 'Отправляем 10 000 посылок в месяц',
              text: 'Нам доверяют тысячи клиентов'
          },
          {
              img: 'img/tmp/card-links-06.svg',
              imgHover: 'img/tmp/card-links-06-active.svg',
              title: 'Доставляем в 50 стран',
              text: 'Мы отправим вашу посылку в любую точку мира'
          }
      ]
  })