.h1 H1 Тестовый заголовок
include ../../../components/block/lorem/index
.h2 H2 Заголовок второго уровня для сплошного набора текста. Ассортимент в торговле должен быть на 85% белорусским
include ../../../components/block/lorem/index
.h3 H3 Заголовок второго уровня для сплошного набора текста. Ассортимент в торговле должен быть на 85% белорусским
include ../../../components/block/lorem/index
.h4 H4 Заголовок второго уровня для сплошного набора текста. Ассортимент в торговле должен быть на 85% белорусским
include ../../../components/block/lorem/index
.h5 H5 Заголовок второго уровня для сплошного набора текста. Ассортимент в торговле должен быть на 85% белорусским
include ../../../components/block/lorem/index
.h6 H6 Заголовок второго уровня для сплошного набора текста. Ассортимент в торговле должен быть на 85% белорусским
include ../../../components/block/lorem/index