.about
  .about__bg
  .about__row.row
    .about__col.about__col--one
      h2.h2.mt-0.h2-square.about__title О нашей компании
      .about__text Курьерская служба доставки «Корэксгарант» — надежный способ доставить документы, отправления, корреспонденцию в сжатые сроки, так же вас приятно порадует большое количество маршрутов: доставка письменной корреспонденции осуществляется по Беларуси, России, странам СНГ и Балтии, ближнему и дальнему зарубежью
      .about__items
        .about__items-row.row
          .about__items-col
            .about__items-num XX
            .about__items-text Лет успешной работы
          .about__items-col
            .about__items-num XX
            .about__items-text Стран мы обслуживаем
    .about__col.about__col--two
      .about__img-wrap-1
        img.about__img-1(src=DB.DIR + 'img/tmp/about-01.jpg', alt='about', title='about')
    .about__col.about__col--three
      .about__img-wrap-2
        img.about__img-2(src=DB.DIR + 'img/tmp/about-02.jpg', alt='about', title='about')
    .about__col.about__col--four
      .about__text2 Экспресс доставка Корэксгарант — верный партнер, предлагающий высокий сервис, оперативность, сохранность и безопасность по доступной стоимости
      +btn-light({text: 'Подробнее о нас', className: 'd-none d-lg-block about__btn', outline: true})
      +btn-primary({text: 'Подробнее о нас', className: 'd-block d-lg-none about__btn'})