include ../../../../components/base/btns/btn/index
.about
  .about__bg
    .about__bg-i
      img.parallax(src=DB.DIR+'img/tmp/about.jpg', alt='alt')
  .about__wrap
    .about__title О компании
    .about__text
      p
        | Компания была основана в 2007 году.
        br
        |Основным профилем деятельности «ИнстантБел» является оптовая торговля.
      p
        | Мы — поставщик #1 на территории Республики Беларусь по натуральным колбасным оболочкам (черева, синюги, пузыри); полиамидным и белковым колбасным оболочкам; сеткам и шпагатам для копченостей; пищевому целлофану; клипсам и петлям для колбасных изделий, а также специям и приправам.
    .about__btn
      +btn-primary({text: 'Подробнее', outline: true})