//-
  modules/search.html
  Standart_project v0.6.0
  .search - модуль Поиск (modules/search.less)
  .search-no-result - ничего не найдено (modules/search.less)
.search-no-result.h3
  | К сожалению, по Вашему запросу ничего не найдено.
// /noindex