.menu-mob
  ul.menu_level_1.list-reset.break-word
    li.item_1
      a(href='#')
        span Разработка проектов
    li.item_1
      a(href='#')
        span Продвижение сайтов
      a.icon(data-toggle='collapse', href='#accordion-m-12')
      #accordion-m-12.collapse.show.submenu
        ul.menu_level_2.list-reset
          li.item_2
            a(href='#')
              span Продвижение по позициям
          li.item_2
            span
              span Экспересс-SEO
          li.item_2.active
            a(href='#')
              span Развития проектов (Повышение конверсии)
          li.item_2.active
            span
              span SEO-аудит
          li.item_2
            a(href='#')
              span Стратегический поисковый маркетинг
          li.item_2
            a(href='#')
              span SERM-управление репутацией в поиске
    li.item_1.active
      a(href='#')
        span Техническая поддержка
    li.item_1.active
      span
        span Дизайн и проектирование
      a.icon.collapsed(data-toggle='collapse', href='#accordion-m-14')
      #accordion-m-14.collapse.submenu
        ul.menu_level_2.list-reset
          li.item_2
            a(href='#')
              span Пункт 11
          li.item_2
            span
              span Пункт 12
          li.item_2.active
            a(href='#')
              span Пункт 13 (дополнительная удлинняющая строка)
            a.icon.collapsed(data-toggle='collapse', href='#accordion-m-213')
            #accordion-m-213.collapse.submenu
              ul.menu_level_3.list-reset
                li.item_3
                  a(href='#') Страхование домашнего имущества
                li.item_3
                  a(href='#') Комплексное страхование помещений и ГО его владельцев
                li.item_3
                  a(href='#') Страхование строений
          li.item_2.active
            span
              span Пункт 14
            a.icon.collapsed(data-toggle='collapse', href='#accordion-m-214')
            #accordion-m-214.collapse.submenu
              ul.menu_level_3.list-reset
                li.item_3
                  a(href='#') Страхование домашнего имущества
                li.item_3
                  a(href='#') Комплексное страхование помещений и ГО его владельцев
                  a.icon.collapsed(data-toggle='collapse', href='#accordion-m-2141')
                  #accordion-m-2141.collapse
                    ul.menu_level_4.list-reset
                      li.item_4
                        a(href='#') Страхование домашнего имущества
                      li.item_4
                        a(href='#') Комплексное страхование помещений и ГО его владельцев
                      li.item_4
                        a(href='#') Страхование строений
                li.item_3
                  a(href='#') Страхование строений
          li.item_2
            a(href='#')
              span Пункт 15
          li.item_2
            a(href='#')
              span Пункт 16
    li.item_1
      a(href='#')
        span Битрикс 24