$_menu-mob-level-1-font-size:     22px;
$_menu-mob-level-2-font-size:     18px;
$_menu-mob-level-3-font-size:     16px;
$_menu-mob-level-4-font-size:     14px;
$_menu-mob-color:                 $brand-white;
$_menu-mob-color-hover:           $brand-2;
$_menu-mob-color-active:          $brand-2;

.menu-mob {
  @include clearfix();
  margin: 0 -10px 30px;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 24px;
  }

  [class*="menu_level_"] {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  [class*="item_"] {
    position: relative;

    > a,
    > span {
      line-height: 1.4;
      //letter-spacing: .009em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      padding-right: 15px;
      padding-left: 0;
      display: inline-block;
      color: $_menu-mob-color;

      &.icon {
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 30px;
        text-align: center;
        padding: 0;
        margin: 0;
        border-bottom: none;

        @media (max-width: $screen-sm-max) {
          height: 22px;
          top: 2px;
        }

        &:before {
          content: '';
          @include svg();
          @include svg-menu-mob-arrow();
          transform: rotate(90deg);
          transition: $transition-default;
        }

        &.collapsed {

          &:before {
            transform: rotate(0deg);
          }
        }
      }
    }

    > a {
      color: $_menu-mob-color;
      text-decoration: none;

      @include hover-focus() {
        color: $_menu-mob-color-hover;
      }
    }

    &.active {

      > a,
      > span {
        color: $_menu-mob-color-active;
      }

      > a {

        @include hover-focus() {
          color: $_menu-mob-color-hover;
        }
      }
    }
  }

  .menu_level_1 {

    .g-wrap & {
      padding: 0 10px;
      float: left;
      width: 50%;
      font-size: $_menu-mob-level-1-font-size;

      @media (max-width: $screen-sm-max) {
        font-size: 16px;
        width: 100%;
      }
    }
  }

  .item_1 {
    margin-bottom: 21px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 24px;
    }
  }

  .menu_level_2 {
    padding-top: 11px;
    font-size: $_menu-mob-level-2-font-size;

    @media (max-width: $screen-sm-max) {
      padding-top: 18px;
      font-size: 16px;
    }
  }

  .item_2 {
    margin-bottom: 10px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    > a,
    > span {
      padding-left: 70px;

      @media (max-width: $screen-sm-max) {
        padding-left: 50px;
      }
    }
  }

  .menu_level_3 {
    font-size: $_menu-mob-level-3-font-size;
  }

  .item_3 {

    > a,
    > span {
      padding-left: 51px;
    }
  }

  .menu_level_4 {
    font-size: $_menu-mob-level-4-font-size;
  }

  .item_4 {

    > a,
    > span {
      padding-left: 73px;
      padding-bottom: 18px;
    }
  }
}