$_menu-mob-level-1-font-size:     22px;
$_menu-mob-level-2-font-size:     18px;
$_menu-mob-level-3-font-size:     16px;
$_menu-mob-level-4-font-size:     14px;
$_menu-mob-color:                 $brand-white;
$_menu-mob-color-hover:           $brand-2;
$_menu-mob-color-active:          $brand-2;

.menu-mob {

  [class*="menu_level_"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  [class*="item_"] {
    position: relative;

    > a,
    > span {
      line-height: 1.4;
      //letter-spacing: .009em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      padding-right: 15px;
      padding-left: 0;
      display: inline-block;
      color: $_menu-mob-color;

      &.icon {
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 30px;
        text-align: center;
        padding: 0;
        margin: 0;
        border-bottom: none;

        &:before {
          content: '';
          @include svg();
          @include svg-menu-mob-arrow();
          transform: rotate(90deg);
          transition: $transition-default;
        }

        &.collapsed {

          &:before {
            transform: rotate(0deg);
          }
        }
      }
    }

    > a {
      color: $_menu-mob-color;
      text-decoration: none;

      @include hover-focus() {
        color: $_menu-mob-color-hover;
      }
    }

    &.active {

      > a,
      > span {
        color: $_menu-mob-color-active;
      }

      > a {

        @include hover-focus() {
          color: $_menu-mob-color-hover;
        }
      }
    }
  }

  .menu_level_1 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    font-size: $_menu-mob-level-1-font-size;
  }

  .item_1 {
    flex: 0 0 50%;
    max-width: 50%;
    float: left;
    padding: 0 10px;
    margin-bottom: 21px;
  }

  .menu_level_2 {
    padding-top: 11px;
    font-size: $_menu-mob-level-2-font-size;
  }

  .item_2 {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    > a,
    > span {
      padding-left: 70px;
    }
  }

  .menu_level_3 {
    font-size: $_menu-mob-level-3-font-size;
  }

  .item_3 {

    > a,
    > span {
      padding-left: 51px;
    }
  }

  .menu_level_4 {
    font-size: $_menu-mob-level-4-font-size;
  }

  .item_4 {

    > a,
    > span {
      padding-left: 73px;
      padding-bottom: 18px;
    }
  }
}