.element-accord
  #accordion-0.acc-group
    .panel
      .acc-heading
        a.link.arrow.collapsed(data-toggle='collapse', href='#accordion-01')
          span.icon.list-ic Подробное описание модели
      #accordion-01.collapse(data-parent='#accordion-0')
        .acc-body
          | Добрый день! Поездку в Турцию можно начинать планировать в конце января — начале февраля, когда появляются цены на отели по акции раннего бронирования. Главное, что Вы должны помнить при бронирования тура по акции, в дальнейшем Вам нельзя будет переиграть даты, количество людей или отель. Так что нужно точно знать сроки поездки, быть уверенным, что все участники смогут поехать и тщательно выбрать отель. В этом Вам могут помочь наши менеджеры.
    .panel
      .acc-heading
        a.link.arrow.collapsed(data-toggle='collapse',href='#accordion-02')
          span.icon.video Видео
      #accordion-02.collapse(data-parent='#accordion-0')
        .acc-body
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    .panel
      .acc-heading
        a.link.arrow(data-toggle='collapse', href='#accordion-03')
          span.icon.request Отзывы
      #accordion-03.collapse.show(data-parent='#accordion-0')
        .acc-body
          | Максимальная сумма (лимит) рассчитывается в валюте перевода
          =' '
          a(href='#') по безналичному курсу банка,
          |                     лимит зафиксирован в рублях, при смене курса валюты вместе с ним изменяется лимит.
    .panel
      .acc-heading
        a.link.arrow.collapsed(data-toggle='collapse', href='#accordion-04')
          span.icon.download Файлы для скачивания
      #accordion-04.collapse(data-parent='#accordion-0')
        .acc-body
          | Максимальная сумма (лимит) рассчитывается в валюте перевода
          =' '
          a(href='#') по безналичному курсу банка,
          |                     лимит зафиксирован в рублях, при смене курса валюты вместе с ним изменяется лимит.
    .panel
      .acc-heading
        a.link.arrow.collapsed(data-toggle='collapse', href='#accordion-05')
          span.icon.tools Характеристики
      #accordion-05.collapse(data-parent='#accordion-0')
        .acc-body
          | Максимальная сумма (лимит) рассчитывается в валюте перевода
          =' '
          a(href='#') по безналичному курсу банка,
          |                     лимит зафиксирован в рублях, при смене курса валюты вместе с ним изменяется лимит.