include ../../../block/reviews-items/index
include ../../../../components/sliders/template/sl-reviews/index
include ../../../../components/sliders/nav/sl-nav/index
include ../../../../components/sliders/pager/sl-pager/index

.reviews
  h2.h2.mt-0.h2-square.reviews__title Отзывы наших клиентов
  .d-none.d-md-block
    +reviews-items({
        cards: [
            {
                img: 'img/tmp/reviews-items-01.png',
                title: 'Название компании',
                date: '15.10.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-02.png',
                title: 'Название компании',
                date: '10.10.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-03.png',
                title: 'Название компании',
                date: '01.10.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-04.png',
                title: 'Название компании',
                date: '28.09.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-05.png',
                title: 'Название компании',
                date: '24.09.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-06.png',
                title: 'Название компании',
                date: '12.09.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-07.png',
                title: 'Название компании',
                date: '01.09.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-08.png',
                title: 'Название компании',
                date: '26.08.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
        ]
    })
  .d-block.d-md-none
    +sl-reviews-items({
        pager: 'sl-pager',
        slides: [
            {
                img: 'img/tmp/reviews-items-01.png',
                title: 'Название компании',
                date: '15.10.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-02.png',
                title: 'Название компании',
                date: '10.10.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-03.png',
                title: 'Название компании',
                date: '01.10.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-04.png',
                title: 'Название компании',
                date: '28.09.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-05.png',
                title: 'Название компании',
                date: '24.09.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-06.png',
                title: 'Название компании',
                date: '12.09.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-07.png',
                title: 'Название компании',
                date: '01.09.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
            {
                img: 'img/tmp/reviews-items-08.png',
                title: 'Название компании',
                date: '26.08.2021',
                text: 'Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва. Текст отзыва.',
                doctext: 'Скан документа'
            },
        ]
    })
