$_sl-pager-bg:                            #688696;
$_sl-pager-active-bg:                     $brand-2;
$_sl-pager-dot-width:                     12px;

.sl-pager {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  ul {
    margin: 0;
    line-height: 1;
  }

  li,
  > a {
    cursor: pointer;
    display: inline-block;
    width: $_sl-pager-dot-width;
    height: $_sl-pager-dot-width;
    margin: 0 7.5px;
    position: relative;

    @media (max-width: $screen-sm-max) {
      width: 10px;
      height: 10px;
      margin: 0 5px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: $_sl-pager-bg;
      transition: $transition-link;
      border: 1px solid $_sl-pager-bg;
    }

    .desktop & {

      @include hover-focus() {

        &:after {
          background: $_sl-pager-active-bg;
          border-color: $_sl-pager-active-bg;
        }
      }
    }

    &.selected,
    &.slick-active {
      cursor: default;

      &:after {
        background: $_sl-pager-active-bg;
        border-color: $_sl-pager-active-bg;
      }
    }

    button,
    span {
      display: none;
    }
  }
}