$_hamburger-bg: $brand-gray-10;

.hamb-wrap {
  position: relative;
  @include mobile-height;
  justify-content: flex-end;
  width: 25px;
}

.hamburger {
  float: right;
  border: none;
  cursor: pointer;
  height: 16px;
  width: 25px;
  transition: 0.3s;
  padding: 0;
  background: transparent;
  outline: none;
  user-select: none;
  position: relative;

  &.pm-opener {
    opacity: 1;
  }

  .ico {
    top: 50%;
    border: none;

    &,
    &:before,
    &:after {
      position: absolute;
      height: 1px;
      left: 0;
      width: 100%;
      transition: $transition-default;
      background: $_hamburger-bg;

      .main .header__desktop:not(.header__desktop--scroll) & {

        @media (min-width: $screen-md-min) {
          background: $brand-white;
        }
      }
    }

    &:before,
    &:after {
      content: '';
      transform-origin: 3px center;
    }

    &:before {
      top: 8px;
    }

    &:after {
      top: -8px;
    }
  }

  &.opened {

    .ico {
      transform: scale3d(0.8, 0.8, 0.8);
      background: transparent;

      &:before,
      &:after {
        transform-origin: 50% 50%;
        top: 0;
      }

      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }

    &.pm-opener {
      opacity: 0;
    }
  }
}