.hamburger-closer {
  position: absolute;
  right: 14px;
  top: 32px;

  .pm-closer {
    width: 19px;
    height: 19px;
    background: transparent;
    cursor: pointer;

    &:before {
      @include svg;
      @include svg-hamburger-closer-menu();
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}