.hamburger-closer {
  position: absolute;
  right: 14px;
  top: 32px;

  .header & {
    width: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;

    .pm-open & {
      z-index: 0;
      opacity: 1;
      transition: $transition-default;
    }
  }

  .pm-closer {
    width: 19px;
    height: 19px;
    background: transparent;
    cursor: pointer;

    @include hover-focus() {

      &:before {
        @include svg-hamburger-closer-menu-hover();

        .header & {
          @include svg-hamburger-closer-menu-black();
        }
      }
    }

    &:before {
      @include svg;
      @include svg-hamburger-closer-menu();
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: $transition-default;

      .header & {
        @include svg-hamburger-closer-menu-black();
      }
    }
  }
}