include ../../../components/base/btns/btn/index
include ../../../components/base/btns/btns-brand/index

.header__desktop
  .container
    .header__row.row
      .header__col.header__col--logo
        include ../../../components/header/logo/logo-png/index
      .header__col.header__col--contacts
        include ../../../components/header/contacts/contacts-head-5/index
      .header__col.header__col--links.d-none.d-md-flex
        include ../../../components/header/head-links/index
      .header__col.header__col--hamb
        include ../../../components/header/hamburger/hamburger-opener/index