$header-mob-height:                 40px;
$header-additional-background:      $brand-gray-1;
$mob-menu-element-width-mob:        40px;
$mob-menu-element-width-xs:         50px;

@mixin mobile-height() {
  height: $header-mob-height;
  display: flex;
  justify-content: center;
  align-items: center;
  //width: $mob-menu-element-width-mob;
  //
  //@media (min-width: $screen-sm-min) {
  //  width: $mob-menu-element-width-xs;
  //}
}

@mixin mobile-height-item {
  line-height: 1.2;
  padding: 16px 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  opacity: 1;
  transition: $transition-default;

  @media (max-width: $grid-breakpoint-max) {
    min-width: $site-min-width;
  }

  .pm-open & {

    @media (max-width: $screen-sm-max) {
      z-index: 1001;
    }
  }

  &__mob {

    > .container {
      display: flex;
      align-items: center;
    }

    @media (min-width: $grid-breakpoint-min) {
      display: none;
    }
  }

  &__tools {
    flex: 0 0 100%;
    margin-left: auto;
    display: flex;
  }

  &__desktop {
    background: $brand-white;
    box-shadow: $box-shadow-base;
    transition: $transition-default;

    .main & {

      &:not(.header__desktop--scroll) {
        background: transparent;
        box-shadow: none;
      }
    }
  }

  &__row {
    display: flex;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (max-width: $screen-sm-max) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__col {
    padding-left: 10px;
    padding-right: 10px;

    &--logo {
      display: flex;
      align-items: center;
    }

    &--contacts {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 11px;

      @media (max-width: $screen-sm-max) {
        margin-right: 0;
      }
    }

    &--links {
      display: flex;
      align-items: center;
      margin-right: 40px;
    }

    &--hamb {
      display: flex;
      align-items: center;
      flex: 0 0 45px;
      max-width: 45px;
      position: relative;
    }
  }

  .layout-simple & {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);

    @media (max-width: $grid-breakpoint-max) {
      position: static;
      height: auto;
    }
  }

  hr {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

// При появлении свернутой админ-панели, фиксированный header сдвигается ниже
#panel {

  + #db {

    .header {
      top: 39px;
    }
  }
}