-
  var catData = {
    className: "cat--2",
    title: "Наши товары 2",
    list: [
      {
        className: "cols-3",
        img: "img/tmp/cat-1.jpg",
        title: "Краткий анонс данного товара"
      },
      {
        className: "cols-3",
        img: "img/tmp/cat-1.jpg",
        title: "Краткий анонс данного товара анонс данного товара анонс данного товара анонс данного товара анонс данного товара анонс данного товара анонс данного товара анонс данного товара анонс данного товара анонс данного товара анонс данного товара анонс данного товара анонс данного товара анонс данного товара анонс данного товара анонс данного товара"
      },
      {
        className: "cols-3",
        img: "img/tmp/cat-1.jpg",
        title: "Краткий анонс данного товара",
        btn: "Перейти в каталог"
      },
      {
        className: "cols-3",
        img: "img/tmp/cat-1.jpg",
        title: "Краткий анонс данного товара"
      },
      {
        className: "cols-3",
        img: "img/tmp/cat-2.jpg",
        text: "Колбасная оболочка",
        btn: "Перейти в каталог"
      },
      {
        className: "cols-3",
        img: "img/tmp/cat-2.jpg",
        title: "Краткий анонс данного товара",
        text: "Колбасная оболочка"
      },
      {
        className: "cols-2",
        img: "img/tmp/cat-2.jpg",
        text: "Колбасная оболочка"
      },
      {
        className: "cols-2",
        img: "img/tmp/cat-2.jpg",
        title: "Краткий анонс данного товара",
        text: "Колбасная оболочка"
      }
    ]
  }
include ../../../../components/pages/index/cat/index