//-
  modules/news-list-big.html
  Standart_project v0.6.0
  .news-list-big - Модуль Новости
.news-list-big.js-hover
  .item.js-hover-wrap
    a.link(href='#')
      .pic
        i.icon
        img.img(src=DB.DIR + 'img/tmp/modules/news-10.jpg', alt='Новость', title='Новость')
      .title
        | H3 увеличенный межстрочник. Станок модели СИ 380Т предназначен для токарной обработки прутков и биллетов из титановых сплавов с
    .date
      time.time(datetime='2014-06-20') 20 июня 2014
      .part
        a(href='#') Новости компании
    .text
      | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации, программатор SIMATIC Field PG
  .item
    .pic
      i.icon
      img.img(src=DB.DIR + 'img/tmp/modules/news-11.jpg', alt='Новость', title='Новость')
    .title
      | Максимальная ширина изображения 25% Станок модели СИ 380Т предназначен для токарной обработки прутков и биллетов
    .date
      time.time(datetime='2014-06-01') 1 июня 2014
      .part
        a(href='#') Отдых и развлечени
    .text
      | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации, программатор SIMATIC Field PG).
  .item
    .title
      a(href='#')
        | Максимальная ширина изображения 25% Станок модели СИ 380Т предназначен для токарной обработки прутков и биллетов
    .date
      time.time(datetime='2014-06-01') 1 июня 2014
    .text
      | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации, программатор SIMATIC Field PG).
  .item
    .title
      a(href='#')
        | Станок модели СИ 380Т
    .date
      time.time(datetime='2014-05-15') 15 мая 2014
      .part
        a(href='#') Новости компании
    .text
      | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации, программатор SIMATIC Field PG).