include ../../../../components/sliders/template/sl-cat/index
include ../../../../components/sliders/nav/sl-nav/index

+sl-cat({
    nav: 'sl-nav',
    slides: [
        {
            pic: 'sl-cat-0.jpg',
            title: 'Ламинат Ламинат Ламинат Ламинат Ламинат Ламинат Ламинат Ламинат Ламинат',
            text: 'Общеупотребительное название напольного покрытия на основе древесноволокнистой плиты высокой плотности, Общеупотребительное название напольного покрытия на основе древесноволокнистой плиты высокой плотности. Общеупотребительное название напольного покрытия на основе древесноволокнистой плиты высокой плотности.',
            btnText: 'Перейти в каталог',
            product: 'товаров',
            productQuant: '256',
            icon: 'laminate-cat-ic--big.png',
            active: true
        },
        {
            pic: 'sl-cat-0.jpg',
            title: 'Линолеум',
            text: 'Общеупотребительное название напольного покрытия на основе древесноволокнистой плиты высокой плотности. Общеупотребительное название напольного покрытия на основе древесноволокнистой плиты высокой плотности',
            btnText: 'Перейти в каталог',
            product: 'товаров',
            productQuant: '20',
            icon: 'linoleum-cat-ic--big.png',
            active: false
        },
        {
            pic: 'sl-cat-0.jpg',
            title: 'Панели ПВХ',
            text: 'Общеупотребительное название напольного покрытия на основе древесноволокнистой плиты высокой плотности',
            btnText: 'Перейти в каталог',
            product: 'товаров',
            productQuant: '177',
            icon: 'pvh-cat-ic--big.png',
            active: false
        },
        {
            pic: 'sl-cat-0.jpg',
            title: 'Ламинат Ламинат',
            text: 'Общеупотребительное название напольного покрытия на основе древесноволокнистой плиты высокой плотности',
            btnText: 'Перейти в каталог',
            product: 'товаров',
            productQuant: '1300',
            icon: 'saiding-cat-ic--big.png',
            active: false
        }
    ]
})