include ../../../sliders/template/sl-main-2/index
include ../../../sliders/pager/sl-pager/index
include ../../../sliders/nav/sl-nav/index

+sl-main-2({
    pager: 'sl-pager',
    nav: 'sl-nav',
    slides: [
        {
            pic: 'sl-main-2-0.jpg',
            title: '№1 на рынке веб-разработки и поискового маркетинга на протяжении 5 лет',
            text: '№1 в Беларуси по версии marketing.by и №11 в СНГ по верcии CMSmagazine',
            btnText: 'Подробнее о компании'
        },
        {
            pic: 'sl-main-2-1.jpg',
            title: 'Лифты и лифтовое оборудование',
            text: 'Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования'
        },
        {
            pic: 'sl-main-2-2.jpg',
            title: 'Лифты и лифтовое оборудование Лифты и лифтовое оборудование Лифты и лифтовое оборудование Лифты и лифтовое оборудование',
            text: 'Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования',
            btnText: 'Подробнее о компании'
        },
        {
            pic: 'sl-main-2-3.jpg',
            title: 'Лифты и лифтовое оборудование'
        }
    ]
})