.zaglushka
  h1
    | Сайт разрабатывается
  .text
    | Мы скоро запустимся, а пока звоните и пишите:
  .info
    .tel
      a(href='tel:+375173957868') +375 (17) 395-78-68
      |  Городской
    .tel
      a(href='tel:+375293432322') +375 (29) 343-23-22
      |  Velcom
    .tel
      a(href='tel:+375295662322') +375 (29) 566-23-22
      |  МТС
    .mail
      a(href='mailto:info@db.by') info@db.by
