.sitemap-simple a {
	font-weight: bold;
}

.b-site-map-level-1 a, .b-site-map-level-2 a, .b-site-map-level-3 a {
	font-weight: normal;
}

.menu-foot-2 .sitemap-menu .item_1 + .item_1:before{
    content: normal;
}