.studio.studio--white
  .inner
    .pic
      img(src=DB.DIR + 'img/studio--white.svg', alt='Студия Борового', title='Студия Борового')
    .text-wrap
      | Продвижение сайта —
      = ' '
      a.link(href='http://www.db.by/', target='_blank') Студия Борового