/* c_about_gallery */
.c_about_gallery .gallery_item .gallery_picture {
    position: relative;
    top: 4px;
    left: 4px;
    border: 2px solid #ccc;
}
.c_about_gallery .gallery_item .gallery_picture .gallery_picture_wrap {
    position: relative;
    top: -4px;
    left: -6px;
    margin-top: -2px;
    margin-right: -2px;
}
.c_about_gallery .gallery_item .gallery_picture .gallery_picture_wrap .img {
    padding: 3px;
    background-color: #fff;
    border: 2px solid #ccc;
}
._delimeter {
    display: none;
    width: 100%;
    height: 1px;
    clear: both;
}
@media (min-width: 1200px) {
    [class*="_item"].col-lg-10:nth-of-type(2n) + ._delimeter,
    [class*="_item"].col-lg-6:nth-of-type(3n) + ._delimeter,
    [class*="_item"].col-lg-5:nth-of-type(4n) + ._delimeter,
    [class*="_item"].col-lg-4:nth-of-type(5n) + ._delimeter {
        display: block;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    [class*="_item"].col-md-10:nth-of-type(2n) + ._delimeter,
    [class*="_item"].col-md-6:nth-of-type(3n) + ._delimeter,
    [class*="_item"].col-md-5:nth-of-type(4n) + ._delimeter,
    [class*="_item"].col-md-4:nth-of-type(5n) + ._delimeter {
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    [class*="_item"].col-sm-10:nth-of-type(2n) + ._delimeter,
    [class*="_item"].col-sm-6:nth-of-type(3n) + ._delimeter,
    [class*="_item"].col-sm-5:nth-of-type(4n) + ._delimeter,
    [class*="_item"].col-sm-4:nth-of-type(5n) + ._delimeter {
        display: block;
    }
}
@media (max-width: 767px) {
    [class*="_item"].col-xs-10:nth-of-type(2n) + ._delimeter,
    [class*="_item"].col-xs-6:nth-of-type(3n) + ._delimeter,
    [class*="_item"].col-xs-5:nth-of-type(4n) + ._delimeter,
    [class*="_item"].col-xs-4:nth-of-type(5n) + ._delimeter {
        display: block;
    }
}
