include ../../../sliders/template/sl-main/index
include ../../../sliders/pager/sl-pager/index
include ../../../sliders/nav/sl-nav/index

+sl-main({
  nav: 'sl-nav',
  slides: [
      {
        pic: 'img/tmp/sl-main-1.jpg',
        title: 'Курьерская служба <br>Корэксгарант',
        text: 'Быстрая доставка отправлений <br>по Беларуси и за границей',
        btnText: 'Посмотреть услуги',
        btnTextMob: 'Далее',
      },
      {
        pic: 'img/tmp/sl-main-1.jpg',
        title: 'Курьерская служба <br>Корэксгарант',
        text: 'Быстрая доставка отправлений <br>по Беларуси и за границей',
        btnText: 'Посмотреть услуги',
        btnTextMob: 'Далее',
      },
      {
        pic: 'img/tmp/sl-main-1.jpg',
        title: 'Курьерская служба <br>Корэксгарант',
        text: 'Быстрая доставка отправлений <br>по Беларуси и за границей',
        btnText: 'Посмотреть услуги',
        btnTextMob: 'Далее',
      }
  ]
})