.h2 Табы - Tabs
.tabs
  ul.nav.nav-tabs.list-reset(role="tablist")
    li.nav-item
      a.nav-link.active(href='#tab-1', data-toggle='tab')
        span Описание
    li.nav-item
      a.nav-link(href='#tab-2', data-toggle='tab')
        span Profile
    li.nav-item
      a.nav-link(href='#tab-3', data-toggle='tab')
        span Messages
    li.nav-item
      a.nav-link(href='#tab-4', data-toggle='tab')
        span Messages
  .tab-content
    #tab-1.tab-pane.fade.in.active.show(role='tabpanel')
      .h4 Lorem ipsum dolor sit amet.
      |             Луч полупрозрачен для жесткого излучения. Силовое поле отклоняет резонатор, что лишний раз подтверждает правоту Эйнштейна. Тело бифокально восстанавливает эксимер почти так же, как в резонаторе газового лазера. Гидродинамический удар неустойчив относительно гравитационных возмущений.
    #tab-2.tab-pane.fade(role='tabpanel')
      .h4 Consectetur adipisicing elit.
      |             Если предварительно подвергнуть объекты длительному вакуумированию, фронт отталкивает солитон только в отсутствие тепло- и массообмена с окружающей средой. Экситон неустойчиво индуцирует изобарический фотон, хотя этот факт нуждается в дальнейшей тщательной экспериментальной проверке. Многочисленные расчеты предсказывают, а эксперименты подтверждают, что атом восстанавливает элементарный газ, даже если пока мы не можем наблюсти это непосредственно.
    #tab-3.tab-pane.fade(role='tabpanel')
      .h4 Aliquam beatae delectus dolor.
      |             Резонатор, вследствие квантового характера явления, поглощает экситон, но никакие ухищрения экспериментаторов не позволят наблюдать этот эффект в видимом диапазоне. Исследователями из разных лабораторий неоднократно наблюдалось, как погранслой концентрирует фотон, хотя этот факт нуждается в дальнейшей тщательной экспериментальной проверке.
    #tab-4.tab-pane.fade(role='tabpanel')
      .h4 Pariatur quae ut.
      |             Колебание когерентно. Струя параллельна. Квазар, несмотря на внешние воздействия, трансформирует вращательный кварк, как и предсказывает общая теория поля. Самосогласованная модель предсказывает, что при определенных условиях гамма-квант сжимает коллапсирующий бозе-конденсат вне зависимости от предсказаний самосогласованной теоретической модели явления.