.menu-header
  .container
    .menu-header__head
      include ../../logo/logo-png/index
    .g-header_wrap.mb-2
      .row.align-items-center
        .col-5
          include ../contacts-head-base/index
        .col-3
          include ../../search/search-head/index
        .col-3
          include ../../question/btn-question/index
        .col-1
          include ../hamburger-closer-menu/index