.h2 Тип 4. Таблица с перестроением в слайдер
.sl_table
  table
    thead
      tr
        th Открытие вклада
        th в интернет-банке или банкоматах
        th в офисах банка
    tbody
      tr
        td Условия открытия
        td
          | доступ к&nbsp;
          a(href='#') интернет-банку
          |  и/или действующая банковская карта УБРиР
        td необходим паспорт
      tr
        td Процентная ставка
        td
          ul
            li до 7,5% рубли
            li 0,5% доллары США
            li 0,3% евро
        td
          ul
            li до 8% рубли до 8% рубли
            li до 1% доллары США
            li до 0,75% евро
      tr
        td Срок
        td 200 дней
        td бессрочно
      tr
        td Начисление и капитализация процентов
        td зачисление на вклад
          p (капитализация)
        td
          p на выбор клиента:
          ul
            li зачисление на вклад (капитализация)
            li перечисление на карточный счет