.item-quantity
  .item_buttons_counter_block.catalog-btn-counter
    .btn-pm
      a.bx_bt_button_type_2.bx_small.bx_fwb.btn-down.jq-number__spin.minus(href='javascript:void(0)', data-count-delta='1')
      input.tac.transparent_input.quantity.ui-spin.form-control(type='text', data-min='1', value='1')
      a.bx_bt_button_type_2.bx_small.bx_fwb.btn-up.jq-number__spin.plus(href='javascript:void(0)', data-count-delta='1')