.calculator
  .row
    .col-lg-7.col-12
      h2.h2.mt-0.h2-square.calculator__title Рассчитать стоимость
      .calculator__text Предлагаем онлайн-калькулятор для расчета стоимости доставки из любой страны в любую точку мира
  include ../form-calculator/index