.footer__inner
  .container
    .footer__row.footer__row--top.row
      .footer__col.footer__col--logo.col-lg-3.col-12
        include ../../../components/footer/logo-foot/index
      .footer__col.footer__col--menu.col-lg-6.col-12
        include ../../../components/footer/menu-foot-2/index
      .footer__col.footer__col--contacts.col-lg-3.col-12
        +btn-light({text: 'Личный кабинет', className: 'footer__btn', outline: true})
        include ../../../components/footer/contacts-foot/index
    .footer__small
      .footer__row.footer__row--bottom.row
        .footer__col.footer__col--copyright.col-md-3.col-12.order-2.order-md-0
          include ../../../components/footer/logo-foot-2/index
        .footer__col.footer__col--policy.col-md-3.col-12.order-0.order-md-1
          include ../../../components/footer/policy-foot/index
        .footer__col.footer__col--studio.col-md-6.col-12.order-1.order-md-2
          include ../../../components/footer/studio/index