.footer__inner
  .container
    include ../../../components/footer/subscription/index
    .row
      .col-lg-9.col-12
        include ../../../components/footer/menu-foot-2/index
      .col-lg-3.col-12
        .row
          .col-sm-6.col-lg-12.col-12
            include ../../../components/footer/contacts-foot/index
          .col-sm-6.col-lg-12.col-12
            include ../../../components/footer/contacts-foot-2/index
    .footer__small
      .row.footer__row
        .footer__left-col.col-md-4.col-12
          include ../../../components/footer/logo-foot/index
          include ../../../components/footer/logo-foot-2/index
          include ../../../components/footer/menu-foot/index
        .footer__middle-col.col-md-4.col-12
          include ../../../components/footer/social-foot/index
        .footer__right-col.col-md-4.col-12
          include ../../../components/footer/studio/index
          include ../../../components/footer/payment/index