$_footer-bg:                              $brand-1;

.footer {
  background: $_footer-bg;

  &__inner {
    padding-top: 75px;

    @media (max-width: $screen-md-max) {
      padding-top: 40px;
    }

    @media (max-width: $screen-sm-max) {
      padding-top: 60px;
    }
  }

  .layout-simple & {
    padding: 30px 0 15px;
  }

  &__small {
    margin-top: 36px;
    padding: 31px 0 30px;
    border-top: 1px solid #688696;
  }

  &__row {

  }

  &__col {

    &--menu {
      padding-top: 13px;
    }

    &--contacts {
      padding-top: 16px;
    }
  }

  &__btn {
    margin-bottom: 40px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 38px;
    }
  }
}