$_footer-bg:                              $brand-1;

.footer {
  background: $_footer-bg;

  .layout-simple & {
    padding: 30px 0 15px;
  }

  &__small {
    margin-top: 20px;
    padding: 25px 0 15px;
    border-top: 1px solid rgba($text-footer-color, .5);
  }
}