extends ../../tpl/main
block pageVars
  - DB.pageTitle = 'Order list';
  - DB.layout = 'wide';
  - DB.DIR = '../../';
block title
  h1#title Мои заказы
block content
  include ../../../components/basket/order_list/index