extends ../../tpl/main
block pageVars
  - DB.pageTitle = 'Basket step 2 Entity';
  - DB.layout = 'wide';
  - DB.DIR = '../../';
block title
  h1#title Оформление заказа
block content
  include ../../../components/basket/order-form/order_form-entity/index