extends ../../tpl/main
block pageVars
  - DB.pageTitle = 'Order detail';
  - DB.layout = 'wide';
  - DB.DIR = '../../';
block title
  h1#title Заказ
block content
  include ../../../components/basket/order_detail/index