.h2
  | Collapse c заменой части заголовка
.collapsed(data-toggle='collapse', data-target='#accordion-31')
  span.lnk-pseudo
    | Заголовок
    =' '
    span.closer
      | – Свернуть –
    span.opener
      | + Развернуть +
.collapse(id='accordion-31')
  | Добрый день! Поездку в Турцию можно начинать планировать в конце января — начале февраля, когда появляются цены на отели по акции раннего бронирования. Главное, что Вы должны помнить при бронирования тура по акции, в дальнейшем Вам нельзя будет переиграть даты, количество людей или отель. Так что нужно точно знать сроки поездки, быть уверенным, что все участники смогут поехать и тщательно выбрать отель. В этом Вам могут помочь наши менеджеры.