/* collapse-opener.scss */

// var ****************************************************************************************************************
//@_collapse-opener:                       29px;

// mixins *************************************************************************************************************

// styles *************************************************************************************************************
.closer,
.opener {
  cursor: pointer;
}

.closer {
  display: inline-block;
}

.opener {
  display: none;
}

.collapsed {

  .closer {
    display: none;
  }

  .opener {
    display: inline-block;
  }
}