.sl-main {
  position: relative;
  margin: -81px 0 0;

  @media (max-width: $screen-sm-max) {
    margin-top: 0;
  }

  .wrap {
    position: relative;
    width: $site-max-width;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: $screen-xs-max) {
      width: auto;
      left: 0;
      transform: translateX(0);
      margin: 0 $grid-gutter-width/-2;
    }

    &.inited-not {

      .slide {

        &:nth-child(1) {
          float: none;
        }

        &:nth-child(1n+2) {
          display: none;
        }
      }
    }
  }

  .inner {
    position: relative;
    height: 747px;

    @media (max-width: $screen-sm-max) {
      height: auto;
    }
  }

  .slide {
    overflow: hidden;
  }

  .bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: calc(50% + 375px) 0;
    background-repeat: no-repeat;
    background-color: $brand-1;

    @media (max-width: $screen-sm-max) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 455px;
      background-position: calc(50%) 0;
      background-repeat: no-repeat;
      background-color: $brand-1;
    }
  }

  .container {
    position: relative;
    height: 100%;
    padding-top: 144px;
    padding-bottom: 200px;
    
    @media (max-width: $screen-sm-max) {
      padding-top: 60px;
      padding-bottom: 0;
    }
  }

  .b-wrap {
    color: $brand-white;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 44px;
    }
  }

  .title {
    @include font-family-lato-semibold();
    font-size: 58px;
    line-height: 1.21;
    color: $brand-white;
    margin: 0 0 30px;
    //max-height: $line-height-h1 * 2em;
    overflow: hidden;

    @media (max-width: $screen-sm-max) {
      font-size: 34px;
    }
  }

  .text {
    font-size: 22px;
    line-height: 1.4;
    color: $brand-white;
    //max-height: $line-height-base * 4em;
    overflow: hidden;
    margin-bottom: 52px;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
      margin-bottom: 50px;
    }
  }

  .sl-main-btn {
    min-width: 280px;

    @media (max-width: $screen-xs-max) {
      min-width: auto;
      width: 100%;
    }
  }

  .b-bottom {
    position: absolute;
    bottom: 0;
    right: 510px;
    z-index: 0;

    @media (max-width: $screen-lg-max) {
      right: 0;
    }

    @media (max-width: $screen-sm-max) {
      position: relative;
      bottom: auto;
      right: auto;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100vw;
      background: $brand-2;
      z-index: -1;

      @media (max-width: $screen-sm-max) {
        left: 0;
        width: auto;
      }
    }
  }

  .b-bottom-wrap {
    display: flex;

    @media (max-width: $screen-sm-max) {
      flex-wrap: wrap;
    }
  }

  .b-bottom-left {
    display: flex;
    padding: 30px 0;

    @media (max-width: $screen-sm-max) {
      flex-wrap: wrap;
      padding: 0 20px;
    }
  }

  .b-bottom-right {
    flex: 0 0 80px;
    max-width: 80px;

    @media (max-width: $screen-sm-max) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .sl-nav {

    .prev,
    .next {
      position: relative;
    }
  }

  .slide-counter,
  .text-2-wrap {
    display: flex;
    flex-direction: column;
  }

  .slide-counter {
    flex: 0 0 110px;
    max-width: 110px;
    justify-content: center;
    padding: 0 0 0 9px;
    position: relative;
    @include font-family-lato-semibold();
    font-size: 60px;
    line-height: 1.2;
    color: $brand-gray-10;

    @media (max-width: $screen-sm-max) {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 26px 0 11px;
      font-size: 34px;
      text-align: center;
      border-bottom: 1px solid $brand-gray-10;
    }
  }

  .text-2-wrap {
    position: relative;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;

    @media (max-width: $screen-sm-max) {
      padding-top: 20px;
      padding-bottom: 25px;
      padding-left: 0;
      padding-right: 0;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background: $brand-gray-10;

      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
  }

  .text-2 {
    font-size: 22px;
    line-height: 1.4;
    color: $brand-gray-10;
    margin-bottom: 22px;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  .link {
    font-size: 22px;
    line-height: 1.4;
    color: $brand-gray-10;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }

    .icon {
      margin-left: 10px;
      vertical-align: 2px;
      font-size: 0;
      line-height: 1;

      @media (max-width: $screen-sm-max) {
        vertical-align: 1px;
      }
    }
  }
}