.social-foot
  .list
    a.item.svg-vk(href='#', target='_blank')
    a.item.svg-tw(href='#', target='_blank')
    a.item.svg-in(href='#', target='_blank')
    a.item.svg-you(href='#', target='_blank')