
//================================================================================//
//================================== main ========================================//
//================================================================================//
// Подключение шрифтов
include ../main/font-face/

// Переменные
include ../main/variables/

// Миксины
include ../main/mixins/


//================================================================================//
//================================== util ========================================//
//================================================================================//

// Генерация PNG-спрайта
include ../util/png/

// Встраивание SVG-картинок в CSS
include ../util/svg/

// Инит переменных для app.js
include ../util/ws_var/

// Список сверстанных страниц в сайдбаре
include ../util/ws_pages_toggle/

// Разрешения экрана из SCSS в app.js
include ../util/ws_screen/

// Чиним селект на стандартном браузере Андроида
include ../util/fixMobStockAndroid/

// Front-admin (только для тестирования)
//include ../util/front_admin/

//================================================================================//
//================================ detectors =====================================//
//================================================================================//
// Детектируем включенность JavaScript
include ../detector/detectJs/

// Детектируем IE и его версию
include ../detector/detectIE/

// Детектируем Операционную Систему
include ../detector/detectOS/

// Детектируем работу в PhantomJS
include ../detector/detectPhantom/


//================================================================================//
//=============================== base_styles ====================================//
//================================================================================//

// Сброс стилей по умолчанию
include ../base_styles/reboot/

// Гриды
include ../base_styles/grid/

// Стилизация классов display
include ../base_styles/display/

// Стилизация классов flex
include ../base_styles/flex/

// Стилизация классов float
include ../base_styles/float/

// Стилизация классов размеров
include ../base_styles/sizing/

// Стилизация классов вертикального и горизонтального ритма
include ../base_styles/spacing/

// clearfix
include ../base_styles/clearfix/

// helpers mixins
include ../base_styles/helpers/
