include ../../../../components/base/accordion/index
script.
    !function () {
        'use strict';

        $(function () {
            mCustomScrollbar.init($('.accordion').find('.acc-body'), 150);
        });
    }();