.about-2
  .about-2__bg
  .about-2__row.row
    .about-2__col.about-2__col--text
      .h2.h2-square.mt-0.about-2__title О нас
      .about-2__text
        p Экспресс доставка Корэксгарант — верный партнер, предлагающий высокий сервис, оперативность, сохранность и безопасность по доступной стоимости.
        p Вас приятно порадует большое количество маршрутов: доставка письменной корреспонденции осуществляется по Беларуси, России, странам СНГ и Балтии, ближнему и дальнему зарубежью
    .about-2__col.about-2__col--pic
      .about-2__img-wrap
        img.about-2__img(src=DB.DIR + 'img/tmp/about-2-01.jpg', alt='alt')