include ../../../../components/sliders/template/sl-main/index
include ../../../../components/sliders/pager/sl-pager-8/index
include ../../../../components/sliders/nav/sl-nav/index

+sl-main({
  modifier: 'type-2',
  pager: 'sl-pager-8',
  nav: 'sl-nav',
  slides: [
    {
      pic: 'examples-sl-main-0.jpg',
      title: '№1 на рынке веб-разработки и поискового маркетинга на протяжении 5 лет',
      text: '№1 в Беларуси по версии marketing.by и №11 в СНГ по верcии CMSmagazine',
      btnText: 'Подробнее о компании'
    },
    {
      pic: 'examples-sl-main-0.jpg',
      title: 'Лифты и лифтовое оборудование',
      text: 'Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования'
    },
    {
      pic: 'examples-sl-main-0.jpg',
      title: 'Лифты и лифтовое оборудование Лифты и лифтовое оборудование Лифты и лифтовое оборудование Лифты и лифтовое оборудование',
      text: 'Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования',
      btnText: 'Подробнее о компании'
    }
  ]
})