-
  var data = [
  {
    date: '13 апреля 2016',
    title: '28 апреля большой бесплатный семинар по интернет-маркетингу «Стань эффективнее!»'
  },
  {
    date: '31 марта 2016',
    title: '24 марта компания «1С-Битрикс» провели первый в этом году семинар «Формула сайта»'
  }
  ];

.news-main-3
  .h1.small.title Новости
  ul.list.list-reset
    each item, i in data
      li.item
        .time #{item.date}
        .subtitle
          a(href='#') #{item.title}
  .all-news
    a(href='#') Все новости