include ../../../../components/sliders/template/sl-prod-list/index
include ../../../../components/sliders/pager/sl-pager-6/index
include ../../../../components/sliders/nav/sl-nav-3/index

+sl-prod-list({
  pager: 'sl-pager-6',
  nav: 'sl-nav-3',
  slides: [
    {
      title: 'Майонез лёгкий оливковый',
      pic: 'sl-prod-list-0.png'
    },
    {
      title: 'Майонез лёгкий оливковый',
      pic: 'sl-prod-list-1.png'
    },
    {
      title: 'Соус Карри восточный',
      pic: 'sl-prod-list-2.png'
    },
    {
      title: 'Соус брусничный Шведский',
      pic: 'sl-prod-list-0.png'
    },
    {
      title: 'Майонез лёгкий оливковый',
      pic: 'sl-prod-list-1.png'
    },
    {
      title: 'Соус брусничный Шведский',
      pic: 'sl-prod-list-2.png'
    }
  ]
})