.bx_my_order_switch
  a.bx_mo_link(href='#') Посмотреть все заказы
  a.bx_mo_link(href='#') Посмотреть историю заказов
.bx_my_order_status_desc
  .status.h2 Заказы в статусе «Выполнен»
  .bx_mos_desc Заказ отправлен клиенту.
.bx_my_order
  table.bx_my_order_table
    thead
      tr
        th
          | Заказ №33 от 12.04.2016
        th
          a(href='#') Подробнее о заказе
    tbody
      tr
        td
          ul.list-reset.list-descr.list-items
            li
              | Состав заказа:
              ol.bx_item_list
                li
                  a(href='#', target='_blank')
                    | Платье Ночная Жизнь — 1 шт
                li
                  a(href='#', target='_blank')
                    | Футболка Женская Ночь — 1 шт
                li
                  a(href='#', target='_blank')
                    | Футболка Женская Ночь — 1 шт
                li
                  a(href='#', target='_blank')
                    | Футболка Женская Ночь — 1 шт
          ul.list-reset.list-descr
            li
              | Доставка:
              | Доставка курьером
            li
              | Способ оплаты:
              | WebMoney
            li
              | Оплачен:
              | Нет
            li
              | Сумма к оплате:
              b &nbsp;5 758 руб.
        td
          .bx_my_order_status.gray
            | Выполнен
          a.bx_order_action(href='#') Отменить заказ
          a.bx_order_action(href='#') Повторить заказ
.bx_my_order_status_desc
  .status.h2 Заказы в статусе «Принят, ожидается оплата»
  .bx_mos_desc Заказ принят, но пока не обрабатывается.
.bx_my_order
  table.bx_my_order_table
    thead
      tr
        th
          | Заказ №33 от 12.04.2016
        th
          a(href='../basket/order-detail.html') Подробнее о заказе
    tbody
      tr
        td
          ul.list-reset.list-descr.list-items
            li
              | Состав заказа:
              ol.bx_item_list
                li
                  a(href='#', target='_blank')
                    | Платье Ночная Жизнь — 1 шт
                li
                  a(href='#', target='_blank')
                    | Футболка Женская Ночь — 1 шт
                li
                  a(href='#', target='_blank')
                    | Футболка Женская Ночь — 1 шт
                li
                  a(href='#', target='_blank')
                    | Футболка Женская Ночь — 1 шт
          ul.list-reset.list-descr
            li
              | Доставка:
              | Доставка курьером
            li
              | Способ оплаты:
              | WebMoney
            li
              | Оплачен:
              | Нет
            li
              | Сумма к оплате:
              b &nbsp;5 758 руб.
        td
          .bx_my_order_status.green
            | Принят, ожидается оплата
          a.bx_order_action(href='#') Отменить заказ
          a.bx_order_action(href='#') Повторить заказ
.bx_my_order
  table.bx_my_order_table
    thead
      tr
        th
          | Заказ №323000254	 от 12.04.2016
        th
          a(href='../basket/order-detail.html') Подробнее о заказе
    tbody
      tr
        td
          ul.list-reset.list-descr.list-items
            li
              | Состав заказа:
              ol.bx_item_list
                li
                  a(href='#', target='_blank')
                    | Платье Ночная Жизнь — 1 шт
                li
                  a(href='#', target='_blank')
                    | Футболка Женская Ночь — 1 шт
          ul.list-reset.list-descr
            li
              | Доставка:
              | Доставка курьером
            li
              | Способ оплаты:
              | WebMoney
            li
              | Оплачен:
              | Нет
            li
              | Сумма к оплате:
              b &nbsp;5 758 руб.
        td
          .bx_my_order_status.green Принят, ожидается оплата
          a.bx_order_action(href='#') Отменить заказ
          a.bx_order_action(href='#') Повторить заказ
.bx_my_order_status_desc
  .status.h2 Заказы в статусе «Оплачен, формируется к отправке»
  .bx_mos_desc Заказ оплачен, формируется к отправке клиенту.
.bx_my_order
  table.bx_my_order_table
    thead
      tr
        th
          | Заказ №323000254	 от 12.04.2016
        th
          a(href='../basket/order-detail.html') Подробнее о заказе
    tbody
      tr
        td
          ul.list-reset.list-descr.list-items
            li
              | Состав заказа:
              ol.bx_item_list
                li
                  a(href='#', target='_blank')
                    | Платье Ночная Жизнь — 1 шт
                li
                  a(href='#', target='_blank')
                    | Футболка Женская Ночь — 1 шт
          ul.list-reset.list-descr
            li
              | Доставка:
              | Доставка курьером
            li
              | Способ оплаты:
              | WebMoney
            li
              | Оплачен:
              | Нет
            li
              | Сумма к оплате:
              b &nbsp;5 758 руб.
        td
          .bx_my_order_status.yellow Оплачен, формируется к отправке
          a.bx_order_action(href='#') Отменить заказ
          a.bx_order_action(href='#') Повторить заказ
.bx_my_order_status_desc
  .status.h2 Заказы в статусе «Отменён»
.bx_my_order
  table.bx_my_order_table
    thead
      tr
        th
          | Заказ №323000254	 от 12.04.2016
        th
          a(href='#') Подробнее о заказе
    tbody
      tr
        td
          ul.list-reset.list-descr.list-items
            li
              | Состав заказа:
              ol.bx_item_list
                li
                  a(href='#', target='_blank')
                    | Платье Ночная Жизнь — 1 шт
                li
                  a(href='#', target='_blank')
                    | Футболка Женская Ночь — 1 шт
          ul.list-reset.list-descr
            li
              | Доставка:
              | Доставка курьером
            li
              | Способ оплаты:
              | WebMoney
            li
              | Оплачен:
              | Нет
            li
              | Сумма к оплате:
              b &nbsp;5 758 руб.
        td
          .bx_my_order_status.red Отменен
          a.bx_order_action(href='#') Повторить заказ
.bx_my_order
  table.bx_my_order_table
    thead
      tr
        th
          | Заказ №323000254	 от 12.04.2016
        th
          a(href='../basket/order-detail.html') Подробнее о заказе
    tbody
      tr
        td
          ul.list-reset.list-descr.list-items
            li
              | Состав заказа:
              ol.bx_item_list
                li
                  a(href='#', target='_blank')
                    | Платье Ночная Жизнь — 1 шт
                li
                  a(href='#', target='_blank')
                    | Футболка Женская Ночь — 1 шт
          ul.list-reset.list-descr
            li
              | Доставка:
              | Доставка курьером
            li
              | Способ оплаты:
              | WebMoney
            li
              | Оплачен:
              | Нет
            li
              | Сумма к оплате:
              b &nbsp;5 758 руб.
        td
          .bx_my_order_status.red Отменен
          a.bx_order_action(href='#') Повторить заказ