if (bInfo === undefined)
  -
    var bInfo = {
      title: 'Перед вами стоит задача — выбор отделочных материалов',
      desc: 'Пвх-покрытие либо натуральный линолеум, паркетная доска или ламинат, стеклообои либо антивандальные обои? Задача не из легких, даже при наличии разработанного проекта или сформированной дизайнерской идеи. В этом Вам помогут наши профессионалы.'
    };
.b-info
  .b-info__wrap
    .h4.b-info__title #{bInfo.title}
    .b-info__desc #{bInfo.desc}