.menu-aside-vertical
  ul.menu_level_1.break-word.list-reset
    li.item_1.arr
      a(href='#')
        span Пункт 1
      .submenu
        ul.menu_level_2.list-reset
          li.item_2
            a(href='#')
              span Пункт 11
          li.item_2
            span
              span Пункт 12
          li.item_2.active
            a(href='#')
              span Пункт 13 (дополнительная удлинняющая строка)
          li.item_2.active
            span
              span Пункт 14
          li.item_2
            a(href='#')
              span Пункт 15
          li.item_2
            a(href='#')
              span Пункт 16
        ul.menu_level_2.list-reset
          li.item_2
            a(href='#')
              span Пункт 11
          li.item_2
            a(href='#')
              span Пункт 12
          li.item_2
            a(href='#')
              span Пункт 13 (дополнительная удлинняющая строка)
        ul.menu_level_2.list-reset
          li.item_2
            a(href='#')
              span Пункт 11
          li.item_2
            a(href='#')
              span Пункт 12
          li.item_2
            a(href='#')
              span Пункт 13 (дополнительная удлинняющая строка)
          li.item_2
            a(href='#')
              span Пункт 14
          li.item_2
            a(href='#')
              span Пункт 15
    li.item_1
      span
        span Пункт 2
    li.item_1.active
      a(href='#')
        span Пункт 3 (дополнительная удлинняющая строка)
    li.item_1.active
      span
        span Пункт 4 (дополнительнаяудлинняющаястрока)
    li.item_1.arr
      a(href='#')
        span Пункт 5
      .submenu
        ul.menu_level_2.list-reset
          li.item_2
            a(href='#')
              span Пункт 11
          li.item_2
            span
              span Пункт 12
          li.item_2.active
            a(href='#')
              span Пункт 13 (дополнительная удлинняющая строка)
          li.item_2.active
            span
              span Пункт 14
          li.item_2
            a(href='#')
              span Пункт 15
          li.item_2
            a(href='#')
              span Пункт 16
          li.item_2
            a(href='#')
              span Пункт 16
          li.item_2
            a(href='#')
              span Пункт 16
        ul.menu_level_2.list-reset
          li.item_2
            a(href='#')
              span Пункт 11
          li.item_2
            a(href='#')
              span Пункт 12
          li.item_2
            a(href='#')
              span Пункт 12
          li.item_2
            a(href='#')
              span Пункт 13 (дополнительная удлинняющая строка)