.logo-desk {

  .pic {
    display: table-cell;
    vertical-align: middle;
    width: 100px;

    @media (max-width: $screen-md-max) {
      width: 84px;
    }

    > a,
    > span {
      display: block;
      position: relative;
    }

    img {
      max-height: 41px;
    }

    .img-black {
      opacity: 1;

      .main .header__desktop:not(.header__desktop--scroll) & {

        @media (min-width: $screen-md-min) {
          opacity: 0;
        }
      }
    }

    .img-white {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;

      .main .header__desktop:not(.header__desktop--scroll) & {

        @media (min-width: $screen-md-min) {
          opacity: 1;
        }
      }
    }
  }
}
