.h2
  | Технические характеристики
.table-responsive.element-table
  table
    tr
      th(colspan='2')
        | Основные
    tr
      td
        | Память
        span.info
          span.symbol ?
          span.info-block
            span.arrow
            span.title
              | Индикатор повышенного давления
            span.text
              | Некоторые аппараты, обычно лазерного типа, обеспечивают функцию копирования, то есть могут использоваться в качестве компактного копира (ксерокса).
      td 200 измерений
    tr
      td Индикатор повышенного давления
      td
        span.yes
    tr
      td
        | Пункт с длинным названием про самый
        | лучший параметр на несколько строк
      td
        | зарядки, разрядки, степени зарядки, очистки,
        | замены ножей
  table
    tr
      th(colspan='2')
        | Не основные
    tr
      td Разрешение
      td 200 измерений
    tr
      td Индикатор повышенного давления
      td
        span.not
        |  нет в комплектации
    tr
      td
        | Пункт с длинным названием про самый
        | лучший параметр на несколько строк
        span.info
          span.symbol ?
          span.info-block
            span.arrow
            span.title
              | Индикатор повышенного давления
            span.text
              | Некоторые аппараты, обычно лазерного типа, обеспечивают функцию копирования, то есть могут использоваться в качестве компактного копира (ксерокса).
      td
        | зарядки, разрядки, степени зарядки, очистки,
        | замены ножей