.cookies
  .cookies__wrap
    .container
      .media
        .media-body
          .cookies__text Этот сайт использует файлы cookies для более комфортной работы пользователя. Продолжая просмотр страниц сайта, вы соглашаетесь с использованием  файлов cookies
        .btn-wrap
          a.cookies__btn.btn.btn-primary(href='#') Ок