//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  background-color: transparent;

  @include hover-focus() {
    color: $link-color-hover;
    text-decoration: $link-decoration-hover;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    color: $link-color-hover;
    text-decoration: $link-decoration-hover;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: #6c757d;
    pointer-events: none;
  }

  // No need for an active state here
}