.catalog-sort.clearfix
  .names
    .item
      a(href='#')
        span.dash Название
    .item.top
      span.active
        span.dash Популярность
    .item.bottom
      a(href='#')
        span.dash Цена
  .view
    span.view-item.blocks.active
    a.view-item.lines(href='#')
    a.view-item.tables(href='#')