$_catalog-sort-view-arrow: 6px;
$_catalog-sort-view-arrow-l: 4px;
$_catalog-sort-view-item-p-r: 22px;

.catalog-sort {
  background: #f7f7f7;
  margin: 0 0 40px;

  a {
    text-decoration: none;
  }

  &.drop {

    .item {

      &.text {
        vertical-align: text-bottom;

        @media (max-width: $screen-sm-max) {
          margin-bottom: 5px;
        }

        span {
          padding: 0 5px 0 10px;
          font-size: 14px;
          line-height: (18/14);
        }
      }
    }

    .names {
      display: inline-block;
      padding: 5px 0;

      @media (max-width: $screen-sm-max) {
        padding: 5px 10px;
      }
    }
  }

  &.table {
    padding: 0;

    .names {
      width: 100%;

      @media (min-width: $screen-md-min) {
        width: 80%;
      }

      @media (min-width: $screen-lg-min) {
        width: 85%;
      }
    }

    #db & .price {
      float: right;

      @media (max-width: $screen-sm-max) {
        float: none;
      }

      a {
        padding-right: 16px;

        &:after {
          right: 0;

          @media (max-width: $screen-sm-max) {
            right: 18px;
          }
        }
      }
    }
  }

  .form-control {
    width: 165px;
    padding: 0;
  }

  .form-control {
    font-size: 14px;
    line-height: (18/14);
    height: 26px;
  }

  .names {
    float: left;
    padding: 0 0 0 6px;

    @media (max-width: $screen-sm-max) {
      float: none;
      padding: 0;
    }
  }

  .item {
    display: inline-block;

    @media (max-width: $screen-sm-max) {
      display: block;
    }

    > a,
    > span {
      padding: 10px $_catalog-sort-view-item-p-r 10px 10px;
      font-size: 12px;
      line-height: (20/14);
      position: relative;
      display: inline-block;
      transition: none;

      @media (max-width: $screen-sm-max) {
        width: 100%;
      }
    }

    > .active {
      background: #e0e0e0;
    }

    &.top,
    &.bottom {

      > a,
      > span {
        padding-right: ($_catalog-sort-view-item-p-r + ($_catalog-sort-view-arrow * 2));

        &:after {
          content: '';
          position: absolute;
          border-left: $_catalog-sort-view-arrow-l solid transparent;
          border-right: $_catalog-sort-view-arrow-l solid transparent;
          right: 18px;
          bottom: 16px;
        }
      }
    }

    &.top {

      > a,
      > span {

        &:after {
          border-bottom: $_catalog-sort-view-arrow solid #000;
        }
      }
    }

    &.bottom {

      > a,
      > span {

        &:after {
          border-top: $_catalog-sort-view-arrow solid #000;
        }
      }
    }
  }

  .view {
    float: right;
    margin: 0;
    display: inline-block;
    padding-right: 10px;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  .view-item {
    display: inline-block;
    padding: 10px 4px 6px;

    @include hover-focus() {

      &:before {
        opacity: .5;
      }
    }

    &.active {

      @include hover-focus() {

        &:before {
          opacity: 1;
        }
      }
    }
  }

  .blocks {

    &:before {
      @include png;
      @include png-sort-block;
    }

    &.active {

      &:before {
        @include png;
        @include png-sort-block-act;
      }
    }
  }

  .lines {

    &:before {
      @include png;
      @include png-sort-line;
    }
    &.active {

      &:before {
        @include png;
        @include png-sort-line-act;
      }
    }
  }

  .tables {

    &:before {
      @include png;
      @include png-sort-table;
    }

    &.active {

      &:before {
        @include png;
        @include png-sort-table-act;
      }
    }
  }
}