.menu-drop-base.hide-print
  ul.menu_level_1.break-word.list-reset.js-menu
    li.item_1.js-item
      a(href='#')
        span MaxGlass
      .submenu
        ul.menu_level_2.break-word.list-reset
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Fold
          li.item_2
            a(href='#')
              span Lumon
          li.item_2
            a(href='#')
              span Стоечно-ригельная система
          li.item_2
            a(href='#')
              span Витражное остекление
          li.item_2
            a(href='#')
              span Раздвижное остекление
          li.item_2
            a(href='#')
              span Фасадное остекление
          li.item_2
            a(href='#')
              span Панорамное остекление
          li.item_2
            a(href='#')
              span Безрамное остекление
    li.item_1.active.js-item
      span
        span Входные деревянные двери
      .submenu
        ul.menu_level_2.break-word.list-reset
          li.item_2
            a(href='#')
              span Древесина
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
    li.item_1.js-item
      a(href='#')
        span Зимние сады
      .submenu
        ul.menu_level_2.break-word.list-reset
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2.active
            span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2.active
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
    li.item_1.js-item
      span
        span Окна специального назначения
      .submenu
        ul.menu_level_2.break-word.list-reset
          li.item_2
            a(href='#')
              span Двухрамные деревянные окна Twi
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            span Patio Life span
          li.item_2
            span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
    li.item_1.js-item.active
      a(href='#')
        span Зенитные фонари
      .submenu
        ul.menu_level_2.break-word.list-reset
          li.item_2
            a(href='#')
              span Круглый
          li.item_2
            a(href='#')
              span Квадратный
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
    li.item_1.js-item
      a(href='#')
        span Деревянные окна
      .submenu
        ul.menu_level_2.break-word.list-reset
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Профили
              span.collapsed.icon-w(data-href="#" data-toggle="collapse" data-target="#submenu-01")
                i.png-arr-menu-drop.icon
            #submenu-01.submenu.collapse
              ul.menu_level_3.break-word.list-reset
                li.item_3.active
                  span Classic
                li.item_3.active
                  a(href='#')
                    span Rustik
                li.item_3
                  a(href='#')
                    span Classic
                li.item_3
                  span Classic
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
    li.item_1.js-item
      a(href='#')
        span Аксессуары
      .submenu
        ul.menu_level_2.break-word.list-reset
          li.item_2
            a(href='#')
              span Москитные сетки
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
    li.item_1.js-item
      a(href='#')
        span Дерево-алюминиевые окна
      .submenu
        ul.menu_level_2.break-word.list-reset
          li.item_2
            a(href='#')
              span Patio Life
          li.item_2
            a(href='#')
              span Patio Life
    li.item_1.js-item
      a(href='#')
        span Комплектующие
      .submenu
        ul.menu_level_2.break-word.list-reset
          li.item_2
            a(href='#')
              span Фурнитура для окон
          li.item_2
            a(href='#')
              span Patio Life
    li.item_1.js-item
      a(href='#')
        span Системы автоматизации «Wooder»