.dropdown-header
  .dropdown
    a.dropdown_trigger(data-toggle='dropdown', href='#')
      | Весь каталог
      b.caret
    .dropdown-menu.break-word
      ul.list.list-reset
        li.item.active
          a(href='#')
            span Энергетика
        li.item.active
          span Воздушные компрессоры
        li.item
          a(href='#')
            span Приводная техника
        li.item
          span Тепловое оборудование
      ul.list.list-reset
        li.item
          a(href='#')
            span Расходометрия, КИП, Коммерческий учет
        li.item
          a(href='#')
            span Водоохлаждающие установки
        li.item
          a(href='#')
            span Промышленная вентиляция, климатическое оборудование  и тепловые насосы