.h2
  | Модальное окно - Отправлено
+btn-primary({type: 'button', text: 'Success modal'})(data-toggle='modal', data-target='#FRM_contacts')
.h2
  | Модальное окно - Ошибка
+btn-primary({type: 'button', text: 'Error modal'})(data-toggle='modal', data-target='#FRM_contacts2-error')