mixin btn-success(data)
  - data.color = 'success';
  - data.attributes = attributes;
  +btn(data)
mixin btn-danger(data)
  - data.color = 'danger';
  - data.attributes = attributes;
  +btn(data)
mixin btn-warning(data)
  - data.color = 'warning';
  - data.attributes = attributes;
  +btn(data)
mixin btn-info(data)
  - data.color = 'info';
  - data.attributes = attributes;
  +btn(data)
mixin btn-light(data)
  - data.color = 'light';
  - data.attributes = attributes;
  +btn(data)
mixin btn-dark(data)
  - data.color = 'dark';
  - data.attributes = attributes;
  +btn(data)