//-
  modules/news-list.html
  Standart_project v0.6.0
  Borovoy Studio - https://db.by/
  .news-list - Модуль Новости
  .js-width - минимальная ширина блока с картинкой в одном ряду расставляется скриптом
  .js-width-trg - блок для которого выставляется минимальная ширина в столбце
.news-list.js-width.js-hover
  .item
    .wrap
      .news-body
        .date
          time.time(datetime='2014-06-20') 20 июня 2014
          .part
            a(href='#') Новости компании
        .title
          a(href='#')
            | H3 увеличенный межстрочник. Станок модели СИ 380Т предназначен для токарной обработки прутков и биллетов из титановых сплавов с
        .text
          | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации, программатор SIMATIC Field PG
  .item
    .wrap
      .pic.js-width-trg
        i.icon
        img.img(src=DB.DIR + 'img/tmp/modules/news-1.jpg', alt='Новость', title='Новость')
      .news-body
        .date
          time.time(datetime='2014-06-01') 1 июня 2014
          .part
            a(href='#') Отдых и развлечени
        .title
          | Максимальная ширина изображения 25% Станок модели СИ 380Т предназначен для токарной обработки прутков и биллетов
        .text
          | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации, программатор SIMATIC Field PG).
  .item.js-hover-wrap
    .wrap
      .pic.media-left-old.js-width-trg
        a.link.js-hover-trg(href='#')
          i.icon
          img.img(src=DB.DIR + 'img/tmp/modules/news-2.jpg', alt='Новость', title='Новость')
      .news-body
        .date
          time.time(datetime='2014-06-01') 1 июня 2014
        .title
          a.js-hover-trg(href='#')
            | Максимальная ширина изображения 25% Станок модели СИ 380Т предназначен для токарной обработки прутков и биллетов
        .text
          | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации, программатор SIMATIC Field PG).
  .item
    .wrap
      .news-body
        .date
          time.time(datetime='2014-05-15') 15 мая 2014
          .part
            a(href='#') Новости компании
        .title
          a(href='#')
            | Станок модели СИ 380Т
        .text
          | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации, программатор SIMATIC Field PG).