include ../../../../components/sliders/template/sl-tabs/index
include ../../../../components/sliders/pager/sl-pager-7/index
include ../../../../components/sliders/nav/sl-nav/index

+sl-tabs({
  pager: 'sl-pager-7',
  nav: 'sl-nav',
  tabs: [
      {
          title: 'Слайдер 1',
          slides: [
              {
                  pic: 'sl-tabs-0.jpg',
                  text: 'В Академии Кофе установлено оборудования общей мощностью 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы'
              },
              {
                  pic: 'sl-tabs-1.jpg',
                  text: 'В Академии Кофе установлено оборудования общей мощностью 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы'
              },
              {
                  pic: 'sl-tabs-0.jpg',
                  text: 'В Академии Кофе установлено оборудования общей мощностью 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы'
              },
              {
                  pic: 'sl-tabs-1.jpg',
                  text: 'В Академии Кофе установлено оборудования общей мощностью 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы'
              }
          ]
      },
      {
          title: 'Слайдер 2',
          slides: [
              {
                  pic: 'sl-tabs-0.jpg',
                  text: 'В Академии Кофе установлено оборудования общей мощностью 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы'
              },
              {
                  pic: 'sl-tabs-1.jpg',
                  text: 'В Академии Кофе установлено оборудования общей мощностью 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы'
              },
              {
                  pic: 'sl-tabs-0.jpg',
                  text: 'В Академии Кофе установлено оборудования общей мощностью 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы'
              },
              {
                  pic: 'sl-tabs-1.jpg',
                  text: 'В Академии Кофе установлено оборудования общей мощностью 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы 15000 КВ – кофемашины, кулеры, кофемолки, охлаждающие системы'
              }
          ]
      }
  ]
})