blockquote.style-2
  .h2.title Цитата на плашке.
  .h3.title-medium Цвет и форма плашки может меняться дизайнером. Ограничение: плашка создаётся средствами CSS.
  | Он выполняет сразу несколько функций: скрывает емкую встроенную батарею на 9000 мАч, используется в качестве «ножки», когда Yoga Tablet 10 лежит на столе, и «ручки», когда планшет выступает в качестве электронной книги.
