/* blockquote-style-2.scss */

// var ****************************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

blockquote.style-2 {
  margin: 65px 0;
  padding: 30px 25px;
  background: $brand-white;
  box-shadow: $box-shadow-base;

  @media (max-width: $screen-xs-max) {
    margin: 40px 0;
    padding: 25px 20px;
  }

  .title {
    margin-top: 0;
  }
}