p
  | Кнопка питания со светящимся индикатором разместилась на одном из торцов цилиндра. В тестируемом образце она немного люфтила, однако это не воспринималось как показатель плохой сборки. Напротив, нареканий в этом плане Yoga Tablet 10 не вызвал. Рядом с клавишей включения находится порт microUSB (с поддержкой USB OTG) для подключения зарядного устройства.
.caption.left
  img(src=DB.DIR + 'img/tmp/caption-small.jpg', alt='Эталон', title='Эталон')
  p.text
    | Подпись к фотографии. Станок модели СИ 380Т предназначен для токарной.
p
  | На противоположном торце — упругая которые представляют собой «простой прямоугольник с закругленными углами», Yoga Tablet 10 получил индивидуальные черты. В первую очередь это цилиндрический выступ в нижней (если ориентироваться на расположение логотипа) части устройства. Он выполняет сразу несколько функций: скрывает емкую встроенную батарею на 9000 мАч, используется в качестве «ножки», когда Yoga Tablet 10 лежит на столе, и «ручки», когда планшет выступает в качестве электронной книги.Здесь же расположилась откидная подставка — еще одна ключевая особенность аппарата. Она позволяет Габариты планшета — 261×180×8 мм (ширина указана без учета батареи). Задняя крышка корпуса выполнена из текстурированного пластика, материал подставки — алюминий. Пластик приятен на ощупь, устройство не выскальзывает из рук, однако кромка с противоположной от подставки стороны достаточно быстро истирается. Это приводит к появлению небольших «проплешин» в рисунке задней крышки, но увидеть их можно только присмотревшись.
.caption.right
  img(src=DB.DIR + 'img/tmp/caption-small.jpg', alt='Эталон', title='Эталон')
  p.text
    | Подпись к фотографии. Станок модели СИ 380Т предназначен для токарной.
p
  | На противоположном торце — упругая которые представляют собой «простой прямоугольник с закругленными углами», Yoga Tablet 10 получил индивидуальные черты. В первую очередь это цилиндрический выступ в нижней (если ориентироваться на расположение логотипа) части устройства. Он выполняет сразу несколько функций: скрывает емкую встроенную батарею на 9000 мАч, используется в качестве «ножки», когда Yoga Tablet 10 лежит на столе, и «ручки», когда планшет выступает в качестве электронной книги.Здесь же расположилась откидная подставка — еще одна ключевая особенность аппарата. Она позволяет Габариты планшета — 261×180×8 мм (ширина указана без учета батареи). Задняя крышка корпуса выполнена из текстурированного пластика, материал подставки — алюминий. Пластик приятен на ощупь, устройство не выскальзывает из рук, однако кромка с противоположной от подставки стороны достаточно быстро истирается. Это приводит к появлению небольших «проплешин» в рисунке задней крышки, но увидеть их можно только присмотревшись.
.caption
  img(src=DB.DIR + 'img/tmp/caption.jpg', alt='Эталон', title='Эталон')
  p.text
    | Подпись к фотографии. Станок модели СИ 380Т предназначен для токарной.
p
  | На противоположном торце — упругая которые представляют собой «простой прямоугольник с закругленными углами», Yoga Tablet 10 получил индивидуальные черты. В первую очередь это цилиндрический выступ в нижней (если ориентироваться на расположение логотипа) части устройства. Он выполняет сразу несколько функций: скрывает емкую встроенную батарею на 9000 мАч, используется в качестве «ножки», когда Yoga Tablet 10 лежит на столе, и «ручки», когда планшет выступает в качестве электронной книги.Здесь же расположилась откидная подставка — еще одна ключевая особенность аппарата. Она позволяет Габариты планшета — 261×180×8 мм (ширина указана без учета батареи). Задняя крышка корпуса выполнена из текстурированного пластика, материал подставки — алюминий. Пластик приятен на ощупь, устройство не выскальзывает из рук, однако кромка с противоположной от подставки стороны достаточно быстро истирается. Это приводит к появлению небольших «проплешин» в рисунке задней крышки, но увидеть их можно только присмотревшись.