.catalog-detail.js-height.js-width
  .item
    .title-cat
      a(href='#') Спортивные товары
    .text
      | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра
      | южной испанской провинции. И снова новобранец команды.
      | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра
      | южной испанской провинции. И снова новобранец команды.
    include ../catalog-list-block2/index
    .link-up
      a(href='#') Все спортивные костюмы
  .item
    .title-cat
      a(href='#') Видеорегистраторы
    .text
      | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра
      | южной испанской провинции. И снова новобранец команды.
      | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра
      | южной испанской провинции. И снова новобранец команды.
    include ../catalog-list-block2/index
    .link-up
      a(href='#') Все видеорегистраторы