//-
  modules/vacancy-list.html
  Standart_project v0.6.0
  .vacancy - модуль Сотрудники
  .list - развернутый список вакансий
.vacancy-list.border
  .item
    .row
      .col-12.col-md-8.col-lg-9
        .title.h3
          | Менеджер по развитию продаж безалкогольной продукции H3
      .sum-wrap.col-lg-3.col-md-4.col-sm-12
        .sum
          .sum_i
            | от 1 500 до 2 500 $
      .col-lg-9.col-md-8.col-sm-12
        .wrap
          .descr
            .subtitle
              | Условия:
            ul.list
              li
                | опыт работы на аналогичной позиции от 1 года;
              li
                | знания в области международных морских контейнерных
                | перевозок;
              li
                | хорошее владение английским языком (ведется переписка с
                | клиентами, переговоры по телефону на иностранном языке);
              li
                | нацеленность на результат (оплата труда зависит от показателей
                | работы сотрудника);
              li
                | инициативность.
          .descr
            .subtitle
              | Требования:
            ul.list
              li
                | опыт работы на аналогичной позиции от 1 года;
              li
                | знания в области международных морских контейнерных
                | перевозок;
              li
                | хорошее владение английским языком (ведется переписка с
                | клиентами, переговоры по телефону на иностранном языке);
              li
                | нацеленность на результат (оплата труда зависит от показателей
                | работы сотрудника);
              li
                | инициативность.
          .descr
            .subtitle
              | Обязанности:
            ul.list
              li
                | ведение деятельности с морскими контейнерными линиями, их
                | агентами, автоперевозчиками;
              li
                | для организации контейнерных перевозок;
              li
                | ведение переговоров с потенциальными и существующими
                | клиентами;
          .descr
            .subtitle
              | Отдел кадров:
            |                         Чепик Татьяна
            br
            |                         +375 29 509-99-09
            br
            a(href='mailto:chepik-hr@microsoft.com') chepik-hr@microsoft.com
          .descr
            | Для данной вакансии предусмотренно заполнение кандидатом, специально созданной, замечательной анкеты.
            =' '
            a(href='#') Скачать анкету
          .descr
            +btn-primary({type: 'button', className: 'btn-sm', text: 'Откликнуться на вакансию'})(data-toggle='modal', data-target='#modal-vacancy')
  .item
    .row
      .col-12.col-md-8.col-lg-9
        .title.h3
          | Менеджер по развитию продаж безалкогольной продукции H3
      .sum-wrap.col-lg-3.col-md-4.col-sm-12
        .sum
          .sum_i
            | от 12 500 000 $
      .col-lg-9.col-md-8.col-sm-12
        .wrap
          .descr
            .subtitle
              | Условия:
            ul.list
              li
                | опыт работы на аналогичной позиции от 1 года;
          .descr
            .subtitle
              | Отдел кадров:
            |                         Чепик Татьяна
            br
            |                         +375 29 509-99-09
            br
            a(href='mailto:chepik-hr@microsoft.com') chepik-hr@microsoft.com
          .descr
            | Для данной вакансии предусмотренно заполнение кандидатом, специально созданной, замечательной анкеты.
            =' '
            a(href='#') Скачать анкету
          .descr
            +btn-primary({type: 'button', className: 'btn-sm', text: 'Откликнуться на вакансию'})(data-toggle='modal', data-target='#modal-vacancy')