meta(charset='UTF-8')
meta(name='format-detection', content='telephone=no')
meta(name='SKYPE_TOOLBAR', content='SKYPE_TOOLBAR_PARSER_COMPATIBLE')
meta(name='cmsmagazine', content='76c5fb8872e8328840d5f6d32da019af')
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')