.h2 Collapse simple
.collapsed(data-toggle='collapse', data-target='#accordion-21')
  span.lnk-pseudo Могу ли я сделать валютный перевод в валюте отличной от доллара и евро?
.collapse(id='accordion-21')
  | Добрый день! Поездку в Турцию можно начинать планировать в конце января — начале февраля, когда появляются цены на отели по акции раннего бронирования. Главное, что Вы должны помнить при бронирования тура по акции, в дальнейшем Вам нельзя будет переиграть даты, количество людей или отель. Так что нужно точно знать сроки поездки, быть уверенным, что все участники смогут поехать и тщательно выбрать отель. В этом Вам могут помочь наши менеджеры.