nav.menu-aside-3
  ul.menu_level_1.list-reset.break-word
    li.item_1
      a(href='#')
        span Платежно-справочные терминалы
      a.icon(data-toggle='collapse', href='#accordion-m-0')
      #accordion-m-0.collapse.show
        ul.menu_level_2.list-reset
          li.item_2
            a(href='#')
              span Мобильные терминалы
          li.item_2
            span
              span Стационарные
          li.item_2.active
            a(href='#')
              span Интеллектуальные пин-пады
          li.item_2.active
            span
              span Интеллектуальные пин-пады
    li.item_1
      span
        span Банкоматы
      a.icon.collapsed(data-toggle='collapse', href='#accordion-m-13')
      #accordion-m-13.collapse
        ul.menu_level_2.list-reset
          li.item_2.active
            a(href='#')
              span Монофункциональные
          li.item_2
            a(href='#')
              span Мультифункциональные
          li.item_2
            a(href='#')
              span Системы ресайклинга
    li.item_1.active
      a(href='#')
        span Оборудование для обработки наличности
    li.item_1.active
      span
        span EFT-терминалы
      a.icon.collapsed(data-toggle='collapse', href='#accordion-m-16')
      #accordion-m-16.collapse
        ul.menu_level_2.list-reset
          li.item_2
            a(href='#')
              span Пункт 11
          li.item_2
            span
              span Пункт 12
          li.item_2.active
            a(href='#')
              span Пункт 13 (дополнительная удлинняющая строка)
            a.icon.collapsed(data-toggle='collapse', href='#accordion-m-218')
            #accordion-m-218.collapse
              ul.menu_level_3.list-reset
                li.item_3
                  a(href='#') Страхование домашнего имущества
                li.item_3
                  a(href='#') Комплексное страхование помещений и ГО его владельцев
                li.item_3
                  a(href='#') Страхование строений
          li.item_2.active
            span
              span Пункт 14
            a.icon.collapsed(data-toggle='collapse', href='#accordion-m-219')
            #accordion-m-219.collapse
              ul.menu_level_3.list-reset
                li.item_3
                  a(href='#') Страхование домашнего имущества
                li.item_3
                  a(href='#') Комплексное страхование помещений и ГО его владельцев
                li.item_3
                  a(href='#') Страхование строений
          li.item_2
            a(href='#')
              span Пункт 15
          li.item_2
            a(href='#')
              span Пункт 16
    li.item_1
      a(href='#')
        span Программное обеспечение
    li.item_1
      a(href='#')
        span Сервис