nav.menu-accordion
  .accordion
    ul#menu-accordion.menu_level_1.acc-group.list-reset.break-word
      li.item_1.panel.active
        .acc-heading
          a.link(href='#')
            span Продвижение по позициям
          a.open-menu(href='#accordion-menu-1', data-toggle='collapse', data-parent='#menu-accordion')
        #accordion-menu-1.collapse.show.submenu
          .acc-body
            .list-wrap
              ul.menu_level_2.list-reset
                li.item_2
                  a(href='#')
                    span Экспресс-SEO
                li.item_2.active
                  a(href='#')
                    span Развитие проектов (Повышение конверсии, Веб-аналитика)
                  .submenu
                    ul.menu_level_3
                      li.item_3.active
                        span
                          span SEO-аудит
                      li.item_3
                        a(href='#')
                          span Стратегический поисковый маркетинг
                li.item_2
                  a(href='#')
                    span SERM-управление репутацией в поиске
                li.item_2
                  a(href='#')
                    span Продажа и продление лицензий «1С-Битрикс»
      li.item_1.panel
        .acc-heading
          a.link(href='#')
            span Доработки проектов
          a.open-menu.collapsed(href='#accordion-menu-2', data-toggle='collapse', data-parent='#menu-accordion')
        #accordion-menu-2.collapse.submenu
          .acc-body
            .list-wrap
              ul.menu_level_2.list-reset
                li.item_2
                  a(href='#')
                    span Адаптивная верстка сайтов
                  .submenu
                    ul.menu_level_3
                      li.item_3
                        a(href='#')
                          span Перенос на «1С-Битрикс»
                      li.item_3
                        a(href='#')
                          span Интеграция со сторонними системами (1С, CRM, ERP)
                        .submenu
                          ul.level-4.list-reset
                            li.item_4
                              a(href='#')
                                span Технический аудит
                            li.item_4
                              a(href='#')
                                span SEO-аудит
                            li.item_4
                              a(href='#')
                                span Стратегический поисковый маркетинu
      li.item_1.panel
        .acc-heading
          span
            span Экспресс-SEO
          a.open-menu.collapsed(href='#accordion-menu-3', data-toggle='collapse', data-parent='#menu-accordion')
        #accordion-menu-3.collapse.submenu
          .acc-body
            .list-wrap
              ul.menu_level_2.list-reset
                li.item_2
                  a(href='#')
                    span Развитие проектов (Повышение конверсии, Веб-аналитика)
                  .submenu
                    ul.menu_level_3
                      li.item_3
                        a(href='#')
                          span SEO-аудит
                li.item_2
                  a(href='#')
                    span Стратегический поисковый маркетинг
                li.item_2
                  a(href='#')
                    span SERM-управление репутацией в поиске