include ../../../../components/base/btns/btn/index
.bx_ordercart_order_pay_center
  +btn-primary({className: 'checkout', text: 'Оформить заказ'})(id='ORDER_CONFIRM_BUTTON' href='javascript:void();', onclick="submitForm('Y'); return false;")