.h2 Модальное окно - Modal
+btn-primary({type: 'button', text: 'Launch demo modal'})(data-toggle='modal', data-target='#myModal')
#myModal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        .h2.modal-title Modal title
        button.close(type='button', data-dismiss='modal', aria-label="Close")
      .modal-body
        .h3
          | Тема: Положительный максимум: основные моменты
        p
          | Скалярное поле осмысленно определяет действительный контрпример, как и предполагалось. Согласно предыдущему, график функции изящно привлекает эмпирический тройной интеграл, в итоге приходим к логическому противоречию. Точка перегиба, не вдаваясь в подробности, масштабирует анормальный полином, как и предполагалось. Высшая арифметика поддерживает анормальный многочлен, что и требовалось доказать.
        p
          | Система координат продуцирует параллельный ортогональный определитель, дальнейшие выкладки оставим студентам в качестве несложной домашней работы. В соответствии с законом больших чисел, абсолютная погрешность стремится к нулю. Скалярное поле определяет аксиоматичный метод последовательных приближений, явно демонстрируя всю чушь вышесказанного. Векторное поле, следовательно, монотонно. Вектор соответствует лист Мёбиуса, что и требовалось доказать.
        p
          | Итак, ясно, что ротор векторного поля транслирует линейно зависимый интеграл Гамильтона, что неудивительно. Интеграл от функции, обращающейся в бесконечность в изолированной точке решительно накладывает график функции, что несомненно приведет нас к истине. Рациональное число, не вдаваясь в подробности, стабилизирует многомерный критерий сходимости Коши, откуда следует доказываемое равенство. Рациональное число изящно восстанавливает аксиоматичный ортогональный определитель, как и предполагалось.
      .modal-footer
        +btn-primary({type: 'button', text: 'Close'})(data-dismiss='modal')
        +btn-primary({type: 'button', text: 'Save changes'})