.full-wrap {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: $site-max-width;

  @media (max-width: $screen-xs-max) {
    width: auto;
    left: 0;
    transform: translateX(0);
    margin: 0 $grid-gutter-width/-2;
  }
}