.contacts-head
  div
    // Nav tabs
    ul.nav.list-reset.open-dropdown(role="tablist")
      li.nav-item
        a.nav-link.active(href='#tab-100', data-toggle='tab') Минск
      li.nav-item
        a.nav-link(href='#tab-101', data-toggle='tab') Москва
    // Tab panes
    .tab-content
      #tab-100.tab-pane.fade.show.active(role='tabpanel')
        .tel
          a(href='tel:+375291632322')
            span +375 (17)
              =' '
              b 233-66-36
              =' '
              i (многоканальный)
        .tel
          a(href='tel:+375295662322') +375 (29)
            =' '
            b 233-66-35
      #tab-101.tab-pane.fade(role='tabpanel')
        .tel
          a(href='tel:+375291632322')
            span +375 (17)
              =' '
              b 233-66-36
              =' '
              i (многоканальный)
        .tel
          a(href='tel:+375295662322') +375 (29)
            =' '
            b 233-66-36