.correspondence
  .correspondence__row.row
    .correspondence__col.correspondence__col--pic
      .correspondence__pic-wrap
        img.img.correspondence__pic(src=DB.DIR + 'img/tmp/correspondence.jpg', alt='img/tmp/correspondence.jpg')
    .correspondence__col.correspondence__col--text
      h2.h2.h2-square.correspondence__title Доставка корреспонденции
      .correspondence__text Мы предлагаем услуги пересылки корреспонденции в СНГ, Прибалтийских республиках, а также иных регионах
      include ../form-correspondence/index