.menu404
  .h4.title
    | Возможно, вы искали:
  ul.menu_level_1.break-word.list-reset
    li.item_1
      a(href='#')
        | O компании
    li.item_1
      a(href='#')
        | Каталог
    li.item_1
      a(href='#')
        | Пресс-центр
    li.item_1
      a(href='#')
        | Контакты