include ../../../components/demo/b-info-2/index
.about-page
  +b-info-2({
    text: 'Belkosmex — один из крупнейших белорусских производителей косметики для ухода за кожей лица, тела и волосами. С 1995 года компания Belkosmex предлагает только лучшее для сохранения естественной красоты как источника вдохновения.'
  })
  include ../../../components/demo/pic-text/index
  include ../../../components/demo/pic-text--2/index
  p Вся косметика под торговой маркой Belkosmex производится в Республике Беларусь с использованием высококачественного сырья, поставщиками которого являются более 30 известных зарубежных компаний из Австрии, Германии, Франции, Великобритании, Японии. Готовая продукция проходит обязательное декларирование и государственную гигиеническую регистрацию в Республике Беларусь.
  include ../../../components/pages/index/sl-partners/index
  +b-info-2({
    text: 'Belkosmex — Наслаждайся своей красотой!'
  })