.contacts-3
  .h3.contacts-3__b-title Офис компании
  .row
    .col-12.col-lg-6
      .contacts-3__list
        .contacts-3__item
          .h5.contacts-3__title Почтовый и юридический адрес
          .contacts-3__desc 220113, Республика Беларусь, г. Минск, ул. Мележа 5/2, офис 709 (7 этаж)
        .contacts-3__item
          .h5.contacts-3__title Время работы
          .contacts-3__desc Пн.-пт. c 8:00-18:00; суббота, воскресенье — выходной.
        .contacts-3__item
          .h5.contacts-3__title E-mail
          .contacts-3__desc
            .contacts-3__link-wrap
              a(href='mailto:info@stroytex.by') info@stroytex.by
    .col-12.col-lg-6
      .contacts-3__list
        .contacts-3__item
          .h5.contacts-3__title Телефоны
          .contacts-3__desc
            .contacts-3__link-wrap
              a(href='tel:+375172372070') +375 (17) 237-20-70 (секретарь)
            .contacts-3__link-wrap
              a(href='tel:+375172372080') +375 (17) 237-20-80;
              =' '
              a(href='tel:+375172372090') +375 (17) 237-20-90 (отдел продаж)
            .contacts-3__link-wrap
              a(href='tel:+375172372156') +375 (17) 237-21-56 (факс)
        .contacts-3__item
          .h5.contacts-3__title Реквизиты
          .contacts-3__desc ООО «СТРОЙТЕКС ТК», УНП 191691605, #[br] р/с BY37PJCB30120243091000000933, в «Приорбанк» ОАО ЦБУ 111, #[br] код PJCBBY2X, г. Минск, пр. Машерова, 40