include ../../../../components/sliders/template/sl-shares/index
include ../../../../components/sliders/nav/sl-nav-3-dark/index

+sl-shares({
    nav: 'sl-nav-3-dark',
    slides: [
        {
            pic: 'sl-share-0.jpg',
            accentSlide: false,
            title: '50% скидка <br> на химчистку',
            text: 'Полный комплекс очистки салона автомобиля, как от лёгких, так и от сложных загрязнений. После нашей химчистки салон вашего автомобиля будет сиять и благоухать.',
            btnText: 'подробнее об акции'
        },
        {
            pic: 'sl-share-1.jpg',
            accentSlide: true,
            title: '7-ая мойка <br> в подарок',
            text: 'Каждую 7-ую мойку мы сделаем для наших клиентов совершенно бесплатно. Акция касается всех типов моек, осуществляемых нашей компанией.',
            btnText: 'подробнее об акции'
        },
        {
            pic: 'sl-share-2.jpg',
            accentSlide: false,
            title: '7-ая мойка <br> в подарок',
            text: 'Каждую 7-ую мойку мы сделаем для наших клиентов совершенно бесплатно. Акция касается всех типов моек, осуществляемых нашей компанией.',
            btnText: 'подробнее об акции'
        },
        {
            pic: 'sl-share-0.jpg',
            accentSlide: false,
            title: '50% скидка <br> на химчистку',
            btnText: 'подробнее об акции'
        }
    ]
})