//-
  modules/vacancy-collapse.html
  Standart_project v0.6.0
  Borovoy Studio - https://db.by/
  .vacancy-collapse - модуль Сотрудники, список вакансий, по умолчанию свернутый
.vacancy-collapse.border
  .text
    p
      | Постоянное участие в обучающих семинарах, совместное проведение корпоративных мероприятий, посещение и участие в международных выставочных форумах способствую развитию уровня нашей корпоративной культуры и делают группу компаний «Энергопро» одним из наиболее ценных работодателей в стране.
    p
      | Если вы готовы реализовать свой потенциал и построить успешную карьеру, отправьте информацию о себе в соответствии с существующими вакансиями.
  .h2
    | Приглашаем на работу (h2)
  .item
    .wrap
      .accordion
        .panel
          .row
            .col-12.col-md-8.col-lg-9
              a.link.svg-arrow.collapsed(data-toggle='collapse', href='#accordion-90')
                .title.h3
                  span.dash Менеджер по развитию продаж безалкогольной продукции H3
            .col-12.col-md-4.col-lg-3
              .sum
                .sum_i
                  | от 1 500 до 2 500 $
          #accordion-90.collapse
            .descr
              .subtitle
                | Условия:
              ul.list
                li
                  | опыт работы на аналогичной позиции от 1 года;
                li
                  | знания в области международных морских контейнерных
                  | перевозок;
                li
                  | хорошее владение английским языком (ведется переписка с
                  | клиентами, переговоры по телефону на иностранном языке);
                li
                  | нацеленность на результат (оплата труда зависит от показателей
                  | работы сотрудника);
                li
                  | инициативность.
            .descr
              .subtitle
                | Требования:
              ul.list
                li
                  | опыт работы на аналогичной позиции от 1 года;
                li
                  | знания в области международных морских контейнерных
                  | перевозок;
                li
                  | хорошее владение английским языком (ведется переписка с
                  | клиентами, переговоры по телефону на иностранном языке);
                li
                  | нацеленность на результат (оплата труда зависит от показателей
                  | работы сотрудника);
                li
                  | инициативность.
            .descr
              .subtitle
                | Обязанности:
              ul.list
                li
                  | ведение деятельности с морскими контейнерными линиями, их
                  | агентами, автоперевозчиками;
                li
                  | для организации контейнерных перевозок;
                li
                  | ведение переговоров с потенциальными и существующими
                  | клиентами;
            .descr
              .subtitle
                | Отдел кадров:
              |                             Чепик Татьяна
              br
              |                             +375 29 509-99-09
              br
              a(href='mailto:chepik-hr@microsoft.com') chepik-hr@microsoft.com
            .descr
              | Для данной вакансии предусмотренно заполнение кандидатом, специально созданной, замечательной анкеты.
              =' '
              a(href='#') Скачать анкету
            .descr
              +btn-primary({type: 'button', className: 'btn-sm', text: 'Откликнуться на вакансию'})(data-toggle='modal', data-target='#modal-vacancy')
  .item
    .wrap
      .accordion
        .panel
          .row
            .col-12.col-md-8.col-lg-9
              a.link.svg-arrow(data-toggle='collapse', href='#accordion-91')
                .title.h3
                  span.dash Заведующая магазином "SERGE" в Минске
            .col-12.col-md-4.col-lg-3
              .sum-wrap
                .sum
                  .sum_i
                    | от 8 000 000 руб
          #accordion-91.collapse.in
            .descr
              .subtitle
                | Условия:
              ul.list
                li
                  | опыт работы на аналогичной позиции от 1 года;
                li
                  | знания в области международных морских контейнерных
                  | перевозок;
                li
                  | хорошее владение английским языком (ведется переписка с
                  | клиентами, переговоры по телефону на иностранном языке);
                li
                  | нацеленность на результат (оплата труда зависит от показателей
                  | работы сотрудника);
                li
                  | инициативность.
            .descr
              .subtitle
                | Требования:
              ul.list
                li
                  | опыт работы на аналогичной позиции от 1 года;
                li
                  | знания в области международных морских контейнерных
                  | перевозок;
                li
                  | хорошее владение английским языком (ведется переписка с
                  | клиентами, переговоры по телефону на иностранном языке);
                li
                  | нацеленность на результат (оплата труда зависит от показателей
                  | работы сотрудника);
                li
                  | инициативность.
            .descr
              .subtitle
                | Обязанности:
              ul.list
                li
                  | ведение деятельности с морскими контейнерными линиями, их
                  | агентами, автоперевозчиками;
                li
                  | для организации контейнерных перевозок;
                li
                  | ведение переговоров с потенциальными и существующими
                  | клиентами;
            .descr
              .subtitle
                | Отдел кадров:
              |                             Чепик Татьяна
              br
              |                             +375 29 509-99-09
              br
              a(href='mailto:chepik-hr@microsoft.com') chepik-hr@microsoft.com
            .descr
              | Для данной вакансии предусмотренно заполнение кандидатом, специально созданной, замечательной анкеты.
              =' '
              a(href='#') Скачать анкету
            .descr
              +btn-primary({type: 'button', className: 'btn-sm', text: 'Откликнуться на вакансию'})(data-toggle='modal', data-target='#modal-vacancy')
  .item
    .wrap
      .accordion
        .panel
          .row
            .col-12.col-md-8.col-lg-9
              a.link.svg-arrow.collapsed(data-toggle='collapse', href='#accordion-92')
                .title.h3
                  span.dash Заведующая магазином "SERGE" в Минске
            .col-12.col-md-4.col-lg-3
              .sum-wrap
                .sum
                  .sum_i
                    | от 8 000 000 руб
          #accordion-92.collapse
            .descr
              .subtitle
                | Условия:
              ul.list
                li
                  | опыт работы на аналогичной позиции от 1 года;
                li
                  | знания в области международных морских контейнерных
                  | перевозок;
                li
                  | хорошее владение английским языком (ведется переписка с
                  | клиентами, переговоры по телефону на иностранном языке);
                li
                  | нацеленность на результат (оплата труда зависит от показателей
                  | работы сотрудника);
                li
                  | инициативность.
            .descr
              .subtitle
                | Требования:
              ul.list
                li
                  | опыт работы на аналогичной позиции от 1 года;
                li
                  | знания в области международных морских контейнерных
                  | перевозок;
                li
                  | хорошее владение английским языком (ведется переписка с
                  | клиентами, переговоры по телефону на иностранном языке);
                li
                  | нацеленность на результат (оплата труда зависит от показателей
                  | работы сотрудника);
                li
                  | инициативность.
            .descr
              .subtitle
                | Обязанности:
              ul.list
                li
                  | ведение деятельности с морскими контейнерными линиями, их
                  | агентами, автоперевозчиками;
                li
                  | для организации контейнерных перевозок;
                li
                  | ведение переговоров с потенциальными и существующими
                  | клиентами;
            .descr
              .subtitle
                | Отдел кадров:
              |                             Чепик Татьяна
              br
              |                             +375 29 509-99-09
              br
              a(href='mailto:chepik-hr@microsoft.com') chepik-hr@microsoft.com
            .descr
              | Для данной вакансии предусмотренно заполнение кандидатом, специально созданной, замечательной анкеты.
              =' '
              a(href='#') Скачать анкету
            .descr
              +btn-primary({type: 'button', className: 'btn-sm', text: 'Откликнуться на вакансию'})(data-toggle='modal', data-target='#modal-vacancy')
  .h3
    | Вакансии в Минске h3
  .item
    .wrap
      .accordion
        .panel
          .row
            .col-12.col-md-8.col-lg-9
              a.link.svg-arrow.collapsed(data-toggle='collapse', href='#accordion-93')
                .title.h3
                  span.dash Заведующая магазином "SERGE" в Минске
            .col-12.col-md-4.col-lg-3
              .sum-wrap
                .sum
                  .sum_i
                    | от 8 000 000 руб
          #accordion-93.collapse
            .descr
              .subtitle
                | Условия:
              ul.list
                li
                  | опыт работы на аналогичной позиции от 1 года;
                li
                  | знания в области международных морских контейнерных
                  | перевозок;
                li
                  | хорошее владение английским языком (ведется переписка с
                  | клиентами, переговоры по телефону на иностранном языке);
                li
                  | нацеленность на результат (оплата труда зависит от показателей
                  | работы сотрудника);
                li
                  | инициативность.
            .descr
              .subtitle
                | Требования:
              ul.list
                li
                  | опыт работы на аналогичной позиции от 1 года;
                li
                  | знания в области международных морских контейнерных
                  | перевозок;
                li
                  | хорошее владение английским языком (ведется переписка с
                  | клиентами, переговоры по телефону на иностранном языке);
                li
                  | нацеленность на результат (оплата труда зависит от показателей
                  | работы сотрудника);
                li
                  | инициативность.
            .descr
              .subtitle
                | Обязанности:
              ul.list
                li
                  | ведение деятельности с морскими контейнерными линиями, их
                  | агентами, автоперевозчиками;
                li
                  | для организации контейнерных перевозок;
                li
                  | ведение переговоров с потенциальными и существующими
                  | клиентами;
            .descr
              .subtitle
                | Отдел кадров:
              |                             Чепик Татьяна
              br
              |                             +375 29 509-99-09
              br
              a(href='mailto:chepik-hr@microsoft.com') chepik-hr@microsoft.com
            .descr
              | Для данной вакансии предусмотренно заполнение кандидатом, специально созданной, замечательной анкеты.
              =' '
              a(href='#') Скачать анкету
            .descr
              +btn-primary({type: 'button', className: 'btn-sm', text: 'Откликнуться на вакансию'})(data-toggle='modal', data-target='#modal-vacancy')
  .item
    .wrap
      .accordion
        .panel
          .row
            .col-12.col-md-8.col-lg-9
              a.link.svg-arrow.collapsed(data-toggle='collapse', href='#accordion-95')
                .title.h3
                  span.dash Заведующая магазином "SERGE" в Минске
            .col-12.col-md-4.col-lg-3
              .sum-wrap
                .sum
                  .sum_i
                    | от 8 000 000 руб
          #accordion-95.collapse
            .descr
              .subtitle
                | Условия:
              ul.list
                li
                  | опыт работы на аналогичной позиции от 1 года;
                li
                  | знания в области международных морских контейнерных
                  | перевозок;
                li
                  | хорошее владение английским языком (ведется переписка с
                  | клиентами, переговоры по телефону на иностранном языке);
                li
                  | нацеленность на результат (оплата труда зависит от показателей
                  | работы сотрудника);
                li
                  | инициативность.
            .descr
              .subtitle
                | Требования:
              ul.list
                li
                  | опыт работы на аналогичной позиции от 1 года;
                li
                  | знания в области международных морских контейнерных
                  | перевозок;
                li
                  | хорошее владение английским языком (ведется переписка с
                  | клиентами, переговоры по телефону на иностранном языке);
                li
                  | нацеленность на результат (оплата труда зависит от показателей
                  | работы сотрудника);
                li
                  | инициативность.
            .descr
              .subtitle
                | Обязанности:
              ul.list
                li
                  | ведение деятельности с морскими контейнерными линиями, их
                  | агентами, автоперевозчиками;
                li
                  | для организации контейнерных перевозок;
                li
                  | ведение переговоров с потенциальными и существующими
                  | клиентами;
            .descr
              .subtitle
                | Отдел кадров:
              |                             Чепик Татьяна
              br
              |                             +375 29 509-99-09
              br
              a(href='mailto:chepik-hr@microsoft.com') chepik-hr@microsoft.com
            .descr
              | Для данной вакансии предусмотренно заполнение кандидатом, специально созданной, замечательной анкеты.
              =' '
              a(href='#') Скачать анкету
            .descr
              +btn-primary({type: 'button', className: 'btn-sm', text: 'Откликнуться на вакансию'})(data-toggle='modal', data-target='#modal-vacancy')