.h2 Размер текста
p.text-lg
  b Большой размер
  |  текста для выделения чего-нибудь из общего потока
p
  | А это самый
  b  обычный размер
  |  текста, который является текстом по умолчанию и применяется везде
p.text-sm
  | Наконец, самый
  b  маленький размер
  |  текста для обозначения небольших пунктиков
.h2 Стили текста
p
  b Полужирное начертание
  br
  | Обычное начертание
  br
  i Курсивное начертание
hr
p
  a(href='#') Программируемый контроллер SIMATIC S7-300
  | , транзисторный
  =' '
  span.mark преобразователь SINAMICS
  |  DSM, электродвигатель постоянного тока
  =' '
  a.hover(href='#') 1GG7351 с мощностью 244кВт; электрошкаф
  | , пульт управления, разветкоробки, теплообменники фирмы Rittal, кабели фирмы Lappkabel, станция смазки фирмы SKF, гидрораспределители,
  =' '
  a(href='unvisited.html') шестеренный насос фирмы Atos
  | , кабелеукладчики фирмы KABELSCHLEPP.