.contacts-head-3
  .wrap
    ul.list.list-reset.break-word
      li.item
        span
          span
            | Ежедневно
            span.accent с 7.00 до 22.00
      li.item
        span
          span
            | Адрес:
            span.blue Минск, пер. Козлова, 9