include ../../../../components/sliders/template/sl-gal/index
include ../../../../components/sliders/nav/sl-nav-4/index

+sl-gal({
  nav: 'sl-nav-4',
  slides: [
      'sl-gal-0.jpg',
      'sl-gal-0.jpg',
      'sl-gal-0.jpg',
      'sl-gal-0.jpg',
      'sl-gal-0.jpg',
      'sl-gal-0.jpg',
      'sl-gal-0.jpg',
      'sl-gal-0.jpg',
      'sl-gal-0.jpg',
      'sl-gal-0.jpg',
      'sl-gal-0.jpg',
      'sl-gal-0.jpg'
  ]
})