blockquote.style-6
  .title-small
    span Совет стилиста
  .title Любое возмущение затухает, если колебание синхронно
  | Тело ненаблюдаемо заряжает экзотермический сверхпроводник, хотя этот факт нуждается в дальнейшей тщательной экспериментальной проверке

