//-
  modules/news-detail.html
  Standart_project v0.6.0
  .news-detail - Модуль Новости, детальная новость
.news-detail
  .date
    time.time(datetime='2014-06-20') 20 июня 2014
    .part
      a(href='#') Новости компании
  .lead
    | Как ФБР разыскивает хакеров по всему миру и что происходит с ними после экстрадиции в США? Apparat попросил Антона Иванова — гражданина Эстонии, которого американские спецслужбы обвиняли в участии в одной из самых масштабных кибератак последних лет, рассказать о своём неожиданном аресте и жизни в тюрьме на Манхэттене вместе с мексиканскими наркобаронами и террористами из «Аль-Каиды».
  .text
    .caption
      img(src=DB.DIR + 'img/tmp/news-detail-big-0.jpg', alt='Эталон', title='Эталон')
    p
      | Cтук становился всё громче и настойчивее. Я спросил, кто стучит. «Полиция!». Я открыл дверь, и в мою квартиру в Тарту влетели люди в штатском и без объяснений надели на меня наручники. Раньше ничего подобного со мной не случалось, но в следующие несколько лет закованные руки станут обыденностью
    p
      | Люди в штатском — среди них были эстонские полицейские и агенты ФБР — сказали, что в США выдали ордер на мой арест. Они внимательно осмотрели компьютер и всю электронику в доме. Происходящее казалось настолько нелепым, что я помогал в обыске, улыбался и шутил. Они сняли копию жёсткого диска
      | Люди в штатском — среди них были эстонские полицейские и агенты ФБР — сказали, что в США выдали ордер на мой арест. Они внимательно осмотрели компьютер и всю электронику в доме. Происходящее казалось настолько нелепым, что я помогал в обыске, улыбался и шутил. Они сняли копию жёсткого диска
