//-
  modules/partners-detail.html
  Standart_project v0.6.0
  .partners-detail - модуль Партнеры
  .js-width - минимальная ширина блока с картинкой в одном ряду расставляется скриптом
  .js-width-trg - блок для которого выставляется минимальная ширина в столбце
.partners-detail.js-width
  .item
    .item_i
      .pic.js-width-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-1.jpg', alt='partners', title='partners')
      .wrap
        .title
          | ОАО «АСБ Беларусбанк»
        .text
          a(href='http://belarusbank.by', target='_blank')
            | belarusbank.by
            i.icon.svg-blank
          br
          |                     Адрес: Овчинниковская набережная, д. 20, стр. 1, Россия, Москва, 115035
          br
          |                     Телефон: +7 499 653-66-36
          br
          |                     Факс: +7 499 653-66-36
          br
          |                     Эл. почта:
          =' '
          a(href='mailto:info@ter-m.ru') info@ter-m.ru
  .item
    .item_i
      .pic.js-width-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-2.jpg', alt='partners', title='partners')
      .wrap
        .title
          | ОАО «Белинвестбанк»
        .text
          a(href='http://belarusbank.by', target='_blank')
            | belarusbank.by
            i.icon.svg-blank
          br
          |                     Адкрытая акцыянернае таварыства «Белзнешэканомбанк» – універсальны крэдытна-фінансавы інстытут, які займае вядучыя пазіцыі сярод камерцыйных банкаў Рэспублікі Беларусь у галіне міжнародных разлікаў, валютных аперацый і абслугоўванні знешнеэканамічнай дзейнасці дзяржавы і кліентаў, ён валодае шматгадовым досведам працы і прызнанай рэпутацыяй на замежным і ўнутраным валютных рынках.
          br
          a(href='#', target='_blank') О партнёре
  .item
    .item_i
      .pic.js-width-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-3.jpg', alt='partners', title='partners')
      .wrap
        .title
          | ОАО «Белинвестбанк»
        .text
          a(href='http://brrb.by', target='_blank')
            | brrb.by
            i.icon.svg-blank
          br
          |                     Адрес: Овчинниковская набережная, д. 20, стр. 1, Россия, Москва, 115035
          br
          |                     Телефон: +7 499 653-66-36
          br
          |                     Факс: +7 499 653-66-36
          br
          |                     Эл. почта:
          =' '
          a(href='mailto:info@ter-m.ru') info@ter-m.ru
.h2
  | Партнеры в Минской области
.partners-detail
  .item
    .item_i
      .pic.js-width-trg
        a(href='#', target='_blank')
          img(src=DB.DIR + 'img/tmp/modules/partners-4.jpg', alt='partners', title='partners')
      .wrap
        .title
          | ОАО «Белинвестбанк»
        .text
          a(href='http://brrb.by', target='_blank')
            | brrb.by
            i.icon.svg-blank
          br
          |                     Адрес: Овчинниковская набережная, д. 20, стр. 1, Россия, Москва, 115035
          br
          |                     Телефон: +7 499 653-66-36
          br
          |                     Факс: +7 499 653-66-36
          br
          |                     Эл. почта:
          =' '
          a(href='mailto:info@ter-m.ru') info@ter-m.ru