nav.menu-aside-2
  ul.menu_level_1.break-word.list-reset
    li.item_1
      a(href='#')
        span Продвижение по позициям
    li.item_1
      span
        span Экспресс-SEO
    li.item_1.active
      a(href='#')
        span SEO-аудит
    li.item_1
      a(href='#')
        span Развитие проектов (Повышение конверсии, Веб-аналитика)
    li.item_1.active
      span
        span Стратегический поисковый маркетинг