/* sl-prod-list.scss */

// var ****************************************************************************************************************
//$_sl-prod:                       29px;

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

.sl-prod-list {
  padding: 20px 0 21px;
  position: relative;

  .head {
    display: flex;

    @media (max-width: $screen-sm-max) {
      display: block;
    }

    .title-wrap {
      margin-bottom: 0;
    }
  }

  .head-left {
    flex-basis: 80%;
    max-width: 80%;
    margin-right: auto;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 10px;
    }
  }

  .head-right {
    flex-basis: 20%;
    max-width: 20%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
  }

  .head-left,
  .head-right {

    @media (max-width: $screen-sm-max) {
      max-width: 100%;
    }
  }

  .b-title {
    margin-top: 0;
  }

  .wrap {
    position: relative;

    &.inited-not {

      .slide {

        &:nth-child(1) {
          float: none;
        }

        &:nth-child(1n+2) {
          display: none;
        }
      }
    }
  }

  .slick-list {
    margin: 0 ($grid-gutter-width/-2);
  }

  .slide {
    position: relative;
    padding: 0 ($grid-gutter-width/2);

    &:focus {
      outline: none;
    }
  }

  .prod-block {
    display: block;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
    background: #fff;
    padding: 42px 35px 30px;
    text-align: center;
    height: 350px;
    text-decoration: none;
    transition: .35s ease-out;
    position: relative;
    margin: 30px 0;

    @media (max-width: $screen-sm-max) {
      margin: 15px 0 25px;
    }

    .desktop & {

      &:hover,
      &:focus {
        z-index: 5;
        transform: perspective(1px) scale(1.05, 1.05);
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.08);
      }
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &__inner {
      height: 100%;
      position: relative;
    }

    &__title {
      @include max-height(18, 21.5, 3);
      color: $headings-color;
      margin-bottom: 25px;
    }

    &__pic {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 200px;
      width: 100%;
      overflow: hidden;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}