ul.list-reset
  li
    | Одной из «фишек» планшета является емкая батарея на 9000 мАч, призванная поддерживать работу устройства длительное время. Правда, наши традиционные стресс-тесты, во время которых аппарат беспрерывно проигрывает;
  li
    | Установка новых электрошкафов со степенью защиты IP54 с необходимой защитной и коммутационной аппаратурой, устройствами помехоподавления, источниками питания, электрическими преобразователями приводов, периферией программируемого контроллера и теплообменниками типа воздух-воздух;
  li
    | Он не оправдал ожиданий и продержался 10 часов (это меньше, чем, например, у куда более производительного Sony Xperia Z2 Tablet). В то же время стоит принимать во внимание действительно яркий дисплей, потребляющий заметное количество энергии;
    ul.list-reset
      li
        | Оступ после абзаца в первом вложенном пункте меньше. Планшет оборудован фронтальной камерой с разрешением 1,6 мегапикселя;
      li
        | Вспомогательный фотомодуль р,ассматривать нет смысла, он используется редко, в основном при общении через Skype. Кроме того, элемент расположен сбоку, поэтому когда устройство находит современного мобильного девайса. Система стабилизации изображения вызывает нарекания: чтобы получить хороший снимок, придется постараться;
  li
    | Установка новых электрошкафов со степенью защиты IP54 с необходимой защитной и коммутационной аппаратурой, устройствами помехоподавления, источниками питания, электрическими преобразователями приводов, периферией программируемого контроллера и теплообменниками типа воздух-воздух.
include ../../../components/block/lorem/index
ol.list-reset
  li
    | Установка привода SIMODRIVE 611D фирмы Siemens;
  li
    | Установка новых электрошкафов со степенью защиты IP54 с необходимой защитной и коммутационной аппаратурой;
    ol.list-reset.list-unstyled
      li
        | Восстановление и ремонт механической части станка;
      li
        | Комплексная замена гидравлики;
      li
        | Замена системы смазки, СОЖ;
  li
    | Установка новых датчиков обратной связи;
    ol(start='90')
      li
        | Восстановление и ремонт механической части станка;
      li
        | Комплексная замена гидравлики;
      li
        | Замена системы смазки, СОЖ;
  li
    | Замена электрических кабелей в кабелеводящих цепях, полная замена кабелей приводов подачи, главного движения, датчиков обратной связи и частичная замена остальных кабелей.
include ../../../components/block/lorem/index