nav.menu-accordion-2
  .accordion
    ul#menu-accordion2.menu_level_1.acc-group.list-reset.break-word
      li.item_1.panel.active
        .acc-heading
          a.link(href='#')
            span Продвижение по позициям
          a.open-menu(href='#accordion-menu2-1', data-toggle='collapse', data-parent='#menu-accordion2')
        #accordion-menu2-1.collapse.in.submenu
          .acc-body
            .list-wrap
              ul.menu_level_2.list-reset
                li.item_2
                  a(href='#')
                    span Экспресс-SEO
                li.item_2.active
                  a(href='#')
                    span Развитие проектов (Повышение конверсии, Веб-аналитика)
                li.item_2
                  a(href='#')
                    span SERM-управление репутацией в поиске
                li.item_2
                  a(href='#')
                    span Продажа и продление лицензий «1С-Битрикс»
      li.item_1.panel
        .acc-heading
          a.link.menu_level_1(href='#')
            span Доработки проектов
          a.open-menu.collapsed(href='#accordion-menu2-2', data-toggle='collapse', data-parent='#menu-accordion2')
        #accordion-menu2-2.collapse.submenu
          .acc-body
            .list-wrap
              ul.menu_level_2.list-reset
                li.item_2
                  a(href='#')
                    span Адаптивная верстка сайтов
      li.item_1.panel
        .acc-heading
          span
            span Экспресс-SEO
          a.open-menu.collapsed(href='#accordion-menu2-3', data-toggle='collapse', data-parent='#menu-accordion2')
        #accordion-menu2-3.collapse.submenu
          .acc-body
            .list-wrap
              ul.menu_level_2.list-reset
                li.item_2
                  a(href='#')
                    span Развитие проектов (Повышение конверсии, Веб-аналитика)
                li.item_2
                  a(href='#')
                    span Стратегический поисковый маркетинг
                li.item_2
                  a(href='#')
                    span SERM-управление репутацией в поиске