.dealers-table
  .h2.title.star
    | Кассы
  table
    tbody
      tr
        td
          b ООО «Межрегионкомплект»
        td
          | +375 17 327-60-81
          br
          a(href='mailto:info@kupalauski.by') info@kupalauski.by
        td
          | вул. Энгельса, дом 7,
          br
          |                     Мінск, Рэспубліка Беларусь, 220030
          br
          span.lnk-pseudo Как добраться
      tr
        td
          b ООО «АВТОТЕХИНМАШ»
        td
          | +375 17 327-60-81
        td
      tr
        td
          b ЗАО «ШТАРК»
          .caption-text
            | Руководитель:
            br
            |                         Бахчеев Иван Анатольевич
        td
          | +375 17 327-60-81
          br
          a(href='mailto:info@kupalauski.by') info@kupalauski.by
        td
          | вул. Энгельса, дом 7,
          br
          |                     Мінск, Рэспубліка Беларусь, 220030
          br
          span.lnk-pseudo Как добраться
      tr.active
        td
          b ООО «СП «УралБелАЗ»
          .caption-text
            | Руководитель:
            br
            |                         Бахчеев Иван Анатольевич
        td
          | +375 17 327-60-81
          br
          a(href='mailto:info@kupalauski.by') info@kupalauski.by
        td
          | ул. Моторная, 9
          br
          |                     г. Волгоград, поселок Гумрак, 400075
          br
          span.lnk-pseudo Как добраться
      tr.active-map
        td(colspan='3')
          - var mapId = "#map-2";
          include ../map/map/index
      tr
        td
          b ООО «БЕЛАВТОСИБ»
          .caption-text
            | Руководитель:
            br
            |                         Бахчеев Иван Анатольевич
        td
          | +375 17 327-01-24
          br
          |                     +7 816 260-28-45
        td
          | ул. Каховская, 70а
          br
          |                     г. Волгоград, поселок Гумрак, 400075
          br
          span.lnk-pseudo Как добраться