include ../../../block/card-links-3/index

.rates
  h2.h2.mt-0.h2-square.rates__title Тарифы
  .rates__text Описательный текст — важная информация о тарифах. <br>Описательный текст — важная информация о тарифах.
  +card-links-3({
      cards: [
          {
              title: 'Россия',
              text: '',
              rates: ['Москва', 'Московская обл.', 'Санкт-Петербург', 'Ленинградская обл.']
          },
          {
              title: 'СНГ и Прибалтика',
              text: 'Тарифы доставки почтовых отправлений во все страны СНГ и Прибалтики',
              rates: ['Перейти']
          },
          {
              title: 'Международные тарифы',
              text: 'Доставляем отправления более чем в 50 стран мира',
              rates: ['Перейти']
          },
          {
              title: 'Беларусь',
              text: 'Тарифы на доставку  отправлений по всем городам Беларуси',
              rates: ['Перейти']
          },
      ]
  })