.element-advantages {
  margin-bottom: 20px;

  .list {
    margin: 0;
  }

  .item {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .img-wrap {
    width: 65px;
    padding-top: 5px;
    padding-right: 14px;

    img {
      max-height: 41px;
    }
  }

  .title {
    margin-bottom: 11px;
    @include font-family-bold();
    font-size: 16px;
    line-height: 1.2;
  }

  .desc {
    color: #8e969a;
    font-size: 12px;
    line-height: 1.25;
  }
}