.info-popup
  .symbol#infoPopup(role='button', data-target="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
    span.letter ?
    .arrow
  .popup(aria-labelledby="infoPopup")
    .title Индикатор повышенного давления
    .text Некоторые аппараты, обычно лазерного типа, обеспечивают функцию копирования, то есть могут использоваться в качестве компактного копира (ксерокса).