include ../../../../components/sliders/template/sl-advance/index
include ../../../../components/sliders/nav/sl-nav/index

+sl-advance({
  nav: 'sl-nav',
  title: 'Наши сильные стороны',
  btnText: 'Посмотреть все преимущества',
  slides: [
      {
          title: 'более',
          value: '50',
          text: 'Годовой объем перевозок - более 55 млн. тонн различных видов грузов',
          pic: 'sl-advance-0.png'
      },
      {
          title: 'более',
          value: '870',
          text: 'Сотрудников по трем предприятиям Транспортной группы. Сотрудников по трем предприятиям Транспортной группы. Сотрудников по трем предприятиям Транспортной группы',
          pic: 'sl-advance-1.png'
      },
      {
          title: 'опыт работы',
          value: 'ISO 9000',
          text: '15-летний опыт работы по международным стандартам качества управления ISO 9000',
          pic: 'sl-advance-2.png'
      },
      {
          title: 'более',
          value: '20 лет',
          text: 'Надежность, стабильность, 20-летний опыт работы, положительный имидж, узнаваемый бренд',
          pic: 'sl-advance-3.png'
      }
  ]
})