.contacts-aside
  .title.h4
    | Контакты
  address.address
    | г. Минск, пр-т Независимости, 169-407
  .aside_contacts_descr
    i Бизнес-центр «XXI Век»
  .tel
    a(href='tel:+375291111111') Тел.: +375 17 218 11 77
    br
    a(href='tel:+375291111111') Факс: +375 17 218 13 72
    br
    a(href='tel:+375291111111') Моб.: +375 29 548 11 77
  .link
    a(href='#') Сервисный центр