/*contacts-aside.scss*/

// var *****************************************************************************************************************
//$_contacts-aside: 29px;

// mixins **************************************************************************************************************

// styles **************************************************************************************************************

.contacts-aside {
  margin-bottom: 25px;

  @media (max-width: $grid-breakpoint-max) {
    display: none;
  }

  .aside_contacts_descr {
    margin-bottom: 10px;
  }

  .tel {

    a {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}