.tracking
  .tracking__inner
    .tracking__bg
    .tracking__text-wrap
      h2.mt-0.h2-square.tracking__title Отследить посылку
      .tracking__text Мы поддерживаем стремление клиента контролировать этапы доставки, поэтому предоставляем возможность отслеживания статуса отправления на сайте
    include ../form-tracking/index
    img.tracking__img.tracking__img--01(src=DB.DIR + 'img/tmp/tracking-01.jpg', alt='tracking-01.jpg')
    img.tracking__img.tracking__img--02(src=DB.DIR + 'img/tmp/tracking-02.jpg', alt='tracking-02.jpg')