.external-video
  .external-video__wrap
    iframe.external-video__iframe(src='https://www.youtube.com/embed/BAPUUpWeRGE' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')