include ../../../../components/sliders/template/sl-partners/index
include ../../../../components/sliders/nav/sl-nav-3/index
include ../../../../components/block/b-title/index

+sl-partners({
  bTitle: {
    title: 'Наши клиенты',
    titleH: 'h1',
    link: 'Посмотреть всех клиентов'
  },
  nav: 'sl-nav-3',
  bg: 'sl-partners-bg-0.jpg',
  slides: [
    'sl-partners-1.jpg',
    'sl-partners-2.jpg',
    'sl-partners-3.jpg',
    'sl-partners-5.jpg',
    'sl-partners-6.jpg',
    'sl-partners-7.jpg',
    'sl-partners-8.jpg',
    'sl-partners-9.jpg',
    'sl-partners-10.jpg',
    'sl-partners-11.jpg',
    'sl-partners-12.jpg',
    'sl-partners-13.jpg',
    'sl-partners-14.jpg',
    'sl-partners-15.jpg',
    'sl-partners-16.jpg'
  ]
})