blockquote.style-4
  .text.
    Установка новых электрошкафов со степенью защиты IP54 с необходимой защитной и коммутационной аппаратурой, устройствами помехоподавления, источниками питания, электрическими преобразователями приводов, периферией программируемого контроллера и теплообменниками типа воздух-воздух.
  .clearfix
    .person
      img(src=DB.DIR + 'img/tmp/blockquote4.jpg', alt='pic', title='pic' class='pic')
    .person-name
      | Евгений Решетнёв, графический и веб-дизайнер,
      br
      | Санкт-Петербург
