.contacts-3
  .h3.contacts-3__b-title Склад
  .row
    .col-12.col-lg-6
      .contacts-3__list
        .contacts-3__item
          .contacts-3__desc
            p Выписка пропусков и проезд на территорию согласно схеме после выписки ТТН. Для заезда на территорию сначала необходимо выписать ТТН или другие документы на получение товара.
            p Выписка документов производится в здании заводоуправления (необходимо зайти в главный вход заводоуправления и повернуть направо), 4 этаж, комната без номера с табличкой на двери ООО «Стройтекс ТК».
    .col-12.col-lg-6
      .contacts-3__list
        .contacts-3__item
          .h5.contacts-3__title Телефоны
          .contacts-3__desc
            .contacts-3__link-wrap
              a(href='tel:+375291749011') +375 (29) 174-90-11 (Алла)
            .contacts-3__link-wrap
              a(href='tel:+375291753511') +375 (29) 175-35-11 (Виктор)
        .contacts-3__item
          .h5.contacts-3__title Координаты для GPS-навигатора
          .contacts-3__desc Широта N 53˚46.423, долгота Е 027 39.315