include ../../../components/bs_core/popover/index
.h2
  | Технические характеристики
.table-responsive.element-table
  table
    tr
      th(colspan='2')
        | Основные
    tr
      td
        | Память
        +popover({
            isInText: true,
            title: 'Индикатор повышенного давления',
            content: 'Некоторые аппараты, обычно лазерного типа, обеспечивают функцию копирования, то есть могут использоваться в качестве компактного копира (ксерокса).'
        })
      td 200 измерений
    tr
      td Индикатор повышенного давления
      td да
    tr
      td
        | Пункт с длинным названием про самый
        | лучший параметр на несколько строк
      td
        | зарядки, разрядки, степени зарядки, очистки,
        | замены ножей
  table
    tr
      th(colspan='2')
        | Не основные
    tr
      td Разрешение
      td 200 измерений
    tr
      td Индикатор повышенного давления
      td да
    tr
      td
        | Пункт с длинным названием про самый
        | лучший параметр на несколько строк
        +popover({
            isInText: true,
            title: 'Индикатор повышенного давления',
            content: 'Некоторые аппараты, обычно лазерного типа, обеспечивают функцию копирования, то есть могут использоваться в качестве компактного копира (ксерокса).'
        })
      td
        | зарядки, разрядки, степени зарядки, очистки,
        | замены ножей