.submenu-big
  .inner.js-submenu-scroll
    .row.js-submenu-inner
      .col-lg-4
        ul.menu_level_2.list-reset
          li.item_2.active
            a(href="#")
              span Корпоративная практика
            ul.menu_level_3.list-reset
              li.item_3
                a(href="#")
                  span Юридическая консультация
              li.item_3.active
                a(href="#")
                  span Регистрация юридического лица
                ul.menu_level_4.list-reset
                  li.item_4
                    a(href="#")
                      span Регистрация ООО
                  li.item_4
                    a(href="#")
                      span Регистрация ОДО
                  li.item_4
                    a(href="#")
                      span Регистрация ЧУП
                  li.item_4.active
                    span
                      span Регистрация ЗАО
                  li.item_4
                    a(href="#")
                      span Регистрация ИП
                  li.item_4
                    a(href="#")
                      span Регистрация филиала
              li.item_3
                a(href="#")
                  span Открытие иностранного представительства
                ul.menu_level_4.list-reset
                  li.item_4
                    a(href="#")
                      span Реорганизация юридического лица
                  li.item_4
                    a(href="#")
                      span Реорганизация в форме преобразования
                  li.item_4
                    a(href="#")
                      span Реорганизация в форме присоединения
                  li.item_4
                    a(href="#")
                      span Реорганизация в форме выделения
                  li.item_4
                    a(href="#")
                      span Реорганизация в форме слияния
                  li.item_4
                    a(href="#")
                      span Реорганизация в форме разделения
                  li.item_4
                    a(href="#")
                      span Реорганизация ООО
              li.item_3
                a(href="#")
                  span Внесение изменений в устав
                ul.menu_level_4.list-reset
                  li.item_4
                    a(href="#")
                      span Смена юридического адреса
                  li.item_4
                    a(href="#")
                      span Изменение состава участников
                  li.item_4
                    a(href="#")
                      span Изменение размера уставного фонда
                  li.item_4
                    a(href="#")
                      span Изменение наименования
                  li.item_4
                    a(href="#")
                      span Изменение видов деятельности
                  li.item_4
                    a(href="#")
                      span Замена руководителя (директора)
                  li.item_4
                    a(href="#")
                      span Сделки слияния и поглощения (сделки M&A)
              li.item_3
                a(href="#")
                  span Покупка и продажа бизнеса
              li.item_3
                a(href="#")
                  span Ликвидация юридического лица
                ul.menu_level_4.list-reset
                  li.item_4
                    a(href="#")
                      span Ликвидация предприятия
                  li.item_4
                    a(href="#")
                      span Ликвидация ИП
                  li.item_4
                    a(href="#")
                      span Ликвидация ООО
                  li.item_4
                    a(href="#")
                      span Ликвидация ЧУП
              li.item_3
                a(href="#")
                  span Партнерские отношения в бизнесе
      .col-lg-4
        ul.menu_level_2.list-reset
          li.item_2
            a(href="#")
              span Коммерческая практика
            ul.menu_level_3.list-reset
              li.item_3
                a(href="#")
                  span О Составление договоров
              li.item_3
                a(href="#")
                  span Взыскание долгов
              li.item_3
                a(href="#")
                  span Сопровождение инвестиционных проектов
              li.item_3
                a(href="#")
                  span Валютное регулирование
              li.item_3
                a(href="#")
                  span Сопровождение внешнеэкономической деятельности (ВЭД)
              li.item_3
                a(href="#")
                  span Кадровое делопроизводство
              li.item_3
                a(href="#")
                  span Абонентское юридическое обслуживание
              li.item_3
                a(href="#")
                  span Получение специального разрешения на право занятия трудовой деятельностью
              li.item_3
                a(href="#")
                  span Лицензирование
          li.item_2.active
            span
              span Информационные технологии (IT)
            ul.menu_level_3.list-reset
              li.item_3.active
                span
                  span Разработка договоров для IT компаний
              li.item_3
                a(href="#")
                  span Взаимоотношения с инвесторами
              li.item_3
                a(href="#")
                  span Юридический аудит (Due Diligence)
              li.item_3
                a(href="#")
                  span Регистрация прав на программный продукт
              li.item_3
                a(href="#")
                  span Регистрация резидентов в ПВТ
              li.item_3
                a(href="#")
                  span Создание криптоплатформ, криптообменников и криптобирж
              li.item_3
                a(href="#")
                  span Сопровождение майнинга криптовалют
          li.item_2
            a(href="#")
              span Наука и инновации
            ul.menu_level_3.list-reset
              li.item_3
                a(href="#")
                  span Трансфер технологий
              li.item_3
                a(href="#")
                  span Регистрация ноу-хау
      .col-lg-4
        ul.menu_level_2.list-reset
          li.item_2
            a(href="#")
              span Защита бизнеса
            ul.menu_level_3.list-reset
              li.item_3
                a(href="#")
                  span Защита нарушенных прав
              li.item_3
                a(href="#")
                  span Антимонопольное регулирование
              li.item_3
                a(href="#")
                  span Недобросовестная конкуренция
              li.item_3
                a(href="#")
                  span Недобросовестная реклама
              li.item_3
                a(href="#")
                  span Защита от подделок
          li.item_2
            a(href="#")
              span Интеллектуальная собственность
            ul.menu_level_3.list-reset
              li.item_3
                a(href="#")
                  span Регистрация товарного знака
              li.item_3
                a(href="#")
                  span Регистрация интеллектуальной собственности
              li.item_3
                a(href="#")
                  span Регистрация патента
              li.item_3
                a(href="#")
                  span Регистрация компьютерной программы
              li.item_3
                a(href="#")
                  span Регистрация иных объектов интеллектуальной собственности
              li.item_3
                a(href="#")
                  span Защита коммерческой тайны
              li.item_3
                a(href="#")
                  span Управление интеллектуальной собственностью
                ul.menu_level_4.list-reset
                  li.item_4
                    a(href="#")
                      span Лицензионный договор
                  li.item_4
                    a(href="#")
                      span Договор франчайзинга
                  li.item_4
                    a(href="#")
                      span Договор залога
                  li.item_4
                    a(href="#")
                      span Договор уступки
              li.item_3
                a(href="#")
                  span Защита интеллектуальной собственности
                ul.menu_level_4.list-reset
                  li.item_4
                    a(href="#")
                      span Защита в суде
                  li.item_4
                    a(href="#")
                      span Защита в апелляционном совете
                  li.item_4
                    a(href="#")
                      span Защита в таможне
                  li.item_4
                    a(href="#")
                      span Защита в правоохранительных органах
              li.item_3
                a(href="#")
                  span Защита авторских прав