.logo-foot {

  &__pic {
    margin-bottom: 16px;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 28px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 140%;
    color: $brand-white;
  }

  img {
    max-height: 47px;

    @media (max-width: $screen-sm-max) {
      max-height: 40px;
    }
  }
}