.calculation
  .calculation__row.row
    .calculation__col.calculation__col--text.col-lg-6.col-xl-5.col-12
      h2.h2.h2-square.calculation__title Рассчитайте стоимость доставки
      .calculation__text Предлагаем онлайн-калькулятор для расчета стоимости доставки из любой страны в любую точку мира
      include ../form-calculation/index
    .calculation__col.calculation__col--pic.col-lg-6.col-12.offset-xl-1
      .calculation__pic-wrap
        img.img.calculation__pic(src=DB.DIR + 'img/tmp/calculation.jpg', alt='img/tmp/calculation.jpg')