.exit-mob
  ul.menu_level_1.list-reset.break-word
    li.item_1
      a(href='#').link
        i.ico
        =' '
        span Личный кабинет
      a.icon.collapsed(data-toggle='collapse', href='#accordion-m-34')
      #accordion-m-34.collapse
        ul.menu_level_2.list-reset
          li.item_2
            a(href='#').link
              span Профиль
          li.item_2
            a(href='#').link
              span История заказов
          li.item_2
            a(href='#').link
              span Выйти
          li.item_2
            a(href='#').link
              span Тест