.about-3
  .about-3__row.row
    .about-3__col.about-3__col--pic
      .about-3__img-wrap
        img.about-3__img(src=DB.DIR + 'img/tmp/about-3-01.jpg', alt='alt')
    .about-3__col.about-3__col--text
      .about-3__text Курьерская служба доставки «Корэксгарант» — надежный способ доставить документы, отправления, корреспонденцию в сжатые сроки.