mixin btn-primary(data)
  - data.color = 'primary';
  - data.attributes = attributes;
  +btn(data)
mixin btn-secondary(data)
  - data.color = 'secondary';
  - data.attributes = attributes;
  +btn(data)
mixin btn-third(data)
  - data.color = 'third';
  - data.attributes = attributes;
  +btn(data)