.h2 Ссылка скроллинга к блоку
a(href='#scroll').js-scroll-to К блоку
include ../../../components/block/lorem/index
include ../../../components/block/lorem/index
include ../../../components/block/lorem/index
include ../../../components/block/lorem/index
include ../../../components/block/lorem/index
#scroll
	.h2 Блок к которому производится скроллинг
	include ../../../components/block/lorem/index
	include ../../../components/block/lorem/index
	include ../../../components/block/lorem/index
	include ../../../components/block/lorem/index
	include ../../../components/block/lorem/index