div.personal
  p В личном кабинете Вы можете проверить текущее состояние корзины, ход выполнения Ваших заказов, просмотреть или изменить личную информацию, а также подписаться на новости и другие информационные рассылки.
  .links
    .title.h2 Личная информация
    ul.list-item.list-reset
      li.item
        a(href="profile.html") Изменить регистрационные данные
  .links
    .title.h2 Заказы
    ul.list-item.list-reset
      li.item
        a(href="../basket/order.html") Ознакомиться с состоянием заказов
      li.item
        a(href="../basket/cart.html") Посмотреть содержимое корзины
      li.item
        a(href="../basket/order.html") Посмотреть историю заказов