.catalog-block.js-height
  .row
    .item.col-12.col-md-4
      .wrap
        .element-sale
          .icon.percent
          .icon.new
          .icon.sale
        .pic.js-trg
          a.link(href='#')
            img.img(src=DB.DIR + 'img/tmp/catalog/catalog-7.jpg', alt='Каталог', title='Каталог')
        .title
          a(href='#')
            | Куртка спортивная
        .price-wrap
          .price
            | 8000 р.
        .buy
          +btn-primary({text: 'Купить'})
    .item.col-12.col-md-4
      .wrap
        .pic.js-trg
          a.link(href='#')
            img.img(src=DB.DIR + 'img/tmp/catalog/catalog-8.jpg', alt='Каталог', title='Каталог')
        .title
          a(href='#')
            | Куртка спортивная
        .characters
          span
            | 15-24000 Гц,
            =' '
          span
            | 60 Ом,
            =' '
          span
            | кабель 1м,
            =' '
          span
            | штекер 3.5 мм
        .price-wrap
          .price
            | 8000 р.
        .buy
          +btn-primary({text: 'Купить'})
    .item.col-12.col-md-4
      .wrap
        .pic.js-trg
          a.link(href='#')
            img.img(src=DB.DIR + 'img/tmp/catalog/catalog-9.jpg', alt='Каталог', title='Каталог')
        .title
          a(href='#')
            | Куртка спортивная
        .characters
          span.title-help
            | Арт. 2285756,
            =' '
          span
            | кабель 1 м
        .price-wrap
          .price-old
            | 9520 р.
          .price
            | 8000 р.
        .buy
          +btn-primary({text: 'Купить'})