.pic-text.pic-text--reverse
	.row
		.col-12.col-md-6.pic-text__col.pic-text__col--img
			img(src=DB.DIR + 'img/tmp/pic-text-02.jpg', alt='Компоненты')
		.col-12.col-md-6.pic-text__col.pic-text__col--text
			.pic-text__text
				p Две собственные исследовательские лаборатории позволяют разрабатывать косметические формулы и рецептуры, ориентируясь на самое высокое качество и взыскательный вкус наших покупательниц.
				p Использование экологически чистого растительного сырья, отказ от использования продуктов животного происхождения и стероидных препаратов — основные принципы при разработке и создании нашей косметики.