nav
  ol.breadcrumb.list-reset
    li.breadcrumb-item(typeof='v:Breadcrumb')
      a(href='#')
        | Главная страница
    li.breadcrumb-item(typeof='v:Breadcrumb')
      a(href='#')
        | Мой кабинет
    li.breadcrumb-item.active
      span Мои заказы