include ../../../../components/base/tabs/index
script.
    !function () {
        'use strict';

        $(function () {
            mCustomScrollbar.init($('[role="tabpanel"]'), 70);
        });
    }();