include ../../../components/demo/b-info-2/index
.about-page-3
  +b-info-2({
    text: 'Частное производственно-торговое унитарное предприятие «ТВИЛАЙМ» было основано в 2002 году. «ТВИЛАЙМ» — молодая развивающаяся компания, успешно завоевавшая внимание мясоперерабатывающей отрасли Республики Беларусь. Наша фирма производит <strong>текстильную колбасную оболочку высокого качества.</strong>'
  })
  p Мы предлагаем мясоперерабатывающим предприятиям следующие виды текстильной колбасной оболочки:
  include ../../../components/demo/list-tile/index
  p
    b Собственное производство.
    br
    | Производство текстильной колбасной оболочки «ТВИЛАЙМ» расположено в живописном уголке Республики Беларусь городе Мозыре. Наша продукция имеет сертификат собственного производства, санитарно-гигиеническое заключение, декларации о соответствии ЕАС, ежегодные испытания, что подтверждается протоколами испытаний ЗАО ТИСИ.
  include ../../../components/demo/external-video/index
  p Натуральная оболочка, фиброузная оболочка, полиамидная оболочка, белковая оболочка уступают по качеству текстильной оболочки «ТВИЛАЙМ», текстильная оболочка имеет #[b преимущества] такие как:
  ul
    li Натуральный внешний вид;
    li Текстильная колбасная оболочка — это органический продукт;
    li Длительные сроки хранения продукта;
    li Высокая прочность, эластичность;
    li Стабильность формы при наполнении;
    li Минимальные потери при производстве и обработке;
    li Возможность придания уникальной формы и разнообразия цветов;
    li Хорошая проницаемость при копчении;
    li Возможность нанесения печати на основу.
  p Почему мясная промышленность отдает предпочтение продукции фирмы «ТВИЛАЙМ»:
  include ../../../components/demo/list-tile-2/index
  +b-info-2({
    text: '<b>«ТВИЛАЙМ»</b> — белорусское качество, которому доверяют!'
  })