extends ../../../tpl/main
block pageVars
  - DB.pageTitle = 'Header (Type 4)';
  - DB.layout = 'wide';
  - DB.DIR = '../../../';
  - DB.headerModifier = 'header--4';
block header
  include ../../../../components/header/header-4/index