extends ../../../tpl/main
block pageVars
  - DB.pageTitle = 'Header (Type 2)';
  - DB.layout = 'wide';
  - DB.DIR = '../../../';
  - DB.headerModifier = 'header--2';
block header
  include ../../../../components/header/header-2/index