.menu-head-base.hide-print.clearfix
  ul.menu_level_1.list-reset
    li.item_1
      a(href='#')
        span О магазине
    li.item_1
      span Новости
    li.item_1.active
      a(href='#')
        span Оплата
    li.item_1.active
      span Гарантия
    li.item_1
      a(href='#')
        span Доставка
    li.item_1
      a(href='#')
        span Контакты