.contacts-head-5
  .contacts-head-5__dropdown-wrap
    .contacts-head-5__dropdown.dropdown
      a.contacts-head-5__toggle.dropdown-toggle(data-toggle='dropdown', href='#')
        span +375 (17) 224-11-00
      .contacts-head-5__menu.dropdown-menu
        .contacts-head-5__list
          .contacts-head-5__item
            .contacts-head-5__item-subtitle Горячая линия:
            a.contacts-head-5__item-link(href='tel:+375333823138')
              span +375 (33) 382-31-38
            .contacts-head-5__item-helper (вт. и чт. с 10:00 до 12:00)
          .contacts-head-5__item
            .contacts-head-5__item-subtitle Горячая линия:
            a.contacts-head-5__item-link(href='tel:+375333823138')
              span +375 (33) 382-31-38
            .contacts-head-5__item-helper (вт. и чт. с 10:00 до 12:00)