.pic-text
	.row
		.col-12.col-md-6.pic-text__col.pic-text__col--img
			img(src=DB.DIR + 'img/tmp/pic-text-01.jpg', alt='Компоненты')
		.col-12.col-md-6.pic-text__col.pic-text__col--text
			.pic-text__text
				ul
					li Мы создаем косметику с любовью и заботой;
					li Бережно сохраняя целебные свойства природных ингредиентов, объединяя многолетние традиции и открытия в косметологии, мы производим косметику, которая демонстрирует видимый результат от использования, приносит удовольствие, уверенность в себе и хорошее настроение.