include ../../../../components/base/modal/index
script.
    !function () {
        'use strict';

        $(function () {
            if ($.fn.mCustomScrollbar) {
                mCustomScrollbar.init($('.modal-body'), 340);
            }
        });
    }();