-
  var data = [
  {
    title: 'Информационно-справочный центр',
    text: '(111) 1-111-111'
  },
  {
    title: 'Управление делами',
    text: '8(800) 1000-200'
  },
  {
    title: 'Правовая дирекция',
    text: '8(800) 1000-200'
  },
  {
    title: 'Департамент розничных услуг',
    text: '8(800) 1000-200'
  },
  {
    title: 'Департамент по работе с корпоративными клиентами',
    text: '8(800) 1000-200'
  }
  ];
.h2 Тип 3. Таблица с вертикальным перестроением карточками от 480px и ниже.
.table-adaptive.type-3
  table
    tbody
      for item in data
        tr
          td
            b #{item.title}
          td.text-right #{item.text}