-
  var DB = {  // Global variables
    bodyClass: '',  // Body className
    pageTitle: 'Page',  // Page title
    layout: 'aside',  // Layout type: wide, aside
    isMain: false,  // Is the main page
    DIR: '',  // The path relative to the folder src/pages
    pmPushSite: false,  // If is true pm menu pushes site content on open event
    headerModifier: '', // Header modifier class
    companyName: 'Студия Борового'  // Company name
  };