.h2 vertical rythm
p.mt-6 mt-3.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero.
p.mb-6 mb-3.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero.
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero.
.h2 Font classes
.font-bold font-bold
.font-italic font-italic
.font-normal font-normal
.h2 Link classes
a.lnk(href='#') link
br
a.lnk-pseudo(href='#') lnk-pseudo
.h2 Underline helpers
a.dash(href='#') Dashed
br
a.dot(href='#') Dotted