// Структура виджета шаринга соц. сетей. Создаётся через JS (НЕ МЕНЯТЬ!)
.ya-share2.ya-share2_inited(data-counter='', data-services='vkontakte,facebook,odnoklassniki,gplus', data-title='', data-url='', data-description='', data-image='')
  .ya-share2__container.ya-share2__container_size_m
    ul.ya-share2__list.ya-share2__list_direction_horizontal
      li.ya-share2__item.ya-share2__item_service_vkontakte
        a.ya-share2__link(href='https://vk.com/share.php?utm_source=share2', rel='nofollow noopener', target='_blank', title='ВКонтакте')
          span.ya-share2__badge
            span.ya-share2__icon
            span.ya-share2__counter
          span.ya-share2__title ВКонтакте
      li.ya-share2__item.ya-share2__item_service_facebook
        a.ya-share2__link(href='https://www.facebook.com/sharer.php?src=sp&utm_source=share2', rel='nofollow noopener', target='_blank', title='Facebook')
          span.ya-share2__badge
            span.ya-share2__icon
            span.ya-share2__counter
          span.ya-share2__title Facebook
      li.ya-share2__item.ya-share2__item_service_odnoklassniki
        a.ya-share2__link(href='https://connect.ok.ru/offer?utm_source=share2', rel='nofollow noopener', target='_blank', title='Одноклассники')
          span.ya-share2__badge
            span.ya-share2__icon
            span.ya-share2__counter
          span.ya-share2__title Одноклассники
      li.ya-share2__item.ya-share2__item_service_gplus
        a.ya-share2__link(href='https://plus.google.com/share?utm_source=share2', rel='nofollow noopener', target='_blank', title='Google+')
          span.ya-share2__badge
            span.ya-share2__icon
          span.ya-share2__title Google+