include ../../../../components/sliders/template/sl-clients/index
include ../../../../components/sliders/nav/sl-nav/index
include ../../../../components/sliders/pager/sl-pager/index

+sl-clients({
    title: 'Наши клиенты',
    slides: [
        {
            img: 'img/tmp/sl-clients-01.png',
            img2: 'img/tmp/sl-clients-02.png',
        },
        {
            img: 'img/tmp/sl-clients-03.png',
            img2: 'img/tmp/sl-clients-04.png',
        },
        {
            img: 'img/tmp/sl-clients-05.png',
            img2: 'img/tmp/sl-clients-06.png',
        },
        {
            img: 'img/tmp/sl-clients-07.png',
            img2: 'img/tmp/sl-clients-08.png',
        },
        {
            img: 'img/tmp/sl-clients-09.png',
            img2: 'img/tmp/sl-clients-10.png',
        },
        {
            img: 'img/tmp/sl-clients-11.png',
            img2: 'img/tmp/sl-clients-12.png',
        }
    ]
})