include ../../../components/base/picture/index
.h3 Заданы все возможные разрешения
+picture({
    xl: 'img/tmp/src-set-example-01--xl.png',
    lg: 'img/tmp/src-set-example-01--lg.png',
    md: 'img/tmp/src-set-example-01--md.png',
    sm: 'img/tmp/src-set-example-01--sm.png',
    xs: 'img/tmp/src-set-example-01--xs.png',
    alt: 'alt'
})
.h3 Заданы xs, lg, xl
+picture({
    xl: 'img/tmp/src-set-example-01--xl.png',
    lg: 'img/tmp/src-set-example-01--lg.png',
    xs: 'img/tmp/src-set-example-01--xs-md.png',
    alt: 'alt'
})