.policy-foot {

  @media (max-width: $screen-sm-max) {
    margin-bottom: 21px;
  }

  .title {
    font-size: 18px;
    color: #688696;
    line-height: $line-height-base;

    @media (max-width: $screen-md-max) {
      font-size: 16px;
    }
  }
}