.menu-hor
  ul.menu_level_1.list-reset
    li.item_1
      a(href='#')
        span О компании
    li.item_1
      span
        span Каталог
    li.item_1.active
      a(href='#')
        span Каталог с подразделами
    li.item_1.active
      span
        span Пресс-центр
    li.item_1
      a(href='#')
        span Контакты