extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Калькулятор';
  - DB.layout = 'wide';
block title
  h1.hidden#title H1 Заголовок страницы. В магазинах начался сезон скидок
block content
  include ../../components/pages/calculator/calculator/index