extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Etalon';
block content
  include ../../components/base/lead/index
  include ../../components/base/headers/index
  include ../../components/base/type/index
  include ../../components/base/helpers/index
  include ../../components/base/media/index
  include ../../components/base/lists/index
  include ../../components/base/lists-no-styles/index
  include ../../components/base/cite/index
  include ../../components/base/cite-color/index
  include ../../components/base/blockquote1/index
  include ../../components/base/blockquote2/index
  include ../../components/base/blockquote3/index
  include ../../components/base/blockquote4/index
  include ../../components/base/caption/index
  include ../../components/base/img/index
  include ../../components/base/pagination/index
  include ../../components/base/pager/index
  include ../../components/pages/etalon/buttons/index
  include ../../components/pages/etalon/form-1/index
  include ../../components/pages/etalon/form-2/index
  include ../../components/base/tables/simple/index
  include ../../components/base/tables/table-responsive/index
  include ../../components/base/tables/adapt_1/index
  include ../../components/base/tables/adapt_1--2/index
  include ../../components/base/tables/caption/index
  include ../../components/base/tables/no_border/index
  include ../../components/base/tables/numb/index
  include ../../components/base/accordion/index
  include ../../components/base/collapse/index
  include ../../components/base/collapse-simple/index
  include ../../components/base/collapse-opener/index
  include ../../components/base/modal/index
  include ../../components/base/dropdown/index
  include ../../components/base/tabs/index
  include ../../components/base/tabs-menu/index
  include ../../components/base/tabs-accordion/index
  include ../../components/base/video-wrap/index
  include ../../components/base/files/index
  include ../../components/pages/etalon/preloader/index