extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Main page';
  - DB.layout = 'wide';
  - DB.isMain = true;
block title
  h1.hidden#title H1 Заголовок страницы. В магазинах начался сезон скидок
block content
  include ../../components/pages/index/sl-main/index
  include ../../components/pages/index/teaser_2/index
  include ../../components/pages/index/sl-teaser/index
  include ../../components/pages/index/catalog-4/index
  include ../../components/pages/index/services/index
  .row
    .col-md-12.col-lg-8
      include ../../components/pages/index/text-block/index
    .col-md-12.col-lg-4
      include ../../components/pages/index/news-main-3/index
  include ../../components/pages/index/sl-partners/index
  include ../../components/pages/index/contact-form-2/index