extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Main page';
  - DB.layout = 'wide';
  - DB.isMain = true;
block title
  h1.hidden#title H1 Заголовок страницы. В магазинах начался сезон скидок
block content
  include ../../components/pages/index/sl-main/index
  include ../../components/pages/index/calculation/index
  include ../../components/pages/index/reliability/index
  include ../../components/pages/index/tracking/index
  include ../../components/pages/index/correspondence/index
  include ../../components/pages/index/services/index
  include ../../components/pages/index/about/index
  include ../../components/pages/index/sl-clients/index