extends ../tpl/main
block pageVars
  - DB.pageTitle = 'Shop page';
  - DB.layout = 'wide';
  - DB.isMain = true;
block header
  .header__mob
    .container
      include ../../components/header/logo/logo-mob/index
      .header__tools
        include ../../components/header/search/search-mob-2/index
        include ../../components/header/contacts/contacts-mob-3/index
        include ../../components/header/basket/basket-header-mob-2/index
        - var basketMobEmpty = true;
        include ../../components/header/basket/basket-header-mob-2/index
        include ../../components/header/hamburger/hamburger-opener/index
  .header__desktop
    .container
      .header__top
        .row
          .col-lg-5.col-xl-6
            include ../../components/header/menu/menu-hor/index
          .col-lg-6.col-xl-5
            include ../../components/header/contacts/contacts-head-2/index
          .col-1
            include ../../components/header/lang/lang-2/index
      .header__top
        .row
          .header__tools
            include ../../components/header/compare/compare/index
            include ../../components/header/login/exit/index
            include ../../components/header/login/enter/index
      .header__bottom
        .row
          .col-3
            include ../../components/header/logo/logo-svg/index
          .col-7
            include ../../components/header/search/search-head-3/index
          .col-2
            include ../../components/header/basket/basket-header/index
            - var basketEmpty = true;
            include ../../components/header/basket/basket-header/index
      include ../../components/header/menu/menu-drop-8/index
block title
  h1.hidden#title H1 Заголовок страницы. В магазинах начался сезон скидок
block content
  .row
    .col-12.col-lg-8
      include ../../components/pages/shop/sl-main-2/index
    .col-12.col-lg-4
      include ../../components/pages/shop/teaser_3/index
  include ../../components/pages/shop/goods/index
  include ../../components/pages/index/teaser_2/index
  include ../../components/pages/index/catalog-4/index
  include ../../components/pages/shop/banner/index
  .row
    .col-md-12.col-lg-8
      include ../../components/pages/index/text-block/index
    .col-md-12.col-lg-4
      include ../../components/pages/index/news-main-3/index
block additional
  include ../../components/extra/scroll-to-top/index
  .pm(class=DB.pmPushSite ? 'js-push-site' : '')
    .pm-backdrop
    .pm-wrap
      include ../../components/header/hamburger/hamburger-closer/index
      .pm-inner
        .pm-head
          .pm-head__list
            .pm-head__item
              include ../../components/header/lang/lang-mob-2/index
            .pm-head__item
              include ../../components/header/login/enter-mob/index
            .pm-head__item
              include ../../components/header/login/exit-mob/index
            .pm-head__item
              include ../../components/header/compare/compare-mob/index
        include ../../components/header/menu/menu-mob/index