.h2 Media-object
.media
  p.mr-3 lorem
  .media-body
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa cumque dicta excepturi iusto sapiente sequi totam vero.