.studio
  .inner
    .pic
      img(src=DB.DIR + 'img/studio.svg', alt='Студия Борового', title='Студия Борового')
    .text-wrap
      | Разработка сайта —
      = ' '
      a.link(href='http://www.db.by/', target='_blank') Студия Борового