.studio {
  margin-bottom: 15px;

  .inner {
    display: flex;
  }

  .pic {
    flex-shrink: 0;
    margin-right: 7px;

    img {
      max-width: 25px;
      max-height: 25px;
    }
  }

  .text-wrap {
    padding-top: 2px;
    color: $text-footer-color;
    font-size: 14px;
    line-height: $line-height-base;
  }

  .link {
    color: $text-footer-color;
    text-decoration-color: rgba($text-footer-color, .7);

    @include hover-focus() {
      text-decoration: none;
      text-decoration-color: rgba($text-footer-color, 0);
    }
  }
}