.studio {

  @media (max-width: $screen-sm-max) {
    margin-bottom: 23px;
  }

  .text-wrap {
    font-size: 18px;
    line-height: $line-height-base;
    text-align: right;
    color: #688696;

    @media (max-width: $screen-md-max) {
      font-size: 16px;
    }

    @media (max-width: $screen-sm-max) {
      text-align: left;
    }
  }
}