.team {

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 22px;
    line-height: 1.41;
    margin-bottom: 50px;

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }
  }
}