.seo-text
  .h2
    | Преимущества покупки танометров в нашем магазине
  p
    | СП «Санта Бремор» ООО выражает Вам благодарность за участие СП «Бевалекс» ООО в создании корпоративной службы каталогов на базе Microsoft Active Directory.
  p
    | В результате выполнения Вашей Компанией проектных работ, на высоком качественном уровне были решены вопросы организации службы каталогов в масштабах географии группы компаний «Санта». При этом были учтены все аспекты использования в нашей инфраструктуре прикладного ПО Microsoft Active Directory.