//-
  modules/sitemap.html
  Standart_project v0.6.0
  Borovoy Studio - https://db.by/
  .sitemap - модуль Карта сайта
  .sitemap - список карта сайта
.sitemap
  ul.menu_level_1.list-reset
    li.item_1
      a(href='#') О банке
      ol.menu_level_2.list-reset
        li.item_2
          a(href='#') Информация о банке
        li.item_2
          a(href='#') Финансовые показатели
        li.item_2
          a(href='#') Работа в банке
        li.item_2
          a(href='#') Пресс-центр
        li.item_2
          a(href='#') Вопросы-ответы
        li.item_2
          a(href='#') Офисы банка
        li.item_2
          a(href='#') Банкоматы и инфокиоски
        li.item_2
          a(href='#') Курсы валют
        li.item_2
          a(href='#') Финансовая грамотность
        li.item_2
          a(href='#') Продажа, аренда залогового и лизингового имущества
        li.item_2
          a(href='#') Закупки
        li.item_2
          a(href='#') Мобильное приложение
    li.item_1
      a(href='#') Частным лицам
      ol.menu_level_2.list-reset
        li.item_2
          a(href='#') Вклады (депозиты)
        li.item_2
          a(href='#') Интернет-вклады
        li.item_2
          a(href='#') Банковские карты
        li.item_2
          a(href='#') Кредиты
        li.item_2
          a(href='#') Интернет-банк
        li.item_2
          a(href='#') Электронные деньги
        li.item_2
          a(href='#') Ценные бумаги
        li.item_2
          a(href='#') Международные переводы
        li.item_2
          a(href='#') Драгоценные металлы
        li.item_2
          a(href='#') Платежи
        li.item_2
          a(href='#') Аренда депозитарных ячеек
        li.item_2
          a(href='#') Открытие и ведение текущих банковских счетов
        li.item_2
          a(href='#') Тарифы на услуги
    li.item_1
      a(href='#') Корпоративным клиентам
    li.item_1
      a(href='#') Финансовым институтам
    li.item_1
      a(href='#') Малому и среднему бизнесу
      ol.menu_level_2
        li.item_2
          a(href='#') Информация о банке
          ol.menu_level_3
            li.item_3
              a(href='#') Адресно-справочная информация
              ol.menu_level_4
                li.item_4
                  a(href='#') Основные сведения
                li.item_4
                  a(href='#') Реквизиты
                li.item_4
                  a(href='#') Региональная структура
                li.item_4
                  a(href='#') Телефоны
                li.item_4
                  a(href='#') Режим работы банка с клиентами
                li.item_4
                  a(href='#') Прием граждан по личным вопросам
        li.item_2
          a(href='#') Прием граждан по личным вопросам
          ol.menu_level_3
            li.item_3
              a(href='#') Региональная структура
            li.item_3
              a(href='#') Основные акционеры банка
            li.item_3
              a(href='#') Годовой бухгалтерский отчет ОАО Гелгазпромбанк»
              ol.menu_level_4
                li.item_4
                  a(href='#') Методика расчета полной  процентной ставки за пользование кредитом
                li.item_4
                  a(href='#') Состав Совета директоров и состав Правления ОАО «Белгазпромбанк»
                li.item_4
                  a(href='#') Квартальный отчет ОАО «Белгазпромбанк» за предыдущий квартал
            li.item_3
              a(href='#') Аудиторское заключение
              ol.menu_level_4
                li.item_4
                  a(href='#')
                    | Инструкция о порядке раскрытия информации банками и небанковскими кредитно-финансовыми институтами
                  ol.menu_level_5
                    li.item_5
                      a(href='#') Интернет-сайт Национального банка Республики Беларусь
    li.item_1
      a(href='#') Корпоративным клиентам
      ol.menu_level_2.list-reset
        li.item_2
          a(href='#') Вклады (депозиты)
    li.item_1
      a(href='#') Финансовым институтам
      ol.menu_level_2.list-reset
        li.item_2
          a(href='#') Вклады (депозиты)
