extends ../../tpl/main
block pageVars
  - DB.pageTitle = 'Forgot password';
  - DB.layout = 'wide';
  - DB.DIR = '../../';
block title
  h1#title Запрос пароля
block content
  .row
    .col-12.col-md-8.col-lg-6
      include ../../../components/auth/forgot-password/index