.menu-foot-2
  ul.menu_level_1.list-reset.break-word
    li.item_1
      a(href='#')
        span Главная
    li.item_1
      a(href='#')
        span Тарифы
      a.icon.collapsed(data-toggle='collapse', href='#accordion-m-32')
      #accordion-m-32.collapse.submenu
        ul.menu_level_2.list-reset
          li.item_2
            a(href='#')
              span О нас
          li.item_2
            span
              span Команда
          li.item_2
            a(href='#')
              span Клиенты
          li.item_2
            span
              span Автопарк
          li.item_2
            a(href='#')
              span Вакансии
          li.item_2
            a(href='#')
              span Партнерство
    li.item_1
      span
        span О компании
      a.icon(data-toggle='collapse', href='#accordion-m-34')
      #accordion-m-34.collapse.show.submenu
        ul.menu_level_2.list-reset
          li.item_2
            a(href='#')
              span О нас
          li.item_2
            span
              span Команда
          li.item_2
            a(href='#')
              span Клиенты
          li.item_2
            span
              span Автопарк
          li.item_2
            a(href='#')
              span Вакансии
          li.item_2
            a(href='#')
              span Партнерство
    li.item_1
      a(href='#')
        span Доставка корреспонденции
  ul.menu_level_1.list-reset.break-word
    li.item_1.active
      a(href='#')
        span Расчет стоимости
    li.item_1
      a(href='#')
        span Документы
    li.item_1
      a(href='#')
        span Контакты