.menu-foot-2
  .inner
    ul.menu_level_1.break-word.list-reset
      li.item_1.active
        a(href='#')
          span О компании
        .submenu
          ul.menu_level_2.list-reset
            li.item_2.active
              a(href='#')
                span Отзывы
            li.item_2
              a(href='#')
                span Награды
            li.item_2
              a(href='#')
                span Рейтинги
            li.item_2.active
              span
                span Клиенты
    ul.menu_level_1.break-word.list-reset
      li.item_1
        a(href='#')
          span Портфолио
        .submenu
          ul.menu_level_2.list-reset
            li.item_2
              a(href='#')
                span По типу сайта
            li.item_2
              a(href='#')
                span По отраслям
      li.item_1
        a(href='#')
          span Портфолио 2
        .submenu
          ul.menu_level_2.list-reset
            li.item_2
              a(href='#')
                span По типу сайта
            li.item_2
              a(href='#')
                span По отраслям
    ul.menu_level_1.break-word.list-reset
      li.item_1.active
        span
          span Блог
        .submenu
          ul.menu_level_2.list-reset
            li.item_2
              a(href='#')
                span Новости компании
            li.item_2
              a(href='#')
                span Мероприятия
            li.item_2
              a(href='#')
                span Кейсы
            li.item_2
              a(href='#')
                span Азбука клиента / FAQ
            li.item_2
              a(href='#')
                span Экспертное мнение
            li.item_2
              a(href='#')
                span Календарь мероприятий
    ul.menu_level_1.break-word.list-reset
      li.item_1
        a(href='#')
          span Карьера
        .submenu
          ul.menu_level_2.list-reset
            li.item_2
              a(href='#')
                span Вакансии
            li.item_2
              a(href='#')
                span Стажировки