include ../../sliders/template/sl-prod/index

+sl-prod({
    slides: [
      {
          pic: 'sl-prod-0.png'
      },
      {
          pic: 'sl-prod-1.png'
      },
      {
          pic: 'sl-prod-2.png'
      },
      {
          pic: 'sl-prod-3.png'
      }
  ]
})