include ../../../../components/sliders/template/sl-project/index
include ../../../../components/sliders/pager/sl-pager-4/index
include ../../../../components/sliders/nav/sl-nav/index

+sl-project({
  pager: 'sl-pager-4',
  nav: 'sl-nav',
  slides: [
    {
      pic: 'sl-project-0.jpg',
      title: 'Национальная библиотека Беларуси',
      listInfo: [
        {
          name: 'Вид оборудования:',
          descr: 'Лифты, эскалаторы'
        },
        {
          name: 'Работы: Работы: Работы: Работы: Работы:',
          descr: 'Проектирование, поставка, установка, обслуживание'
        },
        {
          name: 'Изготовление',
          descr: '8 недель 8 недель 8 недель 8 недель 8 недель 8 недель 8 недель'
        }
      ]
    },
    {
      pic: 'sl-project-1.jpg',
      title: 'Загородный комплекс Загородный комплекс',
      listInfo: [
        {
          name: 'Вид оборудования:',
          descr: 'Лифты, эскалаторы Лифты, эскалаторы'
        },
        {
          name: 'Работы:',
          descr: 'Проектирование, поставка, установка, обслуживание Проектирование, поставка, установка, обслуживание'
        },
        {
          name: 'Изготовление',
          descr: '8 недель'
        }
      ]
    },
    {
      pic: 'sl-project-2.jpg',
      title: 'Национальная библиотека Беларуси Национальная библиотека Беларуси',
      listInfo: [
        {
          name: 'Вид оборудования:',
          descr: 'Лифты, эскалаторы'
        },
        {
          name: 'Работы:',
          descr: 'Проектирование, поставка, установка, обслуживание'
        },
        {
          name: 'Изготовление',
          descr: '8 недель'
        }
      ]
    }
  ]
})