.faq
  .h2
    | Часто задаваемые вопросы:
  .h3
    | Кондиционеры
  .question
    a.dash(href='#answer-1')
      | Что, если у клиента ещё не установлено в телефоне приложение Пэй-ап?
  .question
    a.dash(href='#answer-2')
      | Перевозка багажа грузобагажа населения в специально оборудованном купе пассажирского поезда, следующего по территории Республики Беларусь?
  .question
    a.dash(href='#answer-3')
      | Мой перевод несколько дней находится в статусе «На обработке», почему?
  .question
    a.dash(href='#answer-4')
      | Как приложение Пэй-ап получит доступ в интернет?
  .question
    a.dash(href='#answer-5')
      | Может ли быть ситуация, что клиент думает, что заплатил, но деньги не дошли до кафе?
  .h3
    | Якорные ссылки
  .question
    a.dash(href='#answer-6')
      | Что, если у клиента ещё не установлено в телефоне приложение Пэй-ап
  .question
    a.dash(href='#answer-7')
      | Перевозка багажа грузобагажа населения в специально оборудованном купе пассажирского поезда, следующего по территории Республики Беларусь?
  .question
    a.dash(href='#answer-8')
      | Мой перевод несколько дней находится в статусе «На обработке», почему?
  .h2.b-title
    | О кондиционерах H2
  #answer-1.answer
    .title
      | Что, если у клиента ещё не установлено в телефоне приложение Пэй-ап?
    .text
      | Приложение маленькое, его можно за несколько секунд скачать прямо в кафе. На чеке будет простая ссылка на приложение, его не придётся искать. QR-код также содержит ссылку на приложение (для тех, кто умеет открывать такие ссылки).
  #answer-2.answer
    .title
      | Перевозка багажа грузобагажа населения в специально оборудованном купе пассажирского поезда, следующего по территории Республики Беларусь?
    .text
      | Пока оплата идёт, клиент видит анимацию. Только когда банк подтвердил, что сумма на карте заблокирована, в R-Keeper отправляет информация о закрытии столика, а приложение сообщает клиенту, что оплата завершена.
  #answer-3.answer
    .title
      | Мой перевод несколько дней находится в статусе «На обработке», почему?
    .text
      | Идеальный вариант — вайфай в кафе. Однако приложение потребляет минимум трафика и не будет тормозить даже на медленном мобильном интернете. Время подтверждения оплаты меньше, чем при оплате картой.
  #answer-4.answer
    .title
      | Как приложение Пэй-ап получит доступ в интернет?
    .text
      | Когда официант уходит с картой из поля зрения клиента, его деньги никак не защищены, и ему остаётся полагаться на добросовестность официанта. Кто однажды обжёгся в такой ситуации, второй раз карту не даст. При оплате через Пэй-ап данные карты никуда не передаются. Плюс экономия времени на процессе расчёта.
  #answer-5.answer
    .title
      | Может ли быть ситуация, что клиент думает, что заплатил, но деньги не дошли до кафе?
    .text
      | Акция в Пэй-апе может быть таргетирована сколь угодно узко, вплоть до клиента, оставившего конкретный отзыв. Вы выбираете условия акции: скидку, время действия, количество заказов и т. д. Информацию о проводимой акции получают через наше приложение все пользователи, которые входят в выбранную целевую аудиторию. Если кто-то решает воспользоваться вашим предложением, ему не придётся ничего объяснять или называть промокод. Пэй-ап посчитает сумму с учётом условий акции.
  .h2.b-title
    | Якорные ссылки
  #answer-6.answer
    .title
      | Что, если у клиента ещё не установлено в телефоне приложение Пэй-ап
    .text
      | Идеальный вариант — вайфай в кафе. Однако приложение потребляет минимум трафика и не будет тормозить даже на медленном мобильном интернете. Время подтверждения оплаты меньше, чем при оплате картой.
  #answer-7.answer
    .title
      | Перевозка багажа грузобагажа населения в специально оборудованном купе пассажирского поезда, следующего по территории Республики Беларусь?
    .text
      | Когда официант уходит с картой из поля зрения клиента, его деньги никак не защищены, и ему остаётся полагаться на добросовестность официанта. Кто однажды обжёгся в такой ситуации, второй раз карту не даст. При оплате через Пэй-ап данные карты никуда не передаются. Плюс экономия времени на процессе расчёта.
  #answer-8.answer
    .title
      | Мой перевод несколько дней находится в статусе «На обработке», почему?
    .text
      | Акция в Пэй-апе может быть таргетирована сколь угодно узко, вплоть до клиента, оставившего конкретный отзыв. Вы выбираете условия акции: скидку, время действия, количество заказов и т. д. Информацию о проводимой акции получают через наше приложение все пользователи, которые входят в выбранную целевую аудиторию. Если кто-то решает воспользоваться вашим предложением, ему не придётся ничего объяснять или называть промокод. Пэй-ап посчитает сумму с учётом условий акции.
script.
    !function () {
        'use strict';

        // Animate scroll
        function animateScroll() {
            var faq = $('.faq');
            if (faq.length) {
                var question = faq.find('.question a');
                question.each(function () {
                    var oThis = $(this);
                    oThis.on('click', function () {
                        var target = $(oThis.attr('href'));
                        var targetTop = target.offset().top;
                        $('html, body').animate({
                            scrollTop: targetTop
                        }, 500);
                        setTimeout(function () {
                            target.addClass('animate');
                        }, 400);
                        setTimeout(function () {
                            target.removeClass('animate');
                        }, 1400);
                        return false;
                    });
                });
            }
        }

        $(function () {
            animateScroll();
        });
    }();