.sl-shares {

  .title {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 21px;
  }

  .wrap {
    position: relative;

    @media (max-width: $screen-sm-max) {
      margin: 0 -10px;
    }

    &.inited-not {

      .slide {

        &:nth-child(1) {
          float: none;
        }

        &:nth-child(1n+2) {
          display: none;
        }
      }
    }
  }

  .slider {

    @media (min-width: $screen-md-min) {
      border-radius: 0;
      overflow: hidden;
    }
  }

  .slick-list {

    @media (min-width: $screen-md-min) {
      margin: 0 -10px;
    }
  }

  .slide {
    position: relative;

    @media (min-width: $screen-md-min) {
      padding: 0 10px;
    }
  }

  .share-card {
    display: block;
    position: relative;
    border-radius: 0;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    padding: 41px 40px 42px;
    height: 330px;

    @media (max-width: $screen-md-max) {
      height: 310px;
      padding: 30px 35px;
    }

    @media (max-width: $screen-sm-max) {
      padding-left: 0;
      padding-right: 0;
      border-radius: 0;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: #fff;

      .desktop & {

        .pic {

          img {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
      }

      .btn-wrap {

        .btn {
          border-color: $link-color;
          background: $link-color;
        }
      }
    }

    &.accent-slide {

      .pic {

        &:after {
          background: linear-gradient(90deg, rgba(#000, .6) 5%, rgba(#cc3e50, .6) 100%);
        }
      }

      .btn-wrap {

        .btn {
          background: #cc3e50;
          border-color: #cc3e50;
        }
      }
    }

    .pic {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(darken($link-color, 15%), .6);
      }

      img {
        transition: .5s;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: none;
        min-height: 100%;
        min-width: 100%;
      }
    }

    .inner {
      max-width: 60%;
      height: 100%;
      position: relative;

      @media (max-width: $screen-lg-max) {
        max-width: inherit;
      }

      @media (max-width: $screen-sm-max) {
        max-width: 80%;
        margin: 0 auto;
      }
    }

    .title {
      @include font-family-bold;
      @include max-height(40, 42, 2);
      margin-bottom: 19px;

      @media (max-width: $screen-xs-max) {
        font-size: 30px;
      }
    }

    .text {
      @include max-height(14, 19.6, 4);
      margin-bottom: 23px;
    }

    .btn-wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 100%;

      .btn {
        border-color: #fff;
        color: #fff;

        @media (max-width: $screen-md-max) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
}