.item-quantity-2
  .item_buttons_counter_block
    a.bx_bt_button_type_2.bx_small.bx_fwb.btn-down.minus(href='javascript:void(0)') -
    input.tac.transparent_input.quantity.form-control(type='text', value='1', data-min='1')
    a.bx_bt_button_type_2.bx_small.bx_fwb.btn-up.plus(href='javascript:void(0)') +