.text-block
  .h1.title
    | &mdash;&nbsp;веб-студия
    | с&nbsp;процессным подходом
  .text
    p.lead
      | Мы специализируемся в области веб-разработки, продвижении сайтов, сопровождения и развития интернет-проектов. В нашем активе 13-летний опыт работы на рынке и более 600 разработанных проектов.
    p.lead
      | Мы - процессная компания. Надежная и предсказуемая для клиентов. Технологичная и быстрая. Профессиональная и целеустремленная. Честная
      | и открытая.”