//-
  modules/vacancy-collapse.html
  Standart_project v0.6.0
  Borovoy Studio - https://db.by/
  .vacancy - модуль Сотрудники
  .no-result - нет свободных вакансий
.vacancy.no-result
  | Сейчас в нашей компании нет открытых вакансий. Если вы хотите заявить о себе, просто
  =' '
  span.lnk-pseudo(data-toggle='modal', data-target='#modal-vacancy') отправьте резюме
  |  и, когда наступит пора, мы будем иметь вас в виду.