include ../../../block/card-links/index

.services
  .services__title-row.row
    .services__title-col.services__title-col--title.col-lg-6.col-12
      .h2.mt-0.services__title Корэксгарант — полный спектр курьерских услуг
    .services__title-col.services__title-col--text.col-lg-5.col-12
      .services__title-text Мы оказываем услуги экспресс доставки писем, посылок, письменной корреспонденции и документов
  +card-links({
      colClassName: 'col-lg-4 col-md-6 col-12',
      cards: [
          {
              className: 'card-links-card--small',
              img: 'img/tmp/card-links-small-01.svg',
              imgHover: 'img/tmp/card-links-small-01-active.svg',
              title: 'Инструкция',
              text: 'Предлагаем ознакомиться с полной инструкцией оказания услуг'
          },
          {
              className: 'card-links-card--small',
              img: 'img/tmp/card-links-small-01.svg',
              imgHover: 'img/tmp/card-links-small-01-active.svg',
              title: 'Приложение (тарифы)',
              text: 'Документ наших тарифов для разных стран, регионов и городов'
          },
          {
              className: 'card-links-card--small',
              img: 'img/tmp/card-links-small-01.svg',
              imgHover: 'img/tmp/card-links-small-01-active.svg',
              title: 'Договор',
              text: 'Ознакомьтесь с договором о предоставлении нами услуг'
          }
      ]
  })