-
  var catalogBlock = [
    {
      img: 'img/tmp/cat-item-0.jpg',
      title: 'Ламинат Tarkett Манон',
      article: '504426002',
      rating: 4,
      colors: [
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg'
      ],
      desc: 'Класс применения: 32<br>Замковая система 2-lock<br>Срок гарантии: 25 лет<br>Размер панели, мм: 1292x331x8',
      feature: 'Используеться дополнительная силиконовая обработка замка против влажности',
      price: '6.38',
      sale: 'Реккомендуем',
      saleStyle: 'reccomend',
      status: {
        type: 'available', //'available', 'few', 'medium', 'much', 'not-available'}
        text: 'в наличии'
      }
    },
    {
      img: 'img/tmp/cat-item-0.jpg',
      title: 'Ламинат Tarkett Манон Ламинат Tarkett Манон',
      article: '504426002',
      rating: 3,
      colors: [
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg'
      ],
      desc: 'Класс применения: 32<br>Замковая система 2-lock<br>Срок гарантии: 25 лет<br>Размер панели, мм: 1292x331x8',
      feature: 'Используеться дополнительная силиконовая обработка замка против влажности',
      oldPrice: '7,55',
      price: '6.38',
      sale: 'Новинка',
      saleStyle: 'new',
      status: {
        type: 'not-available', //'available', 'few', 'medium', 'much', 'not-available'}
        text: 'нет в наличии'
      }
    },
    {
      img: 'img/tmp/cat-item-0.jpg',
      title: 'Ламинат Tarkett Манон',
      article: '504426002',
      rating: 4,
      colors: [
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg'
      ],
      moreColors: 'ещё 30',
      desc: 'Класс применения: 32<br>Замковая система 2-lock<br>Срок гарантии: 25 лет<br>Размер панели, мм: 1292x331x8',
      feature: 'Используеться дополнительная силиконовая обработка замка против влажности',
      oldPrice: '7,55',
      price: '6.38',
      sale: 'Акция',
      saleStyle: 'sale',
      status: {
        type: 'much', //'available', 'few', 'medium', 'much', 'not-available'}
        text: 'осталось много'
      }
    },
    {
      img: 'img/tmp/cat-item-0.jpg',
      title: 'Ламинат Tarkett Манон Ламинат Tarkett Манон',
      article: '504426002',
      rating: 4,
      colors: [
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg'
      ],
      moreColors: 'ещё 30',
      desc: 'Класс применения: 32<br>Замковая система 2-lock<br>Срок гарантии: 25 лет<br>Размер панели, мм: 1292x331x8',
      feature: 'Используеться дополнительная силиконовая обработка замка против влажности',
      oldPrice: '7,55',
      price: '6.38',
      sale: 'Хит!',
      saleStyle: 'hit',
      status: {
        type: 'medium', //'available', 'few', 'medium', 'much', 'not-available'}
        text: 'осталось мало'
      }
    },
    {
      img: 'img/tmp/cat-item-0.jpg',
      title: 'Ламинат Tarkett Манон',
      colors: [
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg'
      ],
      desc: 'Класс применения: 32<br>Замковая система 2-lock<br>Срок гарантии: 25 лет<br>Размер панели, мм: 1292x331x8',
      feature: 'Используеться дополнительная силиконовая обработка замка против влажности',
      oldPrice: '7,55',
      price: '6.38',
      sale: 'Хит!',
      saleStyle: 'hit',
      status: {
        type: 'few', //'available', 'few', 'medium', 'much', 'not-available'}
        text: 'осталось очень мало'
      }
    },
    {
      img: 'img/tmp/cat-item-0.jpg',
      title: 'Ламинат Tarkett Манон',
      article: '504426002',
      rating: 4,
      colors: [
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg'
      ],
      desc: 'Класс применения: 32<br>Замковая система 2-lock<br>Срок гарантии: 25 лет<br>Размер панели, мм: 1292x331x8',
      feature: 'Используеться дополнительная силиконовая обработка замка против влажности',
      oldPrice: '7,55',
      price: '6.38',
      sale: 'Хит!',
      saleStyle: 'hit',
      status: {
        type: 'few', //'available', 'few', 'medium', 'much', 'not-available'}
        text: 'осталось очень мало'
      }
    },
    {
      img: 'img/tmp/cat-item-0.jpg',
      title: 'Ламинат Tarkett Манон',
      article: '504426002',
      rating: 4,
      colors: [
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg'
      ],
      desc: 'Класс применения: 32<br>Замковая система 2-lock<br>Срок гарантии: 25 лет<br>Размер панели, мм: 1292x331x8',
      feature: 'Используеться дополнительная силиконовая обработка замка против влажности',
      oldPrice: '7,55',
      price: '6.38',
      status: {
        type: 'available', //'available', 'few', 'medium', 'much', 'not-available'}
        text: 'в наличии'
      }
    },
    {
      img: 'img/tmp/cat-item-0.jpg',
      title: 'Ламинат Tarkett Манон Ламинат Tarkett Манон',
      article: '504426002',
      rating: 3,
      colors: [
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg'
      ],
      desc: 'Класс применения: 32<br>Замковая система 2-lock<br>Срок гарантии: 25 лет<br>Размер панели, мм: 1292x331x8',
      feature: 'Используеться дополнительная силиконовая обработка замка против влажности',
      oldPrice: '7,55',
      price: '6.38',
      status: {
        type: 'not-available', //'available', 'few', 'medium', 'much', 'not-available'}
        text: 'нет в наличии'
      }
    },
    {
      img: 'img/tmp/cat-item-0.jpg',
      title: 'Ламинат Tarkett Манон',
      article: '504426002',
      rating: 4,
      colors: [
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg'
      ],
      moreColors: 'ещё 30',
      desc: 'Класс применения: 32<br>Замковая система 2-lock<br>Срок гарантии: 25 лет<br>Размер панели, мм: 1292x331x8',
      feature: 'Используеться дополнительная силиконовая обработка замка против влажности',
      oldPrice: '7,55',
      price: '6.38',
      status: {
        type: 'much', //'available', 'few', 'medium', 'much', 'not-available'}
        text: 'осталось много'
      }
    },
    {
      img: 'img/tmp/cat-item-0.jpg',
      title: 'Ламинат Tarkett Манон Ламинат Tarkett Манон',
      article: '504426002',
      rating: 4,
      colors: [
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg'
      ],
      desc: 'Класс применения: 32<br>Замковая система 2-lock<br>Срок гарантии: 25 лет<br>Размер панели, мм: 1292x331x8',
      feature: 'Используеться дополнительная силиконовая обработка замка против влажности',
      oldPrice: '7,55',
      price: '6.38',
      status: {
        type: 'medium', //'available', 'few', 'medium', 'much', 'not-available'}
        text: 'осталось мало'
      }
    },
    {
      img: 'img/tmp/cat-item-0.jpg',
      title: 'Ламинат Tarkett Манон',
      article: '504426002',
      rating: 4,
      colors: [
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg'
      ],
      desc: 'Класс применения: 32<br>Замковая система 2-lock<br>Срок гарантии: 25 лет<br>Размер панели, мм: 1292x331x8',
      feature: 'Используеться дополнительная силиконовая обработка замка против влажности',
      oldPrice: '7,55',
      price: '6.38',
      status: {
        type: 'few', //'available', 'few', 'medium', 'much', 'not-available'}
        text: 'осталось очень мало'
      }
    },
    {
      img: 'img/tmp/cat-item-0.jpg',
      title: 'Ламинат Tarkett Манон',
      article: '504426002',
      rating: 4,
      colors: [
        'img/tmp/cat-item-color-0.jpg',
        'img/tmp/cat-item-color-0.jpg'
      ],
      desc: 'Класс применения: 32<br>Замковая система 2-lock<br>Срок гарантии: 25 лет<br>Размер панели, мм: 1292x331x8',
      feature: 'Используеться дополнительная силиконовая обработка замка против влажности',
      oldPrice: '7,55',
      price: '6.38',
      status: {
        type: 'few', //'available', 'few', 'medium', 'much', 'not-available'}
        text: 'осталось очень мало'
      }
    }
  ];
.catalog-list-block
  .items.clearfix
    each item in catalogBlock
      .item
        - var catItemInfo = item;
        include ../cat-item/index