.contacts-4
  .contacts-4__head
    .contacts-4__head-text Частное производственно-торговое унитарное предприятие «ТВИЛАЙМ»
    .contacts-4__head-lead РБ, Гомельская обл., г. Мозырь, ул. Коммунальная, 18В.
  .contacts-4__list
    .contacts-4__row
      .contacts-4__item.contacts-4__item--tel
        a(href='tel:+375296544608') +375 (29) 654-46-08
        =' '
        b Директор
      .contacts-4__item.contacts-4__item--tel
        a(href='tel:+375295310006') +375 (29) 531-00-06
        =' '
        b Менеджер по продажам
      .contacts-4__item.contacts-4__item--tel
        a(href='tel:+375236253051') +375 (236) 25-30-51 (тел/факс)
        =' '
        b Офис
      .contacts-4__item.contacts-4__item--tel
        a(href='tel:+375297309731') +375 (29) 730-97-31
        =' '
        b Менеджер по продажам
  .contacts-4__list
    .contacts-4__row
      .contacts-4__item.contacts-4__item--mail
        a(href='mailto:tvil@tut.by') tvil@tut.by
        =' '
        | — пишите по любым вопросам