include ../../../../components/sliders/template/sl-main-3/index
include ../../../../components/sliders/pager/sl-pager-5/index

+sl-main-3({
  pager: 'sl-pager-5',
  slides: [
      {
          pic: 'sl-main-3-0.jpg',
          title: 'Путеводитель по «Оренбургу»: второе место в таблице, победный аскетизм на чужих полях и старые счеты главных тренеров',
          pagerTitle: 'Путеводитель по «Оренбургу»'
      },
      {
          pic: 'sl-main-3-1.jpg',
          title: 'Путеводитель по «Оренбургу»: второе место в таблице, победный аскетизм на чужих полях и старые счеты главных тренеров',
          pagerTitle: 'Чемпионы. 10 лет спустя'
      },
      {
          pic: 'sl-main-3-2.jpg',
          pagerTitle: 'Зенит» — «Спартак»: матч года На стадионе крестовский'
      },
      {
          pic: 'sl-main-3-3.jpg',
          title: '28 сентября, 20:00. Матч Зенит — Кнаттспирнуфелаг Рейкьявик на стадионе «Крестовcкий»',
          btnText: 'Купить билеты',
          pagerTitle: 'ЧМ-2018: игроки в сборных'
      }
  ]
})