.lang-drop
  .lang-drop__inner.dropdown
    a.lang-drop__link.dropdown-toggle(href='#', data-toggle='dropdown')
      span En
    .dropdown-menu.lang-drop__dropdown
      ul.lang-drop__list.list-reset.clearfix
        li.lang-drop__item.active
          span.lang-drop__link
            span En
        li.lang-drop__item
          a.lang-drop__link(href='#')
            span Pl
        li.lang-drop__item
          a.lang-drop__link(href='#')
            span Ru