#rubric.rubrics
  ul#db-items-13.list-reset
    li#elem-86.item(data-animation-id='1', style='background-color: rgb(255, 255, 255);')
      h3#bx_1970176138_86.title
        span.title.title_rubric_elem._dash._close(data-rubric='descr-rubr-86') Акционер
      #descr-rubr-86.descr_rubricator.ugc._clear.mb_2._close
        p
          | Совладелец предприятия или организации, созданных в виде акционерного общества, владеющий акциями, подтверждающими размер его вклада в уставный капитал акционерного общества и дающими право на участие в управлении обществом и на получение дивидентов.
    li#elem-87.item(data-animation-id='0', style='background-color: rgb(255, 255, 255);')
      h3#bx_1970176138_87.title
        span.title.title_rubric_elem._dash._open(data-rubric='descr-rubr-87') Акция
      #descr-rubr-87.descr_rubricator.ugc._clear.mb_2._open
        p
          | Акция — ценная бумага, выпускаемая акционерными обществами и указывающие на долю владельца (держателя) в капитале данного общества, дающие право ее владельцу на получение прибыли в виде дивидента, а также, в зависимости от типа акции, способные давать право голоса на общем собрании акционеров (простая именная).
        p
          | Этот вид долевых ценных бумаг не выпускается государственными органами, они эмитируются только промышленными, торговыми и финансовыми корпорациями. Цена, по которой акция реализуется на рынке, называется курсом акции.
    li#elem-88.item(data-animation-id='2', style='background-color: rgb(255, 255, 255);')
      h3#bx_1970176138_88.title
        span.title.title_rubric_elem._dash._open(data-rubric='descr-rubr-88') Андеррайтер
      #descr-rubr-88.descr_rubricator.ugc._clear.mb_2._open
        p
          | Юридическое лицо, которое осуществляет руководство процессом выпуска ценных бумаг и их распределения.
        p
          | Андеррайтер «твёрдого обязательства (firm commitment)» гарантирует эмитенту получение выручки от продажи ценных бумаг эмитентом, так как фактически приобретает ценные бумаги у эмитента (предварительно оценив их) даже если кроме firm commitment-андеррайтера не нашлось больше желающих купить ценные бумаги эмитента.
        p
          | Андеррайтером может быть любое юридическое лицо, соответствующим образом лицензированное ФСФР, то есть это может быть или инвестиционная компания или инвестиционный банк. Это юридическое лицо и предлагает инвесторам купить выпуск ценных бумаг эмитента. Для этого оно, как правило, проводит собрания потенциальных инвесторов, презентуя им эмитента и условия и потенциал предлагаемых к приобретению ценных  бумаг.
    li#elem-89.item
      h3#bx_1970176138_89.title
        span.title.title_rubric_elem._dash(data-rubric='descr-rubr-89') Арбитраж
      #descr-rubr-89.descr_rubricator.ugc._clear.mb_2
        p
          | Арбитраж это коммерческая деятельность, состоящая в использовании разницы цен на одинаковые объекты, торгуемые на биржах (векселя, ценные бумаги, товаровы) на различных рынках с целью привлечения прибыли без рисков.
        p
          | Другое значение термина АРБИТРАЖ — примирительный метод, способ разрешения споров, при котором стороны обращаются к третейским судьям (арбитрам).
    li#elem-90.item
      h3#bx_1970176138_90.title
        span.title.title_rubric_elem._dash(data-rubric='descr-rubr-90') Аудитор независимый
      #descr-rubr-90.descr_rubricator.ugc._clear.mb_2
        p
          | Аудит — независимый вневедомственный финансовый контроль, его осуществляют специализированные аудиторские фирмы и службы. Контрольные и консультационные услуги аудиторские фирмы оказывают всем предприятиям и организациям на платной основе. Аудиторские фирмы являются независимыми организациями, призванными способствовать повышению качества контроля, его объективности.
    li#elem-91.item
      h3#bx_1970176138_91.title
        span.title.title_rubric_elem._dash(data-rubric='descr-rubr-91') Аффилированное лицо
      #descr-rubr-91.descr_rubricator.ugc._clear.mb_2
        p Физическое лицо, способное оказывать прямое влияние на деятельность компании.
        p
          | Аффилиированные лица прямо или опосредованно имеют доступ к внутренней информации компании, обладает сведениями о деятельности предприятия, фирмы, компании. К аффилированным лицам принято относить собственников, сотрудников администрации, крупных кредиторов, аудиторов, а также родственников аффилированных лиц.