.row.break-word.columns
  .col-sm-6
    .h3
      | H3 Заголовок в текстовых колонках. планы предоставить Беларуси 1 млрд долларов и пролонгировать кредит
    p
      | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации, программатор SIMATIC Field PG).
  .col-sm-6
    .h3
      | H3 Заголовок в текстовых колонках. Планы предоставить
    p
      | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации, программатор SIMATIC Field PG).
.row.break-word.columns
  .col-sm-4
    .h4
      | H4 Заголовок в текстовых колонках. Планы предоставить Беларуси
    p
      | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации,
  .col-sm-4
    .h4
      | H4 Заголовок в текстовых колонках. планы предоставить Беларуси 1 млрд долларов
    p
      | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и
  .col-sm-4
    .h4
      | H4 Заголовок в текстовых колонках.
    p
      | Электрооборудование фирмы Siemens (УЧПУ SINUMERIK 840D (ядро, пульт, контроллер, базовое SW), привода подачи и главного движения, датчики, кабели, электроаппаратура и электромонтажные изделия, комплект документации, программатор SIMATIC Field