.catalog-detail.js-width
  .item
    .media
      .pic.js-width-trg
        img.img(src=DB.DIR + 'img/tmp/catalog/catalog-6.jpg', alt='Каталог', title='Каталог')
      .media-body
        .h3.title-cat
          a(href='#') Спортивные товары
        p.text
          | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра
          | южной испанской провинции. И снова новобранец команды.
          | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра
          | южной испанской провинции. И снова новобранец команды.
        .link-up
          a(href='#') Все спортивные костюмы
  .item
    .media
      .pic.media.js-width-trg
        img.img(src=DB.DIR + 'img/tmp/catalog/catalog-5.jpg', alt='Каталог', title='Каталог')
      .media-body
        .h3.title-cat
          a(href='#') Видеорегистраторы
        p.text
          | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра
          | южной испанской провинции. И снова новобранец команды.
          | На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра южной испанской провинции. И снова новобранец команды.На “Туре Андалусии” состоялся второй этап, 191 км до города Lucena, географического центра
          | южной испанской провинции. И снова новобранец команды.
        .link-up
          a(href='#') Все видеорегистраторы