include ../../../../components/sliders/template/sl-main-4/index

+sl-main-4({
  slides: [
      {
          pic: 'sl-main-4-0.jpg',
          title: 'Железнодорожное экспедирование',
          text: 'Оперативная выдача ж/д кодов, своевременная отправка ж/д телеграмм, предоставление оперативной информации о местонахождении вагонов и контейнеров и др.'
      },
      {
          pic: 'sl-main-4-1.jpg',
          title: 'Железнодорожное операторство',
          text: 'Предоставление в пользование собственного парка вагонов и контейнеров, текущее и оперативное планирование перевозок, круглосуточное диспетчерское управление.'
      },
      {
          pic: 'sl-main-4-2.jpg',
          title: 'Интермодальные перевозки ',
          text: 'Организация  интермодальных перевозок грузов по транспортным коридорам Европа-Азия, работа с портами, логистическими центрами и всеми видами транспорта, таможенная очистка, инспектирование грузов, доставка грузов «от двери до двери» (собственный штат специалистов с дипломами FIATA);'
      },
      {
          pic: 'sl-main-4-3.jpg',
          title: 'Проектные перевозки ',
          text: 'Организация перевозок проектных, негабаритных, тяжеловесных грузов, разработка и согласование схем крепления грузов к подвижному составу (собственный штат специалистов по разработке схем), выбор оптимальных маршрутов перевозок;'
      },
      {
          pic: 'sl-main-4-4.jpg',
          title: 'Услуги по ремонту вагонов, локомотивов',
          text: 'Предоставление в пользование собственного парка вагонов и контейнеров, текущее и оперативное планирование перевозок, круглосуточное диспетчерское управление.'
      },
      {
          pic: 'sl-main-4-5.jpg',
          title: 'Профессиональное консультирование',
          text: 'Консультации по различным вопросам транспорта и логистики, включая законодательство, организацию перевозок грузов, выбор оптимальных маршрутов следования и др.'
      },
      {
          pic: 'sl-main-4-6.jpg',
          title: 'Профессиональное консультирование #1',
          text: 'Консультации по различным вопросам транспорта и логистики, включая законодательство, организацию перевозок грузов, выбор оптимальных маршрутов следования и др.'
      }
  ]
})