.news-aside
  .h2 Новости
  .item
    a.link(href='#')
      .pic
        i.icon
        img.img(src=DB.DIR + 'img/tmp/news-aside-1.jpg', alt='Новость', title='Новость')
      .date
        time.time(datetime='2014-06-20') 20 июня 2014
      .title
        | Белорусское лето: прохладно, дождливо и недолго
  .item
    a.link(href='#')
      .date
        time.time(datetime='2014-06-20') 20 июня 2014
      .title
        | Белорусское лето: прохладно, дождливо и недолго
  a.link-all(href='#') Все новости