include ../../../../components/sliders/template/sl-vertical/index
include ../../../../components/sliders/pager/sl-pager-6/index
include ../../../../components/sliders/nav/sl-nav-4-dark/index

+sl-vertical({
  pager: 'sl-pager-6',
  nav: 'sl-nav-4-dark',
  slides: [
    {
      pic: 'img/tmp/sl-vertical-01.svg',
      title: '№1 на рынке веб-разработки и поискового маркетинга на протяжении 5 лет',
      text: '№1 в Беларуси по версии marketing.by и №11 в СНГ по верcии CMSmagazine'
    },
    {
      pic: 'img/tmp/sl-vertical-01.svg',
      title: 'Лифты и лифтовое оборудование',
      text: 'Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования'
    },
    {
      pic: 'img/tmp/sl-vertical-01.svg',
      title: 'Лифты и лифтовое оборудование Лифты и лифтовое оборудование Лифты и лифтовое оборудование Лифты и лифтовое оборудование',
      text: 'Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования Наше предприятие осуществляет полный комплекс услуг по технической поддержке лифтового и поъемного оборудования'
    }
  ]
})