include ../../../sliders/template/sl-teaser/index
include ../../../sliders/nav/sl-nav-2/index

+sl-teaser({
    nav: 'sl-nav-2',
    slides: [
        {
          title: 'БПС-Сбербанк',
          text: 'Разработка и продвижение сайта',
          pic: 'sl-teaser-0.jpg'
        },
        {
          title: 'Крыница',
          text: 'Разработка и продвижение сайта',
          pic: 'sl-teaser-1.jpg'
        },
        {
          title: 'YUKON',
          text: 'Разработка сайтов и поисковый маркетинг на западные рынки',
          pic: 'sl-teaser-2.jpg'
        },
        {
          title: 'ФК “Зенит”',
          text: 'Программирование и техническая поддержка сайта',
          pic: 'sl-teaser-3.jpg'
        },
        {
            title: 'БПС-Сбербанк',
            pic: 'sl-teaser-0.jpg'
        },
        {
            title: 'Крыница',
            text: 'Разработка и продвижение сайта',
            pic: 'sl-teaser-1.jpg'
        }
    ]
})