include ../../../../components/base/btns/btn/index
-
  var data = [
    {
      date: '31.09<br>2017',
      title: 'Перенос сроков установки СКНО',
      text: 'Cо 2 августа 2017 г. вступает в силу Постановление N 571/9, корректирующее сроки установки в кассовое оборудование средств контроля налоговых органов.',
      img: 'news-pic-0.jpg'
    },
    {
      date: '31.09<br>2017',
      title: 'Открытие нового строительного гипермаркета Материк',
      text: 'В качестве подрядчика для автоматизации кассовой линейки строительного гипермаркета Материк, была выбрана компания ТУССОН ...',
      img: 'news-pic-1.jpg'
    },
    {
      date: '31.09<br>2017',
      title: 'Ручной сканер общего назначения Heron HD3100',
      text: 'Datalogic представил новую модель ручного сканера штрихкодов общего назначения Heron HD3100. Стоит отметить, что новая модель имеет',
      img: 'news-pic-2.jpg'
    },
    {
      date: '31.09<br>2017',
      title: 'Принтеры TSC получили сертификацию ENERGY STAR',
      text: 'ID Technology Co., Ltd. (TSC), занимающейся разработками и производством термопринтеров штрих-кодов, был показан хороший ...',
      img: 'news-pic-3.jpg'
    }
  ]; 

.news-list-2
  .news-list-2__title Новости
  .news-list-2__wrap
    .row
      each item in data
        .col-lg-3.col-md-6.col-6.news-list-2__col
          -
            var newsLinkData = item;
          include ../news-link/index
  .news-list-2__btn-wrap
    +btn-primary({text: 'Все новости'})