.studio.studio--invert
  .inner
    .pic
      img(src=DB.DIR + 'img/studio--invert.svg', alt='Студия Борового', title='Студия Борового')
    .text-wrap
      | Разработка и продвижение сайта —
      = ' '
      a.link(href='http://www.db.by/', target='_blank') Студия Борового