.studio.studio--invert
  .inner
    .pic
      img(src=DB.DIR + 'img/studio--invert.svg', alt='Студия ', title='Студия')
    .text-wrap
      | Разработка и продвижение сайта —
      = ' '
      a.link(href='#', target='_blank') Студия