.fast-bx
  #bx-composite-banner(style='display: inline-block; vertical-align: middle;')
    a.bx-composite-btn.bx-btn-white(target='_blank', href='http://www.1c-bitrix.ru/composite/', style='background-color: rgb(233, 69, 36);') Быстро с 1С-Битрикс