nav
  ul.pagination.list-reset
    li.page-item.disabled
      span.page-link.prev
    li.page-item.active
      a.page-link(href='#')
        | 1
        span.sr-only (current)
    li.page-item
      a.page-link(href='#') 2
    li.page-item
      a.page-link(href='#') 3
    li.page-item
      a.page-link(href='#') ...
    li.page-item
      a.page-link(href='#') 67
    li.page-item.hover
      a.page-link(href='#') 68
    li.page-item
      a.page-link(href='#') 69
    li.page-item
      a.page-link.next(href='#')