include ../../sliders/template/sl-prod-nav/index
include ../../sliders/nav/sl-nav-5/index

+sl-prod-nav({
    nav: 'sl-nav-5',
    slides: [
        {
            pic: 'sl-prod-0.png'
        },
        {
            pic: 'sl-prod-1.png'
        },
        {
            pic: 'sl-prod-2.png'
        },
        {
            pic: 'sl-prod-3.png'
        }
    ]
})