-
  var alphabet = [
    'а', 'б', 'в', 'г', 'д', 'е', 'ё', 'ж', 'з', 'и', 'к', 'л',
    'м', 'н', 'о', 'п', 'р', 'с', 'т', 'у', 'ф', 'х', 'ц', 'ч',
    'ш', 'щ', 'э', 'ю', 'я'
  ];
.glossary
  .abc
    ul.lang-list.list-reset
      li.item
        span.letter._active A
      li.item
        a.letter(href='/about/glossary/14/') Б
      li.item
        a.letter(href='/about/glossary/15/') В
      li.item
        a.letter(href='/about/glossary/16/') Г
      li.item
        a.letter(href='/about/glossary/17/') Д
      li.item
        span.letter._disable Е
      li.item
        span.letter._disable Ё
      li.item
        span.letter._disable Ж
      li.item
        a.letter(href='/about/glossary/21/') З
      li.item
        a.letter(href='/about/glossary/22/') И
      li.item
        a.letter(href='/about/glossary/23/') К
      li.item
        a.letter(href='/about/glossary/24/') Л
      li.item
        a.letter(href='/about/glossary/25/') М
      li.item
        span.letter._disable Н
      li.item
        a.letter(href='/about/glossary/27/') О
      li.item
        a.letter(href='/about/glossary/28/') П
      li.item
        a.letter(href='/about/glossary/29/') Р
      li.item
        a.letter(href='/about/glossary/30/') С
      li.item
        a.letter(href='/about/glossary/31/') Т
      li.item
        span.letter._disable У
      li.item
        span.letter._disable Ф
      li.item
        a.letter(href='/about/glossary/34/') Х
      li.item
        a.letter(href='/about/glossary/35/') Ц
      li.item
        span.letter._disable Ч
      li.item
        span.letter._disable Ш
      li.item
        span.letter._disable Щ
      li.item
        a.letter(href='/about/glossary/39/') Э
      li.item
        span.letter._disable Ю
      li.item
        span.letter._disable Я
  #rubricator-elems-list.b-result.clearfix
    span.big-letter A
    ul.links-list.list-reset
      li#bx_3966226736_86.links-item
        a(href='/about/glossary/13/#elem-86', data-fix='86', data-href='elem-86') Акционер
      li#bx_3966226736_87.links-item
        a(href='/about/glossary/13/#elem-87', data-fix='87', data-href='elem-87') Акция
    ul.links-list.list-reset
      li#bx_3966226736_88.links-item
        a(href='/about/glossary/13/#elem-88', data-fix='88', data-href='elem-88') Андеррайтер
      li#bx_3966226736_89.links-item
        a(href='/about/glossary/13/#elem-89', data-fix='89', data-href='elem-89') Арбитраж
    ul.links-list.list-reset
      li#bx_3966226736_90.links-item
        a(href='/about/glossary/13/#elem-90', data-fix='90', data-href='elem-90') Аудитор независимый
      li#bx_3966226736_91.links-item
        a(href='/about/glossary/13/#elem-91', data-fix='91', data-href='elem-91') Аффилированное лицо
    ul.links-list.list-reset