.b-distribution .b-map {
    position: relative;
    margin: 0 0px 40px 0px;
    border-top: 8px solid #157087;
    background: #dcdcdc;
}

.b-index-map-info {
    position: absolute;
    width: 265px;
    height: 340px;
    right: 14px;
    z-index: 5;
    overflow: hidden;
    margin-top: 35px;
    margin-right: 35px;
}

.b-index-map-info dd {
    margin-left: 0;
    margin-bottom: 2px;
}

.b-map-e-ugc-title {
    margin-bottom: 5px;
}

.b-contact-info-block-tab {
    margin-left: 28px;
    margin-bottom: 44px;
    margin-top: -10px;
}

.b-index-map-info-header {
    padding: 14px 15px;
    background: #d61717;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

.b-index-map-info-text {
    padding: 20px 15px;
}

.b-index-map-info-contacts {
    padding: 10px 15px;
}

.b-index-map-info-contacts {
    background: #fff;
    color: #0e2129;
}

.b-index-map-info-contacts a {
    color: #0e65b7;
}

.b-index-map-info-contacts a:focus, .b-index-map-info-contacts a:hover {
}

.b-index-map-info-contacts h5 {
    margin-bottom: 20px;
}

.b-index-map-info-contacts-table {
    width: 100%;
    text-align: left;
}

.b-index-map-info-contacts-table tbody td {

}

.b-index-map-info-contacts dl.contact {
    font: 12px/1.4 Arial, Regular;
    position: relative;
    overflow: hidden;
    color: #0e2129;
}

.b-index-map-info-contacts h4 {
    color: #0e2129;
    font-size: 12px;
    margin: 5px 0 20px 0;
    font-weight: bold;
}

.b-distribution li.item {
    padding-bottom: 15px;
}

.b-contact-city {
    margin: 35px;
}

.g-content .b-contact-city {
    margin: 0 0 35px 0;
}

.b-contact-city .contact-city-list, .b-contact-city .contact-city-list-fix {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
}

.b-contact-city .contact-city-item {
    width: 160px;
    margin: 0 0px 5px 0px;
}

.b-contact-city .contact-city-item.first {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0px 10px 0px;
}

.contact-city-item._active a, .contact-city-item._active span {
    color: #E72D2E;
}

.b-map-city {
    margin-bottom: 30px;
}

.b-contact-city .map-city-title {
    margin: 10px 0 0;
}

.b-map-city .b-map {
    -moz-box-shadow: 3px 11px 13px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 3px 11px 13px rgba(0, 0, 0, 0.21);
    box-shadow: 3px 11px 13px rgba(0, 0, 0, 0.21);
}

.g-content .b-contact-city ul li {
    list-style: none;
}

.b-table-adress td p {
    margin-bottom: -5px;
}

.b-table-adress tr td:nth-child(1) {
    width: 200px;
}
.table-responsive {
    width: 100%;
    margin-bottom: 16px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid rgba(193,191,188,.44);
    -webkit-overflow-scrolling: touch;
}
#perspective .wide #title {
    margin-left: 0 !important;
}