extends ../../tpl/main
block pageVars
  - DB.pageTitle = 'Цитаты';
  - DB.layout = 'wide';
  - DB.DIR = '../../';
block content
  include ../../../components/base/blockquote/index
  include ../../../components/block/lorem/index
  include ../../../components/base/blockquote1/index
  include ../../../components/block/lorem/index
  include ../../../components/base/blockquote2/index
  include ../../../components/block/lorem/index
  include ../../../components/base/blockquote3/index
  include ../../../components/block/lorem/index
  include ../../../components/base/blockquote4/index
  include ../../../components/block/lorem/index
  include ../../../components/base/blockquote5/index
  include ../../../components/block/lorem/index
  include ../../../components/base/blockquote6/index
  include ../../../components/block/lorem/index