extends ../../tpl/main
block pageVars
  - DB.pageTitle = 'Item Quantity';
  - DB.layout = 'wide';
  - DB.DIR = '../../';
block content
  include ../../../components/catalog/item-quantity/index
  include ../../../components/catalog/item-quantity-2/index
block aside