extends ../../tpl/main
block pageVars
  - DB.pageTitle = 'Main pic';
  - DB.layout = 'wide';
  - DB.DIR = '../../';
block breadcrumbs
block title
  include ../../../components/block/main-pic/index
block content