.lang-2
  ul.list_1.list-reset
    li.item_1
      a.link_1(href='#')
        span Eng
      .submenu.dropdown-menu
        ul.list_2.list-reset
          li.item_1
            a.link_1(href='#')
              span Бел
          li.item_1
            span.link_1
              span Каз
          li.item_1.active
            a.link_1(href='#')
              span Esp
          li.item_1.active
            span.link_1
              span De