.contacts-2
  .row.contacts-2__list
    .col-12.col-lg-6.contacts-2__item
      .contacts-2__inner
        .contacts-2__text
          .h3.contacts-2__title Главный офис
          .contacts-2__address 220072, Республика Беларусь, г. Минск, ул. П.Бровки, 19, к. 301
          .contacts-2__phones
            a(href='tel:+375172840405') +375 (17) 284-04-05
            |;
            =' '
            a(href='tel:+375172841212') +375 (17) 284-12-12
          .contacts-2__mails
            a(href='mailto:info@belkosmex.by') info@belkosmex.by
    .col-12.col-lg-6.contacts-2__item
      .contacts-2__inner
        .contacts-2__text
          .h3.contacts-2__title Отдел продаж по Республике Беларусь
          .contacts-2__phones
            a(href='tel:+375172841273') +375 (17) 284-12-73
            br
            a(href='tel:+375172841182') +375 (17) 284-11-82
            br
            a(href='tel:+375172840405') +375 (17) 284-04-05
          .contacts-2__mails
            a(href='mailto:sales@belkosmex.by') sales@belkosmex.by
    .col-12.col-lg-6.contacts-2__item
      .contacts-2__inner
        .contacts-2__text
          .h3.contacts-2__title Отдел экспортных продаж
          .contacts-2__phones
            a(href='tel:+375172841144') +375 (17) 284-11-44
            br
            a(href='tel:+375172841532') +375 (17) 284-15-32
          .contacts-2__mails
            a(href='mailto:export@belkosmex.by') export@belkosmex.by
    .col-12.col-lg-6.contacts-2__item
      .contacts-2__inner
        .contacts-2__text
          .h3.contacts-2__title Лаборатория
          .contacts-2__address 220072, Республика Беларусь, г. Минск, ул. П.Бровки, 19, к. 301
          .contacts-2__phones
            a(href='tel:+375172842577') +375 (17) 284-25-77
          .h3.contacts-2__title Производство
          .contacts-2__address 220072, Республика Беларусь, г. Фаниполь, ул. Заводская, 25
          .contacts-2__phones
            a(href='tel:+375171692440') +375 (17) 169-24-40