if (elementTitle === undefined)
  - var elementTitle = 'Меньший размер заголовка для самого лучшего товара с длинным заголовком H1-2';
.element-title
  h1.small.title#title #{elementTitle}
  include ../element-rating/index