extends ../../tpl/main
block pageVars
  - DB.pageTitle = 'Element without photo (Not avail)';
  - DB.DIR = '../../';
  - DB.layout = 'wide';
  - DB.catalogTovarIsAvail = false;
  - DB.catalogPic = false;
block pagehead
  include ../../../components/block/ya-share2-styles/index
block title
  include ../../../components/catalog/element-title/index
block content
  include ../../../components/catalog/element-sale/index
  include ../../../components/catalog/element-descr/index
  include ../../../components/block/ya-share2/index
  include ../../../components/catalog/element-descr-accord/index
  include ../../../components/catalog/element-descr-table/index
  include ../../../components/catalog/element-link-all/index
  include ../../../components/catalog/element-prevs/index
  include ../../../components/catalog/element-seo-text/index