.dropdown-valid {

  .controls {

    .g-wrap & {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .input-wrap {
    position: relative;
  }

  .error-drop {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    .dropdown-menu {
      z-index: 100;
      margin-top: 0;
      left: auto;
      max-width: 290px;
      min-width: initial;
      border: none;
      white-space: nowrap;
      border-radius: $border-radius-base;
      padding: 5px 16px;
      box-shadow: 0 0 8px -1px rgba(0,0,0,.35);
    }
  }

  .error-icon {
    height: 100%;
    position: relative;
    z-index: 5;
    border: 0;
    background: transparent;
    padding: 0 15px;
    color: $state-danger-text;
    cursor: pointer;
  }

  .controls {

    .error {
      margin-top: 0;
    }
  }

  .ui-spinner {

    .form-control {
      padding-right: 50px;
    }

    + .error-drop {
      right: 20px;
    }
  }

  .checkbox,
  .radio {
    padding-right: 37px;

    + .error-drop {
      bottom: auto;
    }
  }

  textarea {

    + .error-drop {
      bottom: auto;
      height: 34px;
    }
  }

  &.has-error {

    .form-control {
      padding-right: 35px;
    }

    .error-drop {
      display: block;
    }

    .jq-selectbox {
      padding-right: 0;

      &__select {
        padding-right:  38px * 1.3;

        .jq-selectbox__trigger {
          right: 22px;
        }

        &:hover,
        &:focus {
          border-color: $state-danger-text;
        }
      }
    }

    .ui-selectmenu-icon {
      right: 22px;
    }
  }
}