.head-links
  .head-links__row
    .head-links__col
      a.head-links__link.head-links__link--location(href="#")
        .head-links__icon
    .head-links__col
      a.head-links__link.head-links__link--human(href="#")
        .head-links__icon